Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$


fix(OMN-10970): relax core pin for receipt gate
  pyproject.toml
  uv.lock
Due: none

fix(OMN-11008): remove LOCAL_LLM_SHARED_SECRET source synthesis in adapter
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-11045): route merge queue off self-hosted runner
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/code-review-bot.yml
  .github/workflows/contract-validation.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/stale-todo-gate.yml
Due: none

fix(OMN-11045): route merge queue off self-hosted runner (#652)
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/code-review-bot.yml
  .github/workflows/contract-validation.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/stale-todo-gate.yml
Due: none

fix(OMN-11008): remove LOCAL_LLM_SHARED_SECRET source synthesis in adapter (#651)
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-10970): wire skip-token rejection CI gate (#650)
  .github/workflows/call-reject-skip.yml
  pyproject.toml
  uv.lock
Due: none

chore: release v0.24.0
  pyproject.toml
Due: none

fix(OMN-9210/OMN-9211): fix node_type casing and invalid topic names in omniintelligence
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/contract.yaml
  src/omniintelligence/nodes/node_compliance_evaluate_effect/contract.yaml
  src/omniintelligence/nodes/node_pattern_compliance_effect/contract.yaml
  src/omniintelligence/nodes/node_policy_state_reducer/contract.yaml
  src/omniintelligence/nodes/node_routing_feedback_effect/contract.yaml
Due: none

fix(OMN-9210/OMN-9211): fix node_type casing and invalid topic names in omniintelligence (#653)
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/contract.yaml
  src/omniintelligence/nodes/node_compliance_evaluate_effect/contract.yaml
  src/omniintelligence/nodes/node_pattern_compliance_effect/contract.yaml
  src/omniintelligence/nodes/node_policy_state_reducer/contract.yaml
  src/omniintelligence/nodes/node_routing_feedback_effect/contract.yaml
Due: none

fix(OMN-11166): flip boundary-parity gate from advisory to blocking in omniintelligence
  .github/workflows/ci.yml
Due: none

ci(OMN-11166): clone OCC for boundary parity
  .github/workflows/ci.yml
Due: none

fix(OMN-11166): flip boundary-parity gate from advisory to blocking in omniintelligence (#654)
  .github/workflows/ci.yml
Due: none

fix: resolve pre-existing unit test failures exposed by full-suite CI run
  src/omniintelligence/debug_intel/debug_store.repository.yaml
  src/omniintelligence/nodes/audit/node_context_audit_aggregator_compute.py
  src/omniintelligence/nodes/node_anti_gaming_alerter_effect/node.py
  src/omniintelligence/nodes/node_ast_extraction_compute/node.py
  src/omniintelligence/nodes/node_code_entity_bridge_compute/node.py
  src/omniintelligence/nodes/node_evidence_collection_effect/node.py
  src/omniintelligence/nodes/node_intent_cost_forecast_compute/node.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/node.py
  src/omniintelligence/nodes/node_policy_state_reducer/node.py
  tests/unit/test_intent_topics.py
  tests/unit/test_omnidash_topic_registry.py
  tests/unit/test_package_installability.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix: guard cross-repo tests + stub LLM_EMBEDDING_URL in CI
  tests/unit/nodes/node_ast_extraction_compute/test_extract_base_node_classes.py
  tests/unit/nodes/node_ast_extraction_compute/test_multi_repo_crawl_counts.py
  tests/unit/nodes/node_gmail_intent_evaluator_effect/conftest.py
Due: check-ai-slop

fix: harden CI skip guards for cross-repo and env-var-dependent tests
  tests/unit/nodes/node_ast_extraction_compute/test_multi_repo_crawl_counts.py
  tests/unit/nodes/node_gmail_intent_evaluator_effect/conftest.py
Due: check-ai-slop

fix: skip test_extraction_quality_baseline when omnibase_core absent
  tests/unit/nodes/node_ast_extraction_compute/test_extraction_quality_baseline.py
Due: check-ai-slop

fix: add return after pytest.skip to resolve CodeQL uninitialized-local-variable alert
  tests/unit/nodes/node_ast_extraction_compute/test_extract_base_node_classes.py
Due: check-ai-slop

chore: release omniintelligence v0.24.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-ai-slop

fix(OMN-11353): align topic enums with core helper rename
  src/omniintelligence/topics.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

test(OMN-11353): avoid enum iteration CodeQL false positives
  tests/unit/test_intent_topics.py
  tests/unit/test_omnidash_topic_registry.py
Due: check-ai-slop

chore(OMN-11348): release omniintelligence v0.24.0 (#657)
  CHANGELOG.md
  pyproject.toml
  src/omniintelligence/topics.py
  tests/unit/test_intent_topics.py
  tests/unit/test_omnidash_topic_registry.py
  uv.lock
Due: mypy-type-check, onex-validate-naming, check-ai-slop

ci(OMN-11424): add edited trigger to receipt-gate caller workflow
  .github/workflows/call-receipt-gate.yml
Due: none

ci(OMN-11424): add edited trigger to receipt-gate caller workflow (#658)
  .github/workflows/call-receipt-gate.yml
Due: none

feat(OMN-8161): wire pattern-scored.v1 producer in node_pattern_feedback_effect
  src/omniintelligence/constants.py
  src/omniintelligence/nodes/node_pattern_feedback_effect/contract.yaml
  src/omniintelligence/nodes/node_pattern_feedback_effect/handlers/handler_session_outcome.py
  tests/unit/nodes/node_pattern_feedback_effect/test_handler_session_outcome.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(OMN-11568): route memory eval through compute node
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/handlers/handler_bloom_eval_effect.py
  tests/nodes/node_bloom_eval_orchestrator/test_handler_bloom_eval_effect.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(OMN-11565): wire debug store into CI tracker runtime
  src/omniintelligence/debug_intel/debug_store.repository.yaml
  src/omniintelligence/runtime/plugin.py
  tests/unit/runtime/test_plugin_dispatch.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(OMN-11561): delegate CI fingerprint dispatch to compute node
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_dispatch_handler_reducer_ci.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(OMN-11554): wire bloom eval runtime handler
  src/omniintelligence/runtime/dispatch_handlers.py
  src/omniintelligence/runtime/plugin.py
  tests/unit/runtime/test_dispatch_handlers.py
  tests/unit/runtime/test_plugin_dispatch.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat(OMN-11551): wire contract eval compute into bloom runtime
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/handlers/handler_bloom_eval_effect.py
  src/omniintelligence/nodes/node_contract_eval_compute/__init__.py
  src/omniintelligence/nodes/node_contract_eval_compute/contract.yaml
  src/omniintelligence/nodes/node_contract_eval_compute/models/__init__.py
  src/omniintelligence/nodes/node_contract_eval_compute/models/model_contract_eval_input.py
  src/omniintelligence/nodes/node_contract_eval_compute/node.py
  tests/integration/nodes/node_bloom_eval_orchestrator/test_golden_chain.py
  tests/nodes/node_bloom_eval_orchestrator/test_handler_bloom_eval_effect.py
  tests/nodes/node_contract_eval_compute/test_handlers.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

test(OMN-11621): cover ai slop validator
  tests/unit/scripts/test_check_ai_slop.py
Due: check-ai-slop
