Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: onex-patterns, onex-union-usage, contract-linter, pytest-tools

onex-patterns:
  name: onex patterns
  entry: uv run python -m omnibase_core.validation.cli patterns src/omniintelligence/tools
  language: system
  pass_filenames: false

onex-union-usage:
  name: onex union-usage
  entry: uv run python -m omnibase_core.validation.cli union-usage src/omniintelligence/tools
  language: system
  pass_filenames: false

contract-linter:
  name: contract linter
  entry: uv run python -m omniintelligence.tools.contract_linter
  language: system
  pass_filenames: true

pytest-tools:
  name: pytest (tools)
  entry: uv run pytest tests/unit/tools/ -v --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(OMN-241): address PR #5 review feedback - release ready
  CLAUDE.md
  scripts/validate.py
  src/omniintelligence/tools/README.md
Due: none

fix(OMN-241): add types-pyyaml to uv dependency groups for CI
  pyproject.toml
Due: none

style(OMN-241): fix ruff format issues in test_contract_linter.py
  tests/unit/tools/test_contract_linter.py
Due: pytest-tools

chore(OMN-241): remove stale TDD comment from test docstring
  tests/unit/tools/test_contract_linter.py
Due: pytest-tools

fix(OMN-241): address PR #5 review feedback - contract paths and linter improvements
  pyproject.toml
  src/omniintelligence/_legacy/nodes/entity_extraction_compute/v1_0_0/contracts/compute_contract.yaml
  src/omniintelligence/_legacy/nodes/intelligence_orchestrator/v1_0_0/contracts/orchestrator_contract.yaml
  src/omniintelligence/_legacy/nodes/intelligence_reducer/v1_0_0/contracts/reducer_contract.yaml
  src/omniintelligence/_legacy/nodes/memgraph_graph_effect/v1_0_0/contracts/effect_contract.yaml
  src/omniintelligence/_legacy/nodes/qdrant_vector_effect/v1_0_0/contracts/effect_contract.yaml
  src/omniintelligence/_legacy/nodes/relationship_detection_compute/v1_0_0/contracts/compute_contract.yaml
  src/omniintelligence/_legacy/utils/__init__.py
  src/omniintelligence/tools/contract_linter.py
Due: onex-patterns, onex-union-usage, pytest-tools

fix(OMN-241): update strict mode test to expect NotImplementedError
  tests/unit/tools/test_contract_linter.py
Due: pytest-tools

feat(OMN-241): address PR #5 review feedback - tests, security, docs
  README.md
  docs/CONTRACT_MIGRATION_GUIDE.md
  src/omniintelligence/tools/contract_linter.py
  tests/unit/tools/test_contract_linter.py
Due: onex-patterns, onex-union-usage, pytest-tools

style(OMN-241): fix ruff format for assert statements (ruff 0.14.7)
  tests/unit/tools/test_contract_linter.py
Due: pytest-tools

refactor(OMN-241): improve field validation regex and split test file
  src/omniintelligence/tools/contract_linter.py
  tests/unit/tools/conftest.py
  tests/unit/tools/test_contract_linter.py
  tests/unit/tools/test_contract_linter_cli.py
  tests/unit/tools/test_contract_linter_contracts.py
  tests/unit/tools/test_contract_linter_helpers.py
  tests/unit/tools/test_contract_linter_models.py
  tests/unit/tools/test_contract_linter_validation.py
Due: onex-patterns, onex-union-usage, pytest-tools

fix(OMN-241): use FSM subcontract in nested field path test
  tests/unit/tools/test_contract_linter_helpers.py
Due: pytest-tools

fix(OMN-241): address remaining PR #5 review feedback
  pyproject.toml
  src/omniintelligence/_legacy/utils/__init__.py
  src/omniintelligence/utils/__init__.py
  src/omniintelligence/utils/log_sanitizer.py
Due: none

fix(OMN-241): address final PR #5 review nitpicks and import fixes
  src/omniintelligence/_legacy/__init__.py
  src/omniintelligence/_legacy/nodes/memgraph_graph_effect/__init__.py
  src/omniintelligence/_legacy/nodes/memgraph_graph_effect/v1_0_0/__init__.py
  src/omniintelligence/tools/contract_linter.py
  tests/unit/tools/test_contract_linter_helpers.py
Due: onex-patterns, onex-union-usage, pytest-tools

feat(OMN-241): add parallel validation, CI timing, and watch mode
  .github/workflows/ci.yaml
  src/omniintelligence/tools/contract_linter.py
  tests/unit/tools/test_contract_linter_cli.py
Due: onex-patterns, onex-union-usage, pytest-tools

fix(OMN-241): make watch mode tests deterministic with mtime mocking
  tests/unit/tools/test_contract_linter_cli.py
Due: pytest-tools

fix(OMN-241): move test imports to module level for PLC0415 compliance
  tests/unit/tools/test_contract_linter_cli.py
Due: pytest-tools

fix(OMN-241): address PR #5 review feedback and Python 3.12 compatibility
  tests/unit/tools/test_contract_linter_cli.py
  tests/unit/tools/test_contract_linter_models.py
  tests/unit/tools/test_contract_linter_validation.py
Due: pytest-tools

fix(OMN-241): apply ruff format to remaining test files
  tests/unit/tools/test_contract_linter_helpers.py
  tests/unit/tools/test_contract_linter_validation.py
Due: pytest-tools

fix(OMN-241): include tests/unit/tools/ in pre-commit hooks
  .pre-commit-config.yaml
Due: none

fix(OMN-241): add st_mode/st_size to MockStat, revert mypy on tests
  .pre-commit-config.yaml
  tests/unit/tools/test_contract_linter_cli.py
Due: pytest-tools

fix(OMN-241): add pytest markers to test_contract_linter_cli.py
  tests/unit/tools/test_contract_linter_cli.py
Due: pytest-tools

fix(OMN-241): resolve all ruff linting and formatting issues
  tests/conftest.py
  tests/integration/test_orchestrator.py
  tests/nodes/kafka_event_effect/test_kafka_event_effect.py
  tests/nodes/test_node_intelligence_adapter_effect.py
  tests/nodes/test_pattern_extraction_integration.py
  tests/nodes/test_vectorization_compute.py
  tests/unit/test_client_intelligence_service.py
  tests/unit/test_enums.py
  tests/unit/test_event_publisher.py
  tests/unit/test_log_sanitizer.py
  tests/unit/test_models.py
  tests/unit/test_reducer.py
Due: none

fix(OMN-241): align pre-commit ruff version with CI lockfile
  .pre-commit-config.yaml
  tests/unit/tools/test_contract_linter_cli.py
  tests/unit/tools/test_contract_linter_helpers.py
Due: pytest-tools

fix(OMN-241): future-proof contract glob pattern for multiple versions
  scripts/validate.py
Due: none

fix: skip legacy contract tests in _legacy folder
  tests/unit/tools/test_contract_linter_cli.py
  tests/unit/tools/test_contract_linter_contracts.py
Due: pytest-tools

fix(OMN-241): address all PR #5 review feedback - production ready
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/validate.py
  src/omniintelligence/tools/README.md
  src/omniintelligence/tools/contract_linter.py
  tests/unit/tools/conftest.py
  tests/unit/tools/test_contract_linter_cli.py
  tests/unit/tools/test_contract_linter_contracts.py
  tests/unit/tools/test_contract_linter_helpers.py
  tests/unit/tools/test_contract_linter_models.py
  tests/unit/tools/test_contract_linter_validation.py
Due: onex-patterns, onex-union-usage, pytest-tools

fix(OMN-241): pin omnibase-core to 0.3.5 to fix CI failures
  pyproject.toml
  uv.lock
Due: none

fix(OMN-241): address remaining PR #5 review feedback
  scripts/validate.py
  src/omniintelligence/tools/README.md
  src/omniintelligence/tools/contract_linter.py
  tests/unit/tools/test_contract_linter_cli.py
  tests/unit/tools/test_contract_linter_helpers.py
Due: onex-patterns, onex-union-usage, pytest-tools

feat(OMN-304): Add IntelligenceRuntimeConfig Pydantic model
  src/omniintelligence/runtime/__init__.py
  src/omniintelligence/runtime/contracts/__init__.py
  src/omniintelligence/runtime/contracts/runtime_config.yaml
  src/omniintelligence/runtime/runtime_config.py
Due: none

docs: add CHANGELOG.md following Keep a Changelog format
  CHANGELOG.md
Due: none

feat(OMN-433): Align pre-commit config with omnibase_core patterns
  .pre-commit-config.yaml
  OMNIARCHON_MIGRATION_INVENTORY.md
  deployment/docker/docker-compose.yml
  docs/migrations/omniarchon_to_omniintelligence.md
  pyproject.toml
  src/omniintelligence/runtime/runtime_config.py
Due: none

fix(OMN-433): Address PR review feedback on pre-commit config
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .pre-commit-config.yaml
Due: none

fix(OMN-433): Exclude GitHub workflows from file hygiene hooks
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .pre-commit-config.yaml
Due: none

feat(OMN-433): Add yamlfmt config and optimize smoke test trigger
  .pre-commit-config.yaml
  .yamlfmt
  deployment/docker/docker-compose.nodes.yml
  deployment/docker/docker-compose.yml
  src/omniintelligence/runtime/contracts/runtime_config.yaml
Due: none

ci(OMN-433): Add pre-commit hooks job to GitHub Actions CI
  .github/workflows/ci.yaml
Due: none

fix(OMN-433): Add pre-commit to UV dependency groups
  pyproject.toml
Due: none

ci(OMN-433): Align CI job scope with pre-commit and add path filtering
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  uv.lock
Due: none

perf(OMN-433): Optimize pre-commit hooks and improve documentation
  .pre-commit-config.yaml
Due: none

fix(OMN-433): Address PR review feedback for pre-commit alignment
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Due: none

Path conditions:
  onex-patterns: any of: ^src/omniintelligence/tools/.*\.py$, but not: (?x)^(
  src/omniintelligence/_legacy/.*|
  migration_sources/.*|
  \.git/.*
)$

  onex-union-usage: any of: ^src/omniintelligence/tools/.*\.py$, but not: (?x)^(
  src/omniintelligence/_legacy/.*|
  migration_sources/.*|
  \.git/.*
)$

  contract-linter: any of: ^src/omniintelligence/nodes/[^/]+/v[^/]+/contracts/(.*_contract\.yaml|fsm_.*\.yaml)$, but not: (?x)^(
  src/omniintelligence/_legacy/.*|
  migration_sources/.*|
  \.git/.*
)$

  pytest-tools: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$, but not: (?x)^(
  src/omniintelligence/_legacy/.*|
  migration_sources/.*|
  \.git/.*
)$

