Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$


chore(deps, OMN-13902): refresh omninode sibling locks [bot]
  uv.lock
Due: none

fix: code-quality source read resolves the worktrees root inside OMNI_HOME, not its sibling
  src/omniintelligence/runtime/dispatch_handler_code_quality.py
  tests/unit/runtime/test_dispatch_handler_classify_quality.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(OMN-19395): the adversarial reviewer treats a full-SHA workflow pin as compliant
  src/omniintelligence/review_pairing/prompts/adversarial_reviewer.py
  tests/unit/review_pairing/prompts/test_adversarial_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

test(OMN-19396): code-quality source read with OMNI_HOME unset reads nothing
  tests/unit/runtime/test_dispatch_handler_classify_quality.py
Due: check-ai-slop

fix(OMN-19395): the adversarial reviewer treats a full-SHA workflow pin as compliant (#939)
  src/omniintelligence/review_pairing/prompts/adversarial_reviewer.py
  tests/unit/review_pairing/prompts/test_adversarial_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-19396): code-quality source read resolves the worktrees root inside OMNI_HOME, not its sibling (#940)
  src/omniintelligence/runtime/dispatch_handler_code_quality.py
  tests/unit/runtime/test_dispatch_handler_classify_quality.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

docs(OMN-19396): .env.example states the worktrees default as $OMNI_HOME/omni_worktrees
  .env.example
Due: none

docs(OMN-19396): .env.example states the worktrees default as $OMNI_HOME/omni_worktrees (#941)
  .env.example
Due: none

fix(OMN-19512): receipt gates re-run on ready_for_review so a draft-era red is refreshed
  .github/workflows/call-receipt-gate.yml
  .github/workflows/receipt-honesty.yml
Due: none

fix(OMN-19512): receipt gates re-run on ready_for_review so a draft-era red is refreshed (#943)
  .github/workflows/call-receipt-gate.yml
  .github/workflows/receipt-honesty.yml
Due: none

feat(OMN-17492): register gpt-oss-120b as a hostile reviewer that is a different model, and name an unreachable reviewer in the result
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/cli_review.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/models_external_review.py
  tests/unit/review_pairing/test_gpt_oss_reviewer_registered_omn17492.py
  tests/unit/review_pairing/test_model_registry_loader.py
  tests/unit/review_pairing/test_no_hardcoded_model_id.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(OMN-17492): register gpt-oss-120b as a hostile reviewer that is a different model, and name an unreachable reviewer in the result (#945)
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/cli_review.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/models_external_review.py
  tests/unit/review_pairing/test_gpt_oss_reviewer_registered_omn17492.py
  tests/unit/review_pairing/test_model_registry_loader.py
  tests/unit/review_pairing/test_no_hardcoded_model_id.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

ci(OMN-19646): cancel superseded pull request runs
  .github/workflows/auto-tag-on-merge.yml
  .github/workflows/ban-hardcoded-runner-ip.yml
  .github/workflows/call-receipt-gate.yml
  .github/workflows/call-reject-skip.yml
  .github/workflows/canonical-inference-gate.yml
  .github/workflows/check-handshake.yml
  .github/workflows/code-review-bot.yml
  .github/workflows/dep-provenance-gate.yml
  .github/workflows/docs-validate.yml
  .github/workflows/imperative-contract-guard.yml
  .github/workflows/kb-doc-gate.yml
  .github/workflows/main-target-guard.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/pr-title-check.yml
  .github/workflows/public-repo-hygiene.yml
  .github/workflows/secrets-baseline-wiring.yml
  .github/workflows/security-scan.yml
  .github/workflows/stale-todo-gate.yml
  .github/workflows/todo-audit-on-merge.yml
  .github/workflows/url-authority-gate.yml
  .github/workflows/validate-validator-requirements.yml
  .github/workflows/workflow-script-refs.yml
Due: none

fix(OMN-17492): the review quorum counts distinct endpoint+model reviewers, and the qwen3-review-b, deepseek-r1 and glm-review keys are deleted
  CLAUDE.md
  README.md
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/cli_calibration.py
  src/omniintelligence/review_pairing/cli_review.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/models_external_review.py
  src/omniintelligence/review_pairing/quorum.py
  src/omniintelligence/review_pairing/retry_budget.py
  src/omniintelligence/review_pairing/reviewer_identity.py
  src/omniintelligence/review_pairing/served_model_resolver.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer_fallback.py
  tests/unit/review_pairing/test_gpt_oss_reviewer_registered_omn17492.py
  tests/unit/review_pairing/test_model_registry_loader.py
  tests/unit/review_pairing/test_no_hardcoded_model_id.py
  tests/unit/review_pairing/test_quorum_distinct_reviewers_omn17492.py
  tests/unit/review_pairing/test_resolution_failure_degrades.py
  tests/unit/review_pairing/test_retry_budget.py
  tests/unit/review_pairing/test_served_model_resolver.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(OMN-19655): judge PyPI pin resolvability before merge, with the release step's own script
  .github/workflows/pin-resolvability-gate.yml
  .github/workflows/release.yml
  scripts/ci/verify_pypi_pin_resolvability.py
  tests/ci/test_pin_resolvability_conflict_report.py
  tests/ci/test_pin_resolvability_gate_workflow.py
Due: check-ai-slop

fix(OMN-17492): a declared model id spelled served cannot pass for a served reviewer on the same endpoint
  src/omniintelligence/review_pairing/reviewer_identity.py
  tests/unit/review_pairing/test_quorum_distinct_reviewers_omn17492.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

perf(pre-commit): scope validators to staged files
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/check_no_cloud_bus_wrapper.sh
  scripts/validation/check_kafka_no_hardcoded_fallback.py
  scripts/validation/validate_naming.py
  tests/unit/scripts/test_precommit_staged_scope_omn19612.py
Due: check-ai-slop

ci(OMN-19646): cancel superseded pull request runs in 22 workflows (#947)
  .github/workflows/auto-tag-on-merge.yml
  .github/workflows/ban-hardcoded-runner-ip.yml
  .github/workflows/call-receipt-gate.yml
  .github/workflows/call-reject-skip.yml
  .github/workflows/canonical-inference-gate.yml
  .github/workflows/check-handshake.yml
  .github/workflows/code-review-bot.yml
  .github/workflows/dep-provenance-gate.yml
  .github/workflows/docs-validate.yml
  .github/workflows/imperative-contract-guard.yml
  .github/workflows/kb-doc-gate.yml
  .github/workflows/main-target-guard.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/pr-title-check.yml
  .github/workflows/public-repo-hygiene.yml
  .github/workflows/secrets-baseline-wiring.yml
  .github/workflows/security-scan.yml
  .github/workflows/stale-todo-gate.yml
  .github/workflows/todo-audit-on-merge.yml
  .github/workflows/url-authority-gate.yml
  .github/workflows/validate-validator-requirements.yml
  .github/workflows/workflow-script-refs.yml
Due: none

test(ci): pin the whole-tree pre-commit job's shape (OMN-19612)
  tests/unit/scripts/test_precommit_staged_scope_omn19612.py
Due: check-ai-slop

fix(OMN-19666): use released pre-commit hook dependencies
  .gitignore
  .pre-commit-config.yaml
  scripts/validation/check_precommit_additional_dependencies.sh
  tests/fixtures/omn19666/pre-commit-git-dependency.yaml
  tests/fixtures/omn19666/pre-commit-pypi-dependency.yaml
  tests/test_precommit_additional_dependencies_omn19666.sh
Due: none

feat(OMN-19655): judge PyPI pin resolvability before merge, with the release step's own script (#948)
  .github/workflows/pin-resolvability-gate.yml
  .github/workflows/release.yml
  scripts/ci/verify_pypi_pin_resolvability.py
  tests/ci/test_pin_resolvability_conflict_report.py
  tests/ci/test_pin_resolvability_gate_workflow.py
Due: check-ai-slop

fix(OMN-19674): Scope Alignment recognises staged-scope ruff hooks that cover src/ and tests/
  scripts/validate_ci_precommit_alignment.py
  tests/unit/scripts/test_precommit_staged_scope_omn19612.py
  tests/unit/scripts/test_validate_ci_precommit_alignment.py
Due: check-ai-slop

fix(OMN-19666): use released pre-commit hook dependencies (#951)
  .gitignore
  .pre-commit-config.yaml
  scripts/validation/check_precommit_additional_dependencies.sh
  tests/fixtures/omn19666/pre-commit-git-dependency.yaml
  tests/fixtures/omn19666/pre-commit-pypi-dependency.yaml
  tests/test_precommit_additional_dependencies_omn19666.sh
Due: none

OMN-19612: scope local pre-commit validators in omniintelligence (#946)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/check_no_cloud_bus_wrapper.sh
  scripts/validate_ci_precommit_alignment.py
  scripts/validation/check_kafka_no_hardcoded_fallback.py
  scripts/validation/validate_naming.py
  tests/unit/scripts/test_precommit_staged_scope_omn19612.py
  tests/unit/scripts/test_validate_ci_precommit_alignment.py
Due: check-ai-slop

fix(OMN-17492): the review quorum counts distinct endpoint+model reviewers, and the qwen3-review-b, deepseek-r1 and glm-review keys are deleted (#949)
  CLAUDE.md
  README.md
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/cli_calibration.py
  src/omniintelligence/review_pairing/cli_review.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/models_external_review.py
  src/omniintelligence/review_pairing/quorum.py
  src/omniintelligence/review_pairing/retry_budget.py
  src/omniintelligence/review_pairing/reviewer_identity.py
  src/omniintelligence/review_pairing/served_model_resolver.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer_fallback.py
  tests/unit/review_pairing/test_gpt_oss_reviewer_registered_omn17492.py
  tests/unit/review_pairing/test_model_registry_loader.py
  tests/unit/review_pairing/test_no_hardcoded_model_id.py
  tests/unit/review_pairing/test_quorum_distinct_reviewers_omn17492.py
  tests/unit/review_pairing/test_resolution_failure_degrades.py
  tests/unit/review_pairing/test_retry_budget.py
  tests/unit/review_pairing/test_served_model_resolver.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

ci(OMN-19766): re-pin the public-repo hygiene caller to omniclaude 6ccd525e2
  .github/workflows/public-repo-hygiene.yml
Due: none

ci(OMN-19766): re-pin two stale reusable callers to omniclaude 6ccd525e2
  .github/workflows/kb-doc-gate.yml
  .github/workflows/secrets-baseline-wiring.yml
Due: none

ci(OMN-19766): re-pin the public-repo hygiene caller to omniclaude 6ccd525e2 (#953)
  .github/workflows/kb-doc-gate.yml
  .github/workflows/public-repo-hygiene.yml
  .github/workflows/secrets-baseline-wiring.yml
Due: none

ci(OMN-19895): bump runner-IP check pin to omniclaude#2393 merge sha
  .github/workflows/ban-hardcoded-runner-ip.yml
Due: none

ci(OMN-20005): wire the hardcoded-model-config guard with a shrink-only baseline
  .github/workflows/ci.yml
  .github/workflows/hardcoded-model-config.yml
  .pre-commit-config.yaml
  .public-repo-hygiene.yaml
  config/hardcoded_model_config_baseline.yaml
  scripts/validation/validate_clean_root.py
  src/omniintelligence/nodes/node_gmail_intent_evaluator_effect/contract.yaml
  tests/integration/nodes/node_plan_reviewer_multi_compute/test_smoke_plan_all_strategies.py
  tests/unit/bloom_eval/test_eval_llm_client.py
Due: check-ai-slop

ci(OMN-20005): repin the hardcoded-model-config caller to the merged fetch-depth fix
  .github/workflows/hardcoded-model-config.yml
Due: none

ci(OMN-20005): wire the hardcoded-model-config guard into omniintelligence (#961)
  .github/workflows/ci.yml
  .github/workflows/hardcoded-model-config.yml
  .pre-commit-config.yaml
  .public-repo-hygiene.yaml
  config/hardcoded_model_config_baseline.yaml
  scripts/validation/validate_clean_root.py
  src/omniintelligence/nodes/node_gmail_intent_evaluator_effect/contract.yaml
  tests/integration/nodes/node_plan_reviewer_multi_compute/test_smoke_plan_all_strategies.py
  tests/unit/bloom_eval/test_eval_llm_client.py
Due: check-ai-slop
