Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$


feat(OMN-13249): wire canonical-inference gate (pre-commit + CI) (#720)
  .github/workflows/canonical-inference-gate.yml
  .pre-commit-config.yaml
Due: none

docs(OMN-13283): retarget stale audit links
  docs/NODE_STATE_POLICY.md
  src/omniintelligence/audit/README.md
  tests/audit/fixtures/README.md
Due: check-ai-slop

feat(OMN-13291): wire validate-validator-requirements fleet gate (omniintelligence) (W0) (#721)
  .github/workflows/validate-validator-requirements.yml
  .pre-commit-config.yaml
  architecture-handshakes/validator-requirements-baseline.yaml
  architecture-handshakes/validator-requirements.yaml
  scripts/validation/validate_clean_root.py
Due: check-ai-slop

ci(OMN-13283): align audit selector with core purity hook
  .github/workflows/ci.yml
  pyproject.toml
  scripts/ci/detect_test_paths.py
  tests/unit/scripts/test_detect_test_paths.py
  uv.lock
Due: check-ai-slop

feat(OMN-13283): consume core transport-import + node-purity hooks, delete local io-audit scanner (#722)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/NODE_STATE_POLICY.md
  pyproject.toml
  scripts/ci/detect_test_paths.py
  scripts/validate_no_transport_imports.py
  src/omniintelligence/audit/README.md
  src/omniintelligence/audit/__init__.py
  src/omniintelligence/audit/__main__.py
  src/omniintelligence/audit/io_audit.py
  tests/audit/fixtures/README.md
  tests/audit/fixtures/io/__init__.py
  tests/audit/fixtures/io/bad_client.py
  tests/audit/fixtures/io/bad_env.py
  tests/audit/fixtures/io/bad_file.py
  tests/audit/fixtures/io/good_node.py
  tests/audit/fixtures/io/whitelisted_node.py
  tests/audit/io_audit_whitelist.yaml
  tests/audit/test_io_violations.py
  tests/unit/scripts/test_detect_test_paths.py
  tests/unit/scripts/test_validate_no_transport_imports.py
  uv.lock
Due: mypy-type-check, onex-validate-naming, io-audit, check-ai-slop

refactor(OMN-13349): decompose claude hook check extraction
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(OMN-9536): drop legacy routing.feedback bare-topic drain
  src/omniintelligence/constants.py
  src/omniintelligence/nodes/node_routing_feedback_effect/contract.yaml
  src/omniintelligence/nodes/node_routing_feedback_effect/handlers/handler_routing_feedback.py
  src/omniintelligence/nodes/node_routing_feedback_effect/node_tests/test_handler_legacy_drain.py
  src/omniintelligence/runtime/dispatch_handler_routing_feedback.py
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_contract_topics.py
  tests/unit/runtime/test_pattern_stored_triggers_projection.py
  tests/unit/runtime/test_projection_handler_registration.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

ci(OMN-9536): use reachable url authority core pin
  .github/workflows/url-authority-gate.yml
Due: none

fix(OMN-9536): drop legacy routing.feedback bare-topic drain in node_routing_feedback_effect (#724)
  .github/workflows/url-authority-gate.yml
  src/omniintelligence/constants.py
  src/omniintelligence/nodes/node_routing_feedback_effect/contract.yaml
  src/omniintelligence/nodes/node_routing_feedback_effect/handlers/handler_routing_feedback.py
  src/omniintelligence/nodes/node_routing_feedback_effect/node_tests/test_handler_legacy_drain.py
  src/omniintelligence/runtime/dispatch_handler_routing_feedback.py
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_contract_topics.py
  tests/unit/runtime/test_pattern_stored_triggers_projection.py
  tests/unit/runtime/test_projection_handler_registration.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

refactor(OMN-13349): decompose claude hook check extraction (#723)
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

docs(OMN-13455): refresh architecture docs verified against code
  docs/INDEX.md
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
  docs/reference/NODE_INVENTORY.md
Due: check-ai-slop

docs(OMN-13455): refresh architecture docs verified against code (#725)
  docs/INDEX.md
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
  docs/reference/NODE_INVENTORY.md
Due: check-ai-slop

test(OMN-13495): align dispatch counts for no-LLM env
  tests/unit/runtime/test_dispatch_handlers.py
  tests/unit/runtime/test_plugin_dispatch.py
Due: check-ai-slop

chore(deps): update omnibase-core requirement (#729)
  pyproject.toml
Due: none

fix(OMN-13495): address checkout v7 review hardening
  .github/workflows/receipt-honesty.yml
  .github/workflows/release-dry-run.yml
  .github/workflows/release.yml
  .github/workflows/stale-todo-gate.yml
  .github/workflows/todo-audit-on-merge.yml
  tests/unit/runtime/test_dispatch_handlers.py
Due: check-ai-slop

chore(OMN-13495): bump actions/checkout from 6 to 7 (#728)
  .github/workflows/auto-merge.yml
  .github/workflows/build-and-push-migrate-image.yml
  .github/workflows/canonical-inference-gate.yml
  .github/workflows/check-handshake.yml
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/code-review-bot.yml
  .github/workflows/cr-thread-gate.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/receipt-honesty.yml
  .github/workflows/release-dry-run.yml
  .github/workflows/release.yml
  .github/workflows/stale-todo-gate.yml
  .github/workflows/todo-audit-on-merge.yml
  .github/workflows/url-authority-gate.yml
  .github/workflows/validate-validator-requirements.yml
  .github/workflows/validator-runtime-profiles.yml
  tests/unit/runtime/test_dispatch_handlers.py
  tests/unit/runtime/test_plugin_dispatch.py
Due: check-ai-slop

chore(deps-dev): bump pydantic-settings from 2.14.0 to 2.14.2 (#731)
  uv.lock
Due: none

chore(ci): propagate normalization-symmetry-hook [bot]
  .pre-commit-config.yaml
Due: none

refactor(OMN-13561): remove scattered os.environ endpoint reads from navigation-retriever docs (Wave 1)
  src/omniintelligence/nodes/node_navigation_retriever_effect/models/model_navigation_retrieve_input.py
  src/omniintelligence/nodes/node_navigation_retriever_effect/node.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

refactor(OMN-13561): remove scattered os.environ endpoint reads from navigation-retriever docs (Wave 1) (#734)
  src/omniintelligence/nodes/node_navigation_retriever_effect/models/model_navigation_retrieve_input.py
  src/omniintelligence/nodes/node_navigation_retriever_effect/node.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

docs(OMN-13570): sanitize omniintelligence documentation (local-env + OMN-XXXX + renames)
  CHANGELOG.md
  CLAUDE.md
  README.md
  deployment/database/FK_SCAN_REPORT.md
  deployment/docker/README.md
  docs/INDEX.md
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
  docs/architecture/contract-package-spec.md
  docs/reference/DASH_INTEGRATION_TRUTH_BOUNDARY.md
  docs/reference/EVENT_SURFACE.md
  docs/reference/NODE_INVENTORY.md
  docs/standards/STANDARD_DOC_LAYOUT.md
  scripts/validation/topic_naming_baseline.txt
  src/omniintelligence/audit/README.md
  src/omniintelligence/review_pairing/TOPICS.md
Due: check-ai-slop

docs(OMN-13570): sanitize omniintelligence documentation (local-env + OMN-XXXX + renames) (#735)
  CHANGELOG.md
  CLAUDE.md
  README.md
  deployment/database/FK_SCAN_REPORT.md
  deployment/docker/README.md
  docs/INDEX.md
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
  docs/architecture/contract-package-spec.md
  docs/reference/DASH_INTEGRATION_TRUTH_BOUNDARY.md
  docs/reference/EVENT_SURFACE.md
  docs/reference/NODE_INVENTORY.md
  docs/standards/STANDARD_DOC_LAYOUT.md
  scripts/validation/topic_naming_baseline.txt
  src/omniintelligence/audit/README.md
  src/omniintelligence/review_pairing/TOPICS.md
Due: check-ai-slop

chore(ci): propagate normalization-symmetry-hook [bot] (#738)
  .pre-commit-config.yaml
Due: none

chore(OMN-13162): bump actions/cache to v6
  .github/workflows/ci.yml
Due: none

chore(OMN-13162): bump actions/cache to v6 (#740)
  .github/workflows/ci.yml
Due: none

Add Cursor hook-event consumer + agent_source seam
  src/omniintelligence/constants.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/models/model_claude_hook_result.py
  src/omniintelligence/nodes/node_cursor_hook_event_effect/__init__.py
  src/omniintelligence/nodes/node_cursor_hook_event_effect/contract.yaml
  src/omniintelligence/nodes/node_cursor_hook_event_effect/handlers/__init__.py
  src/omniintelligence/nodes/node_cursor_hook_event_effect/handlers/handler_cursor_event.py
  src/omniintelligence/nodes/node_cursor_hook_event_effect/models/__init__.py
  src/omniintelligence/nodes/node_cursor_hook_event_effect/models/model_input.py
  src/omniintelligence/nodes/node_cursor_hook_event_effect/node.py
  src/omniintelligence/nodes/node_cursor_hook_event_effect/registry/__init__.py
  src/omniintelligence/nodes/node_cursor_hook_event_effect/registry/registry_cursor_hook_event_effect.py
  src/omniintelligence/runtime/contract_topics.py
  src/omniintelligence/runtime/dispatch_handlers.py
  src/omniintelligence/runtime/message_type_registration.py
  src/omniintelligence/runtime/wiring.py
  src/omniintelligence/topics.py
  tests/unit/nodes/node_cursor_hook_event_effect/__init__.py
  tests/unit/nodes/node_cursor_hook_event_effect/test_handler_cursor.py
  tests/unit/runtime/test_contract_topics.py
  tests/unit/runtime/test_dispatch_handlers.py
  tests/unit/runtime/test_message_type_registration.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

chore(deps): bump omnibase_core to 0.46.1
  uv.lock
Due: none

chore(deps): bump omnibase_core to 0.46.1 (#743)
  uv.lock
Due: none

feat(OMN-13802): add cursor hook event effect
  src/omniintelligence/enums/__init__.py
  src/omniintelligence/enums/enum_agent_source.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/nodes/node_cursor_hook_event_effect/contract.yaml
  src/omniintelligence/nodes/node_cursor_hook_event_effect/handlers/handler_cursor_event.py
  src/omniintelligence/nodes/node_cursor_hook_event_effect/models/__init__.py
  src/omniintelligence/nodes/node_cursor_hook_event_effect/models/model_input.py
  src/omniintelligence/nodes/node_cursor_hook_event_effect/node.py
  tests/unit/nodes/node_cursor_hook_event_effect/test_handler_cursor.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

chore(OMN-13802): format cursor hook contract
  src/omniintelligence/nodes/node_cursor_hook_event_effect/contract.yaml
Due: none

feat(OMN-13802): add Cursor hook event effect (#744)
  src/omniintelligence/constants.py
  src/omniintelligence/enums/__init__.py
  src/omniintelligence/enums/enum_agent_source.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/models/model_claude_hook_result.py
  src/omniintelligence/nodes/node_cursor_hook_event_effect/__init__.py
  src/omniintelligence/nodes/node_cursor_hook_event_effect/contract.yaml
  src/omniintelligence/nodes/node_cursor_hook_event_effect/handlers/__init__.py
  src/omniintelligence/nodes/node_cursor_hook_event_effect/handlers/handler_cursor_event.py
  src/omniintelligence/nodes/node_cursor_hook_event_effect/models/__init__.py
  src/omniintelligence/nodes/node_cursor_hook_event_effect/models/model_input.py
  src/omniintelligence/nodes/node_cursor_hook_event_effect/node.py
  src/omniintelligence/nodes/node_cursor_hook_event_effect/registry/__init__.py
  src/omniintelligence/nodes/node_cursor_hook_event_effect/registry/registry_cursor_hook_event_effect.py
  src/omniintelligence/runtime/contract_topics.py
  src/omniintelligence/runtime/dispatch_handlers.py
  src/omniintelligence/runtime/message_type_registration.py
  src/omniintelligence/runtime/wiring.py
  src/omniintelligence/topics.py
  tests/unit/nodes/node_cursor_hook_event_effect/__init__.py
  tests/unit/nodes/node_cursor_hook_event_effect/test_handler_cursor.py
  tests/unit/runtime/test_contract_topics.py
  tests/unit/runtime/test_dispatch_handlers.py
  tests/unit/runtime/test_message_type_registration.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

feat(OMN-13877): dep-provenance gate — omniintelligence (+OMN-13878 escape tokens)
  .github/workflows/dep-provenance-gate.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/check_dep_provenance.py
  tests/scripts/test_check_dep_provenance.py
Due: check-ai-slop

test(OMN-13877): allowlist fixture git-rev hashes for detect-secrets
  tests/scripts/test_check_dep_provenance.py
Due: check-ai-slop

feat(OMN-13877): dep-provenance gate — omniintelligence (+OMN-13878 escape tokens) (#745)
  .github/workflows/dep-provenance-gate.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/check_dep_provenance.py
  tests/scripts/test_check_dep_provenance.py
Due: check-ai-slop

ci(OMN-13875): Quality Gate actually evaluates contract-compliance
  .github/workflows/ci.yml
Due: none

test(OMN-13885): bump handler/route baselines +1 for OMN-13802 cursor-hook
  tests/unit/runtime/test_pattern_stored_triggers_projection.py
  tests/unit/runtime/test_plugin_dispatch.py
  tests/unit/runtime/test_projection_handler_registration.py
  tests/unit/test_package_installability.py
Due: check-ai-slop

ci(OMN-13875): Quality Gate actually evaluates contract-compliance (#746)
  .github/workflows/ci.yml
  tests/unit/runtime/test_pattern_stored_triggers_projection.py
  tests/unit/runtime/test_plugin_dispatch.py
  tests/unit/runtime/test_projection_handler_registration.py
  tests/unit/test_package_installability.py
Due: check-ai-slop
