Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

mypy-type-check:
  name: mypy (type checking)
  entry: uv run mypy --ignore-missing-imports --incremental
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-naming:
  name: onex-validate-naming
  entry: python scripts/validation/validate_naming.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

io-audit:
  name: io-audit (ONEX purity)
  entry: uv run python -m omniintelligence.audit.io_audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-transport-imports:
  name: validate-no-transport-imports (ARCH-002)
  entry: uv run python scripts/validate_no_transport_imports.py --exclude src/omniintelligence/runtime --exclude src/omniintelligence/api --exclude src/omniintelligence/clients
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: pytest (smoke tests)
  entry: uv run pytest tests/unit/tools/ -m unit --maxfail=3 -x --tb=short -q
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-tools:
  name: pytest (tools/utils/runtime - full)
  entry: uv run pytest tests/unit/tools/ tests/unit/test_log_sanitizer.py -v --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-ai-slop:
  name: Check for AI-slop patterns
  language: system
  entry: uv run python scripts/validation/check_ai_slop.py
  pass_filenames: true
  stages:
  - pre-commit

feat(OMN-2366): drain routing.feedback orphan topic — deprecated subscribe + no-op handler
  src/omniintelligence/constants.py
  src/omniintelligence/nodes/node_routing_feedback_effect/contract.yaml
  src/omniintelligence/nodes/node_routing_feedback_effect/handlers/handler_routing_feedback.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(OMN-8170): add routing feedback dispatch handler to wire routing_feedback_events pipeline
  src/omniintelligence/nodes/node_routing_feedback_effect/handlers/handler_routing_feedback.py
  src/omniintelligence/runtime/dispatch_handler_routing_feedback.py
  src/omniintelligence/runtime/dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

test(OMN-8127): add golden chain tests for routing feedback dispatch handler
  tests/unit/runtime/test_golden_chain_routing_feedback.py
Due: check-ai-slop

fix(OMN-8019): compute cost_usd from token rates and emit usage_source=ESTIMATED
  src/omniintelligence/clients/eval_llm_client.py
  src/omniintelligence/clients/utilization_llm_client.py
  src/omniintelligence/models/events/model_llm_call_completed_event.py
  tests/integration/test_llm_call_completed_e2e.py
  tests/unit/clients/test_eval_llm_client_event_emission.py
  tests/unit/models/test_model_llm_call_completed_event.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(OMN-7863): bridge code_entity → learned_pattern derivation
  scripts/validation/topic_naming_baseline.txt
  src/omniintelligence/constants.py
  src/omniintelligence/nodes/node_code_entity_bridge_compute/__init__.py
  src/omniintelligence/nodes/node_code_entity_bridge_compute/contract.yaml
  src/omniintelligence/nodes/node_code_entity_bridge_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_code_entity_bridge_compute/handlers/handler_bridge.py
  src/omniintelligence/nodes/node_code_entity_bridge_compute/models/__init__.py
  src/omniintelligence/nodes/node_code_entity_bridge_compute/models/model_input.py
  src/omniintelligence/nodes/node_code_entity_bridge_compute/models/model_output.py
  src/omniintelligence/nodes/node_code_entity_bridge_compute/node.py
  src/omniintelligence/runtime/dispatch_handler_code_entity_bridge.py
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/nodes/node_code_entity_bridge_compute/__init__.py
  tests/unit/nodes/node_code_entity_bridge_compute/test_handler_bridge.py
  tests/unit/test_dispatch_parity.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

feat(OMN-7863): bridge code_entity → learned_pattern derivation (#563)
  scripts/validation/topic_naming_baseline.txt
  src/omniintelligence/constants.py
  src/omniintelligence/nodes/node_code_entity_bridge_compute/__init__.py
  src/omniintelligence/nodes/node_code_entity_bridge_compute/contract.yaml
  src/omniintelligence/nodes/node_code_entity_bridge_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_code_entity_bridge_compute/handlers/handler_bridge.py
  src/omniintelligence/nodes/node_code_entity_bridge_compute/models/__init__.py
  src/omniintelligence/nodes/node_code_entity_bridge_compute/models/model_input.py
  src/omniintelligence/nodes/node_code_entity_bridge_compute/models/model_output.py
  src/omniintelligence/nodes/node_code_entity_bridge_compute/node.py
  src/omniintelligence/runtime/dispatch_handler_code_entity_bridge.py
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/nodes/node_code_entity_bridge_compute/__init__.py
  tests/unit/nodes/node_code_entity_bridge_compute/test_handler_bridge.py
  tests/unit/test_dispatch_parity.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

feat(OMN-6967): wire LLM adapter for code analysis dispatch handler
  src/omniintelligence/runtime/dispatch_handler_code_analysis.py
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_contract_topics.py
  tests/unit/runtime/test_dispatch_handler_code_analysis.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(OMN-6967): narrow results_summary types for mypy strict
  src/omniintelligence/runtime/dispatch_handler_code_analysis.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat(OMN-6967): wire LLM adapter for code analysis dispatch handler (#564)
  src/omniintelligence/runtime/dispatch_handler_code_analysis.py
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_contract_topics.py
  tests/unit/runtime/test_dispatch_handler_code_analysis.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

ci(auto-merge): add --repo flag to gh pr merge workflow (OMN-8509)
  .github/workflows/auto-merge.yml
Due: none

ci(auto-merge): add --repo flag to gh pr merge workflow (OMN-8509) (#565)
  .github/workflows/auto-merge.yml
Due: none

feat: register onex.nodes entry points for runtime auto-wiring (OMN-8538 Wave B)
  pyproject.toml
Due: none

fix(entry-points): add missing node_audit onex.nodes entry point (OMN-8538 Wave B)
  pyproject.toml
Due: none

fix(scripts): replace hardcoded machine paths with env vars and portable fallbacks
  scripts/infer_contracts.py
  scripts/report_node_families.py
  scripts/run_promotion_check.py
  scripts/scan_four_node_pattern.py
Due: check-ai-slop

fix(ci): auto-merge template fixes [OMN-8432]
  .github/workflows/auto-merge.yml
Due: none

fix(ci): auto-merge template fixes [OMN-8432] (#570)
  .github/workflows/auto-merge.yml
Due: none

fix: replace hardcoded topics with registry references in dispatch_handlers.py [OMN-8605]
  src/omniintelligence/runtime/dispatch_handlers.py
  src/omniintelligence/topics.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

style: apply ruff format to dispatch_handlers.py and topics.py [OMN-8605]
  src/omniintelligence/runtime/dispatch_handlers.py
  src/omniintelligence/topics.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

ci: remove duplicate CodeQL check and fix omni-standards dual-trigger
  .github/workflows/codeql.yml
  .github/workflows/omni-standards-compliance.yml
Due: none

test(integration): add golden chain for bloom eval orchestrator → intelligenceBloomEvalResults [OMN-8645]
  tests/integration/nodes/node_bloom_eval_orchestrator/__init__.py
  tests/integration/nodes/node_bloom_eval_orchestrator/test_golden_chain.py
Due: check-ai-slop

fix(tests): add promoted_at to test helper INSERT for provisional patterns (OMN-8641)
  tests/integration/nodes/node_pattern_feedback_effect/helpers.py
Due: check-ai-slop

fix(ci): add SPDX header to __init__.py [OMN-8645]
  tests/integration/nodes/node_bloom_eval_orchestrator/__init__.py
Due: check-ai-slop

fix(compliance): eliminate HARDCODED_TOPIC violations in node handlers [OMN-8632]
  src/omniintelligence/constants.py
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/handlers/handler_bloom_eval_effect.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/__init__.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/node.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/registry/registry_claude_hook_event_effect.py
  src/omniintelligence/nodes/node_crawl_scheduler_effect/handlers/handler_crawl_scheduler.py
  src/omniintelligence/nodes/node_evidence_collection_effect/handlers/handler_evidence_collection.py
  src/omniintelligence/nodes/node_gmail_intent_evaluator_effect/handlers/handler_gmail_intent_evaluate.py
  src/omniintelligence/nodes/node_pattern_compliance_effect/handlers/handler_compute.py
  src/omniintelligence/nodes/node_pattern_lifecycle_effect/registry/registry.py
  src/omniintelligence/nodes/node_watchdog_effect/handlers/handler_watchdog.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(compliance): eliminate HARDCODED_TOPIC violations in node handlers [OMN-8632] (#576)
  src/omniintelligence/constants.py
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/handlers/handler_bloom_eval_effect.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/__init__.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/node.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/registry/registry_claude_hook_event_effect.py
  src/omniintelligence/nodes/node_crawl_scheduler_effect/handlers/handler_crawl_scheduler.py
  src/omniintelligence/nodes/node_evidence_collection_effect/handlers/handler_evidence_collection.py
  src/omniintelligence/nodes/node_gmail_intent_evaluator_effect/handlers/handler_gmail_intent_evaluate.py
  src/omniintelligence/nodes/node_pattern_compliance_effect/handlers/handler_compute.py
  src/omniintelligence/nodes/node_pattern_lifecycle_effect/registry/registry.py
  src/omniintelligence/nodes/node_watchdog_effect/handlers/handler_watchdog.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(review): correct deepseek-r1 default URL and model ID [OMN-8654]
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(ci): use --auto --merge for merge-queue enrollment [OMN-8653]
  .github/workflows/auto-merge.yml
Due: none

fix(ci): use --auto --merge for merge-queue enrollment [OMN-8653] (#579)
  .github/workflows/auto-merge.yml
Due: none

fix: remove boilerplate docstring opener in helpers.py
  tests/integration/nodes/node_pattern_feedback_effect/helpers.py
Due: check-ai-slop

fix: replace hardcoded topics with registry references in dispatch_handlers.py [OMN-8605] (#571)
  src/omniintelligence/runtime/dispatch_handlers.py
  src/omniintelligence/topics.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(ci): use actions/checkout + validate-yaml for contract compliance check [OMN-8636]
  .github/workflows/ci.yml
Due: none

chore(OMN-8609): delete dead dispatch handlers — code_embedding and code_enrichment
  src/omniintelligence/runtime/dispatch_handler_code_embedding.py
  src/omniintelligence/runtime/dispatch_handler_code_enrichment.py
  tests/unit/runtime/test_dispatch_handler_code_embedding.py
  tests/unit/runtime/test_dispatch_handler_code_enrichment.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(omniintelligence): eliminate remaining HARDCODED_TOPIC violations [OMN-8605]
  src/omniintelligence/runtime/dispatch_handler_code_analysis.py
  src/omniintelligence/runtime/dispatch_handler_code_embed_graph.py
  src/omniintelligence/runtime/dispatch_handler_code_entity_bridge.py
  src/omniintelligence/runtime/dispatch_handler_crawl_scheduler.py
  src/omniintelligence/runtime/dispatch_handlers.py
  src/omniintelligence/topics.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat(quality-scoring): implement quality-assessment dispatch handler and output topic
  src/omniintelligence/constants.py
  src/omniintelligence/nodes/node_quality_scoring_compute/contract.yaml
  src/omniintelligence/runtime/dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat(quality-scoring): implement quality-assessment dispatch handler and output topic (#584)
  src/omniintelligence/constants.py
  src/omniintelligence/nodes/node_quality_scoring_compute/contract.yaml
  src/omniintelligence/runtime/dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(hostile-reviewer): correct deepseek-r1 default endpoint to .200:8101
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(pattern_intelligence): wire AST extraction to learned_patterns store [OMN-8706]
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_contract_topics.py
  tests/unit/runtime/test_dispatch_handler_code_crawl.py
  tests/unit/runtime/test_dispatch_handler_code_entity_bridge.py
  tests/unit/runtime/test_dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

