Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

mypy-type-check:
  name: mypy (type checking)
  entry: uv run mypy --ignore-missing-imports --incremental
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-naming:
  name: onex-validate-naming
  entry: python scripts/validation/validate_naming.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

io-audit:
  name: io-audit (ONEX purity)
  entry: uv run python -m omniintelligence.audit.io_audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-transport-imports:
  name: validate-no-transport-imports (ARCH-002)
  entry: uv run python scripts/validate_no_transport_imports.py --exclude src/omniintelligence/runtime --exclude src/omniintelligence/api --exclude src/omniintelligence/clients
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: pytest (smoke tests)
  entry: uv run pytest tests/unit/tools/ -m unit --maxfail=3 -x --tb=short -q
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-tools:
  name: pytest (tools/utils/runtime - full)
  entry: uv run pytest tests/unit/tools/ tests/unit/test_log_sanitizer.py -v --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-ai-slop:
  name: Check for AI-slop patterns
  language: system
  entry: uv run python scripts/validation/check_ai_slop.py
  pass_filenames: true
  stages:
  - pre-commit

fix(contract): register multi-producer external publisher for pattern.discovered topic in node_pattern_storage_effect [OMN-3382]
  _golden_path_validate/node_pattern_storage_effect.json
  src/omniintelligence/nodes/node_pattern_storage_effect/contract.yaml
Due: none

fix(ci): update secrets baseline to allow SHA256 hash in golden-path fixture [OMN-3382]
  .secrets.baseline
Due: none

fix(contract): register multi-producer publisher for pattern.discovered topic [OMN-3382] (#286)
  .secrets.baseline
  _golden_path_validate/node_pattern_storage_effect.json
  src/omniintelligence/nodes/node_pattern_storage_effect/contract.yaml
Due: none

fix(contracts): register node_routing_feedback_effect as publisher of onex.evt.intent.outcome.labeled.v1 [OMN-3378]
  src/omniintelligence/nodes/node_routing_feedback_effect/contract.yaml
Due: none

fix(contracts): register publisher for onex.evt.intent.outcome.labeled.v1 [OMN-3378] (#289)
  src/omniintelligence/nodes/node_routing_feedback_effect/contract.yaml
Due: none

fix(fixture): use onex.evt.intent.pattern.promoted.v1 in node_pattern_projection_effect fixture [OMN-3381]
  _golden_path_validate/node_pattern_projection_effect.json
Due: none

fix(repository): correct domain_id type cast in query_patterns SQL [OMN-3429]
  src/omniintelligence/repositories/learned_patterns.repository.yaml
Due: none

feat: add node_tcb_generation_compute handlers (normalizer + scorer) [OMN-3104]
  src/omniintelligence/nodes/node_tcb_generation_compute/__init__.py
  src/omniintelligence/nodes/node_tcb_generation_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_tcb_generation_compute/handlers/handler_candidate_scorer.py
  src/omniintelligence/nodes/node_tcb_generation_compute/handlers/handler_intent_normalizer.py
  tests/unit/nodes/node_tcb_generation_compute/__init__.py
  tests/unit/nodes/node_tcb_generation_compute/test_node_tcb_generation_compute.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(ci): regenerate secrets baseline to whitelist golden-path fixture false positive
  .secrets.baseline
Due: none

fix(slack): route gmail intent signals to #omninode-notifications (#265)
  src/omniintelligence/nodes/node_gmail_intent_evaluator_effect/contract.yaml
  src/omniintelligence/nodes/node_gmail_intent_evaluator_effect/handlers/handler_gmail_intent_evaluate.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(golden-path): add fixture for node_document_fetch_effect [OMN-3392] (#268)
  _golden_path_validate/node_document_fetch_effect.json
Due: none

feat(golden-path): add fixture for node_linear_crawler_effect [OMN-3395] (#269)
  _golden_path_validate/node_linear_crawler_effect.json
Due: none

feat(golden-path): add fixture for node_git_repo_crawler_effect [OMN-3393] (#270)
  _golden_path_validate/node_git_repo_crawler_effect.json
Due: none

fix(contract): register external publishers for 4 orphaned subscriptions in node_intelligence_orchestrator [OMN-3377]
  src/omniintelligence/nodes/node_intelligence_orchestrator/contract.yaml
Due: none

feat(golden-path): add fixture for node_routing_feedback_effect [OMN-3399]
  _golden_path_validate/node_routing_feedback_effect.json
Due: none

feat(golden-path): add fixture for node_routing_feedback_effect [OMN-3399] (#275)
  _golden_path_validate/node_routing_feedback_effect.json
Due: none

fix(contract): register external publishers for 4 orphaned subscriptions in node_intelligence_orchestrator [OMN-3377] (#285)
  src/omniintelligence/nodes/node_intelligence_orchestrator/contract.yaml
Due: none

fix(tests): fix default Kafka port (9092→19092) + add bus_local pytest isolation [OMN-3477]
  .env.example
  tests/integration/conftest.py
  tests/integration/e2e/test_kafka_integration.py
  tests/integration/e2e/test_tc5_full_chain_pipeline.py
  tests/integration/nodes/node_pattern_storage_effect/conftest.py
  tests/integration/test_kafka_bus_isolation.py
Due: check-ai-slop

fix(tests): add ai-slop-ok suppressions for pre-existing module docstrings [OMN-3477]
  tests/integration/conftest.py
  tests/integration/nodes/node_pattern_storage_effect/conftest.py
Due: check-ai-slop

chore(baseline): update .secrets.baseline line numbers after conftest.py additions [OMN-3477]
  .secrets.baseline
Due: none

fix(contract): register external publishers for cross-repo subscribe topics in node_claude_hook_event_effect [OMN-3374]
  src/omniintelligence/nodes/node_claude_hook_event_effect/contract.yaml
Due: none

fix(contract): register external publisher for cross-repo subscribe topic in node_compliance_evaluate_effect [OMN-3375]
  src/omniintelligence/nodes/node_compliance_evaluate_effect/contract.yaml
Due: none

fix(tests): address CodeRabbit review comments [OMN-3477]
  tests/integration/conftest.py
  tests/integration/e2e/test_tc5_full_chain_pipeline.py
Due: check-ai-slop

fix(contract): register external publisher for cross-repo subscribe topic in node_compliance_evaluate_effect [OMN-3375] (#281)
  src/omniintelligence/nodes/node_compliance_evaluate_effect/contract.yaml
Due: none

fix(contract): register external publishers for cross-repo subscribe topics in node_claude_hook_event_effect [OMN-3374] (#280)
  src/omniintelligence/nodes/node_claude_hook_event_effect/contract.yaml
Due: none

chore(baseline): update .secrets.baseline after additional conftest.py additions [OMN-3477]
  .secrets.baseline
Due: none

chore(deps): relax omnibase-infra pin to >=0.14.0,<0.15.0 and bump to 0.9.2 [OMN-3512]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-ai-slop

feat(pre-commit): add kafka-no-hardcoded-fallback guard to reject hardcoded broker fallbacks [OMN-3554]
  .pre-commit-config.yaml
  src/omniintelligence/nodes/node_chunk_classifier_compute/node_tests/test_handler_chunk_classifier.py
  tests/integration/conftest.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(runtime): add B1.5 cross-repo table check to boot handshake (OMN-3531)
  src/omniintelligence/runtime/plugin.py
  tests/unit/runtime/test_plugin_validate_handshake.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(ci): apply yamlfmt to pre-commit config and refresh secrets baseline [OMN-3554]
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

feat(runtime): add B1.5 cross-repo table check to boot handshake (OMN-3531) (#296)
  src/omniintelligence/runtime/plugin.py
  tests/unit/runtime/test_plugin_validate_handshake.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(runtime): suppress pre-existing ai-slop-ok flag in plugin.py module docstring (OMN-3531)
  src/omniintelligence/runtime/plugin.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(OMN-3554): exclude .venv from kafka-no-hardcoded-fallback hook scan
  .pre-commit-config.yaml
Due: none

chore(OMN-3554): apply yamlfmt reformatting to pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

chore(deps): relax omnibase-infra upper bound to <0.16.0, bump version [OMN-3549]
  pyproject.toml
  uv.lock
Due: none

chore(deps): relax omnibase-infra upper bound to <0.16.0, bump version [OMN-3549] (#299)
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

