Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$


fix(OMN-16552): skip OCC companion-gate app-token mint for dependency-bot PRs
  .github/workflows/ci.yml
Due: none

fix(OMN-16552): skip OCC companion-gate app-token mint for dependency-bot PRs (#845)
  .github/workflows/ci.yml
Due: none

chore(deps): refresh omninode sibling locks [bot]
  uv.lock
Due: none

fix(OMN-16545): Wave-3 omniintelligence doc-correctness sweep
  CONTRIBUTING.md
  README.md
  deployment/database/README.md
  deployment/docker/README.md
  docs/CONTRACT_VALIDATION_GUIDE.md
  docs/INDEX.md
  docs/NODE_STATE_POLICY.md
  docs/reference/DASH_INTEGRATION_TRUTH_BOUNDARY.md
  src/omniintelligence/audit/README.md
  src/omniintelligence/validators/README.md
  tests/audit/fixtures/README.md
Due: check-ai-slop

chore(OMN-16545): refresh .secrets.baseline line numbers
  .secrets.baseline
Due: none

fix(OMN-16545): Wave-3 doc-correctness sweep (audit README deletion, node-count sync, DASH_INTEGRATION follow-up) (#848)
  .secrets.baseline
  CONTRIBUTING.md
  README.md
  deployment/database/README.md
  deployment/docker/README.md
  docs/CONTRACT_VALIDATION_GUIDE.md
  docs/INDEX.md
  docs/NODE_STATE_POLICY.md
  docs/reference/DASH_INTEGRATION_TRUTH_BOUNDARY.md
  src/omniintelligence/audit/README.md
  src/omniintelligence/validators/README.md
  tests/audit/fixtures/README.md
Due: check-ai-slop

chore(OMN-13902): bind sibling lock refresh evidence
  docs/reference/OMN-13902-sibling-lock-refresh.md
Due: check-ai-slop

fix(OMN-16580): correct nonexistent module path in validate.py's contract linter invocation
  scripts/validate.py
  tests/unit/scripts/test_validate_contract_linter.py
Due: check-ai-slop

fix(OMN-16580): correct nonexistent module path in validate.py's contract linter invocation (#849)
  scripts/validate.py
  tests/unit/scripts/test_validate_contract_linter.py
Due: check-ai-slop

fix(OMN-16585): contract-linter pre-commit hook matches real flat contract layout
  .pre-commit-config.yaml
Due: none

fix(OMN-16587): delete orphaned non-canonical validation runner scripts/validate.py
  scripts/validate.py
  tests/unit/scripts/test_validate_contract_linter.py
Due: check-ai-slop

fix(OMN-16587): delete orphaned non-canonical validation runner scripts/validate.py (#851)
  scripts/validate.py
  tests/unit/scripts/test_validate_contract_linter.py
Due: check-ai-slop

docs(OMN-16663): add official OmniNode brand <picture> README header
  README.md
  docs/assets/brand/BRAND.md
  docs/assets/brand/omninode-icon-black.png
  docs/assets/brand/omninode-icon-full-color.svg
  docs/assets/brand/omninode-icon-white.png
  docs/assets/brand/omninode-inline-black.png
  docs/assets/brand/omninode-inline-full-color.svg
  docs/assets/brand/omninode-inline-white.png
  docs/assets/brand/omninode-stacked-black.png
  docs/assets/brand/omninode-stacked-full-color.svg
  docs/assets/brand/omninode-stacked-white.png
  docs/assets/brand/omninode-wordmark-black.svg
  docs/assets/brand/omninode-wordmark-grey.svg
  docs/assets/brand/omninode-wordmark-white.svg
Due: check-ai-slop

docs(OMN-16663): add official OmniNode brand <picture> README header (#852)
  README.md
  docs/assets/brand/BRAND.md
  docs/assets/brand/omninode-icon-black.png
  docs/assets/brand/omninode-icon-full-color.svg
  docs/assets/brand/omninode-icon-white.png
  docs/assets/brand/omninode-inline-black.png
  docs/assets/brand/omninode-inline-full-color.svg
  docs/assets/brand/omninode-inline-white.png
  docs/assets/brand/omninode-stacked-black.png
  docs/assets/brand/omninode-stacked-full-color.svg
  docs/assets/brand/omninode-stacked-white.png
  docs/assets/brand/omninode-wordmark-black.svg
  docs/assets/brand/omninode-wordmark-grey.svg
  docs/assets/brand/omninode-wordmark-white.svg
Due: check-ai-slop

fix(OMN-16698): restore the OCC manual-replay precheck + gate workflow script refs
  .github/workflows/workflow-script-refs.yml
  .pre-commit-config.yaml
  scripts/ci/occ_manual_replay_precheck.py
  tests/ci/test_workflow_script_refs_exist.py
Due: check-ai-slop

fix: detach the workflow-script-refs gate from repo pytest wiring
  .github/workflows/workflow-script-refs.yml
Due: none

fix(OMN-16698): restore the OCC manual-replay precheck + gate workflow script refs (#853)
  .github/workflows/workflow-script-refs.yml
  .pre-commit-config.yaml
  scripts/ci/occ_manual_replay_precheck.py
  tests/ci/test_workflow_script_refs_exist.py
Due: check-ai-slop

fix(OMN-16691): pin occ-*-manual-replay off the shared runner seam (OMN-16682 carried-forward item 1)
  .github/workflows/call-occ-autobind.yml
  .github/workflows/call-occ-companion-effect.yml
Due: none

fix(OMN-16691): pin occ-*-manual-replay off the shared runner seam (OMN-16682 carried-forward item 1) (#854)
  .github/workflows/call-occ-autobind.yml
  .github/workflows/call-occ-companion-effect.yml
Due: none

feat(OMN-16522): retrieval replay-state harness + R1 generation-currency gate
  src/omniintelligence/code_projection/retrieval_eval/__init__.py
  src/omniintelligence/code_projection/retrieval_eval/replay.py
  tests/unit/code_projection/test_retrieval_replay_gate.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(OMN-16522): R2/R3 tombstone-exclusion gates on independent replay lanes
  src/omniintelligence/code_projection/retrieval_eval/replay.py
  tests/unit/code_projection/test_retrieval_replay_gate.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(OMN-16522): golden set, metrics, arming rule, scorecard and CI gate
  .github/workflows/retrieval-eval-gate.yml
  src/omniintelligence/code_projection/retrieval_eval/__init__.py
  src/omniintelligence/code_projection/retrieval_eval/__main__.py
  src/omniintelligence/code_projection/retrieval_eval/baselines/__init__.py
  src/omniintelligence/code_projection/retrieval_eval/baselines/baseline_scorecard.json
  src/omniintelligence/code_projection/retrieval_eval/baselines/golden_query_set_v1.json
  src/omniintelligence/code_projection/retrieval_eval/golden.py
  src/omniintelligence/code_projection/retrieval_eval/metrics.py
  src/omniintelligence/code_projection/retrieval_eval/replay.py
  src/omniintelligence/code_projection/retrieval_eval/runner.py
  src/omniintelligence/code_projection/retrieval_eval/scorecard.py
  tests/unit/code_projection/test_retrieval_eval_harness.py
  tests/unit/code_projection/test_retrieval_replay_gate.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-16522): resolve CodeRabbit review findings
  .github/workflows/retrieval-eval-gate.yml
  src/omniintelligence/code_projection/qdrant.py
  src/omniintelligence/code_projection/retrieval_eval/__init__.py
  src/omniintelligence/code_projection/retrieval_eval/__main__.py
  src/omniintelligence/code_projection/retrieval_eval/replay.py
  tests/unit/code_projection/test_retrieval_eval_harness.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

chore(deps, OMN-13902): refresh omninode sibling locks [bot] (#858)
  uv.lock
Due: none

fix(OMN-16522): address AC2 review findings 1-3 and nits
  src/omniintelligence/code_projection/retrieval_eval/__main__.py
  src/omniintelligence/code_projection/retrieval_eval/baselines/baseline_scorecard.json
  src/omniintelligence/code_projection/retrieval_eval/baselines/golden_query_set_v1.json
  src/omniintelligence/code_projection/retrieval_eval/golden.py
  src/omniintelligence/code_projection/retrieval_eval/metrics.py
  src/omniintelligence/code_projection/retrieval_eval/replay.py
  src/omniintelligence/code_projection/retrieval_eval/runner.py
  tests/unit/code_projection/test_retrieval_eval_harness.py
  tests/unit/code_projection/test_retrieval_replay_gate.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-16522): correct retrieval R6 scorecard description
  src/omniintelligence/code_projection/retrieval_eval/baselines/baseline_scorecard.json
  src/omniintelligence/code_projection/retrieval_eval/replay.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(OMN-16522): retrieval-quality benchmark harness for code-intelligence context packs (#857)
  .github/workflows/retrieval-eval-gate.yml
  src/omniintelligence/code_projection/qdrant.py
  src/omniintelligence/code_projection/retrieval_eval/__init__.py
  src/omniintelligence/code_projection/retrieval_eval/__main__.py
  src/omniintelligence/code_projection/retrieval_eval/baselines/__init__.py
  src/omniintelligence/code_projection/retrieval_eval/baselines/baseline_scorecard.json
  src/omniintelligence/code_projection/retrieval_eval/baselines/golden_query_set_v1.json
  src/omniintelligence/code_projection/retrieval_eval/golden.py
  src/omniintelligence/code_projection/retrieval_eval/metrics.py
  src/omniintelligence/code_projection/retrieval_eval/replay.py
  src/omniintelligence/code_projection/retrieval_eval/runner.py
  src/omniintelligence/code_projection/retrieval_eval/scorecard.py
  tests/unit/code_projection/test_retrieval_eval_harness.py
  tests/unit/code_projection/test_retrieval_replay_gate.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

chore(deps): bump omnibase_infra to 0.38.11 (#860)
  uv.lock
Due: none

perf(OMN-16764): defer the quality-scoring import out of the package root
  src/omniintelligence/__init__.py
  tests/unit/test_lazy_package_exports.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop
