Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$


feat(telemetry): add LLM call completion event for Cost Trends page [OMN-5184] (#371)
  src/omniintelligence/clients/eval_llm_client.py
  src/omniintelligence/models/__init__.py
  src/omniintelligence/models/events/__init__.py
  src/omniintelligence/models/events/model_llm_call_completed_event.py
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/contract.yaml
  src/omniintelligence/topics.py
  tests/integration/test_llm_call_completed_e2e.py
  tests/unit/clients/test_eval_llm_client_event_emission.py
  tests/unit/models/__init__.py
  tests/unit/models/test_model_llm_call_completed_event.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

refactor: deduplicate topic constants to single source in omniintelligence [OMN-5254] (#372)
  scripts/validation/topic_naming_baseline.txt
  src/omniintelligence/constants.py
  src/omniintelligence/decision_store/topics.py
  src/omniintelligence/hooks/topics.py
  src/omniintelligence/model_selector/decision_emitter.py
  src/omniintelligence/runtime/model_intelligence_runtime_config.py
  src/omniintelligence/runtime/model_topic_config.py
  src/omniintelligence/topics.py
  tests/unit/test_intent_topics.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat(audit): add NodeContextAuditAggregatorCompute node [OMN-5242]
  src/omniintelligence/nodes/audit/__init__.py
  src/omniintelligence/nodes/audit/contract.yaml
  src/omniintelligence/nodes/audit/node_context_audit_aggregator_compute.py
  tests/unit/nodes/audit/__init__.py
  tests/unit/nodes/audit/test_node_context_audit_aggregator_compute.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(audit): add NodeContextAuditAggregatorCompute node [OMN-5242] (#373)
  src/omniintelligence/nodes/audit/__init__.py
  src/omniintelligence/nodes/audit/contract.yaml
  src/omniintelligence/nodes/audit/node_context_audit_aggregator_compute.py
  tests/unit/nodes/audit/__init__.py
  tests/unit/nodes/audit/test_node_context_audit_aggregator_compute.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

chore(deps): bump omnibase-infra pin to 0.21.1 [OMN-5328]
  pyproject.toml
  uv.lock
Due: none

chore(deps): bump omnibase-infra pin to 0.21.1 [OMN-5328] (#375)
  pyproject.toml
  uv.lock
Due: none

chore: wire no-hardcoded-topics pre-commit hook [OMN-5259]
  .pre-commit-config.yaml
Due: none

chore(release): bump version to 0.14.1 [OMN-5328]
  pyproject.toml
  uv.lock
Due: none

chore(release): bump version to 0.14.1 [OMN-5328] (#377)
  pyproject.toml
  uv.lock
Due: none

feat: infer EVENT_BUS_ENABLED from KAFKA_BOOTSTRAP_SERVERS presence [OMN-5364]
  src/omniintelligence/runtime/model_intelligence_runtime_config.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat: add onex.node_package entry point for contract discovery [OMN-5369]
  pyproject.toml
  tests/unit/test_entry_points.py
Due: check-ai-slop

feat: infer EVENT_BUS_ENABLED from KAFKA_BOOTSTRAP_SERVERS presence [OMN-5364] (#378)
  src/omniintelligence/runtime/model_intelligence_runtime_config.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat: add onex.node_package entry point for contract discovery [OMN-5369] (#379)
  pyproject.toml
  tests/unit/test_entry_points.py
Due: check-ai-slop

chore(standards): fix PEP 604 type-unions and mypy errors [OMN-5132]
  src/omniintelligence/adapters/adapter_kafka.py
  src/omniintelligence/nodes/node_contract_eval_compute/handlers/validators.py
  src/omniintelligence/nodes/node_evidence_collection_effect/handlers/handler_evidence_collection.py
  src/omniintelligence/nodes/node_evidence_collection_effect/node.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/__main__.py
  src/omniintelligence/nodes/node_pattern_promotion_effect/handlers/handler_metrics.py
  src/omniintelligence/nodes/node_success_criteria_matcher_compute/handlers/protocols.py
  src/omniintelligence/review_pairing/adapters/adapter_eslint.py
  src/omniintelligence/review_pairing/adapters/adapter_github_checks.py
  src/omniintelligence/review_pairing/adapters/adapter_mypy.py
  src/omniintelligence/review_pairing/adapters/adapter_ruff.py
  src/omniintelligence/review_pairing/metrics/scorer.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

chore(standards): fix PEP 604 type-unions and mypy errors [OMN-5132] (#380)
  src/omniintelligence/adapters/adapter_kafka.py
  src/omniintelligence/nodes/node_contract_eval_compute/handlers/validators.py
  src/omniintelligence/nodes/node_evidence_collection_effect/handlers/handler_evidence_collection.py
  src/omniintelligence/nodes/node_evidence_collection_effect/node.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/__main__.py
  src/omniintelligence/nodes/node_pattern_promotion_effect/handlers/handler_metrics.py
  src/omniintelligence/nodes/node_success_criteria_matcher_compute/handlers/protocols.py
  src/omniintelligence/review_pairing/adapters/adapter_eslint.py
  src/omniintelligence/review_pairing/adapters/adapter_github_checks.py
  src/omniintelligence/review_pairing/adapters/adapter_mypy.py
  src/omniintelligence/review_pairing/adapters/adapter_ruff.py
  src/omniintelligence/review_pairing/metrics/scorer.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

ci(omniintelligence): add ruff UP007 standards compliance workflow [OMN-5132]
  .github/workflows/omni-standards-compliance.yml
Due: none

feat(ci): deploy CodeQL security scanning to omniintelligence [OMN-5423]
  .github/workflows/security-scan.yml
  scripts/generate_node_report.py
Due: check-ai-slop

feat(ci): deploy CodeQL security scanning to omniintelligence [OMN-5423] (#382)
  .github/workflows/security-scan.yml
  scripts/generate_node_report.py
Due: check-ai-slop

chore(release): bump version to 0.15.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-ai-slop

chore(release): bump version to 0.15.0 (#385)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-ai-slop

chore(deps): remove temporary uv.sources release branch refs
  pyproject.toml
  uv.lock
Due: none

chore(deps): remove temporary uv.sources release branch refs (#386)
  pyproject.toml
  uv.lock
Due: none

fix(mypy): resolve 22 strict errors in omniintelligence [OMN-5444]
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/nodes/node_embedding_generation_effect/node_tests/test_handler_embedding_generate.py
  src/omniintelligence/nodes/node_intelligence_reducer/node.py
  src/omniintelligence/nodes/node_llm_routing_decision_effect/node_tests/test_handler_llm_routing_decision.py
  src/omniintelligence/nodes/node_navigation_retriever_effect/handlers/_production_clients.py
  src/omniintelligence/nodes/node_navigation_retriever_effect/node_tests/test_handler_navigation_retrieve.py
  src/omniintelligence/nodes/node_protocol_handler_effect/node_tests/test_handler_protocol.py
  src/omniintelligence/nodes/node_routing_feedback_effect/node_tests/test_handler_routing_feedback.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

chore(cleanup): remove dead session_timeout_ms from omniintelligence [OMN-5445]
  src/omniintelligence/runtime/contracts/runtime_config.yaml
  src/omniintelligence/runtime/model_event_bus_config.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat: add promotion-check-requested subscribe topic to promotion contract [OMN-5497]
  src/omniintelligence/nodes/node_pattern_promotion_effect/contract.yaml
Due: none

feat: add bootstrap promotion path for cold-start candidates [OMN-5500]
  src/omniintelligence/nodes/node_pattern_promotion_effect/handlers/handler_auto_promote.py
  tests/unit/nodes/node_pattern_promotion_effect/test_bootstrap_promotion.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat: add LLM-based utilization scoring handler [OMN-5506]
  src/omniintelligence/constants.py
  src/omniintelligence/runtime/dispatch_handler_utilization_scoring.py
  tests/unit/runtime/test_dispatch_handler_utilization_scoring.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

test: add integration test for full promotion lifecycle [OMN-5503]
  tests/integration/test_promotion_lifecycle_integration.py
Due: check-ai-slop

fix(mypy): pass dict to publisher.publish instead of bytes [OMN-5506]
  src/omniintelligence/runtime/dispatch_handler_utilization_scoring.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(promotion): sync SQL bootstrap filter with injection gate; fix test isolation [OMN-5503]
  src/omniintelligence/nodes/node_pattern_promotion_effect/handlers/handler_auto_promote.py
  tests/unit/nodes/node_pattern_promotion_effect/test_bootstrap_promotion.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

chore(cleanup): remove dead session_timeout_ms from omniintelligence [OMN-5445] (#388)
  src/omniintelligence/runtime/contracts/runtime_config.yaml
  src/omniintelligence/runtime/model_event_bus_config.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat: add promotion-check-requested subscribe topic to promotion contract [OMN-5497] (#389)
  src/omniintelligence/nodes/node_pattern_promotion_effect/contract.yaml
Due: none

feat(selector): emit RL episode_started events on model selection [OMN-5559]
  .pre-commit-config.yaml
  src/omniintelligence/model_selector/__init__.py
  src/omniintelligence/model_selector/episode_emitter.py
  src/omniintelligence/model_selector/selector.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(selector): emit RL episode_started events on model selection [OMN-5559] (#398)
  .pre-commit-config.yaml
  src/omniintelligence/model_selector/__init__.py
  src/omniintelligence/model_selector/episode_emitter.py
  src/omniintelligence/model_selector/selector.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(rl): add PPO trainer with actor-critic policy and checkpoint support [OMN-5563]
  src/omniintelligence/rl/__init__.py
  src/omniintelligence/rl/checkpoint.py
  src/omniintelligence/rl/config.py
  src/omniintelligence/rl/policy.py
  src/omniintelligence/rl/trainer.py
  tests/unit/rl/__init__.py
  tests/unit/rl/test_trainer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat: backfill historical episodes from routing decisions [OMN-5560]
  scripts/backfill_episodes.py
  tests/unit/scripts/test_backfill_episodes.py
Due: check-ai-slop

feat: add LLM-based utilization scoring handler [OMN-5506] (#391)
  src/omniintelligence/constants.py
  src/omniintelligence/runtime/dispatch_handler_utilization_scoring.py
  tests/unit/runtime/test_dispatch_handler_utilization_scoring.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat: backfill historical episodes from routing decisions [OMN-5560] (#402)
  scripts/backfill_episodes.py
  tests/unit/scripts/test_backfill_episodes.py
Due: check-ai-slop

feat(rl): add routing observation builder and offline training pipeline [OMN-5565]
  src/omniintelligence/rl/__init__.py
  src/omniintelligence/rl/buffer.py
  src/omniintelligence/rl/builders/__init__.py
  src/omniintelligence/rl/builders/routing_observation_builder.py
  src/omniintelligence/rl/checkpoint.py
  src/omniintelligence/rl/config.py
  src/omniintelligence/rl/contracts/__init__.py
  src/omniintelligence/rl/contracts/actions.py
  src/omniintelligence/rl/contracts/observations.py
  src/omniintelligence/rl/contracts/rewards.py
  src/omniintelligence/rl/data_sources/__init__.py
  src/omniintelligence/rl/data_sources/postgres_source.py
  src/omniintelligence/rl/pipelines/__init__.py
  src/omniintelligence/rl/pipelines/routing_pipeline.py
  src/omniintelligence/rl/policy.py
  src/omniintelligence/rl/rewards.py
  src/omniintelligence/rl/train.py
  src/omniintelligence/rl/trainer.py
  tests/unit/rl/__init__.py
  tests/unit/rl/test_routing_pipeline.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop
