Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-smoke, pytest-tools

pytest-smoke:
  name: pytest (smoke tests)
  entry: uv run pytest tests/unit/tools/ -m unit --maxfail=3 -x --tb=short -q
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-tools:
  name: pytest (tools/utils/runtime - full)
  entry: uv run pytest tests/unit/tools/ tests/unit/test_log_sanitizer.py -v --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-push

chore: bump version to 0.1.1
  CHANGELOG.md
  pyproject.toml
  src/omniintelligence/__init__.py
  uv.lock
Due: none

chore: bump version to 0.1.1 (#102)
  CHANGELOG.md
  pyproject.toml
  src/omniintelligence/__init__.py
  uv.lock
Due: none

fix(review): [major+minor] Revert unsafe Any->object conversions where dynamic typing is required
  src/omniintelligence/_legacy/events/publisher/event_publisher.py
  src/omniintelligence/nodes/node_pattern_demotion_effect/handlers/handler_demotion.py
  src/omniintelligence/nodes/node_pattern_feedback_effect/handlers/handler_session_outcome.py
  src/omniintelligence/nodes/node_pattern_promotion_effect/handlers/handler_auto_promote.py
  src/omniintelligence/nodes/node_pattern_promotion_effect/handlers/handler_promotion.py
  src/omniintelligence/nodes/node_success_criteria_matcher_compute/handlers/handler_criteria_matching.py
  src/omniintelligence/protocols/__init__.py
  src/omniintelligence/runtime/adapters.py
  src/omniintelligence/runtime/dispatch_handlers.py
  src/omniintelligence/testing/mock_pattern_store.py
Due: pytest-tools

fix(review): [minor] Fix bool type narrowing and validator_map typing
  scripts/validate.py
  scripts/validation/validate_naming.py
Due: none

fix(review): [critical+major] Revert unsafe Any->object in langextract, event publisher, handlers
  src/omniintelligence/_legacy/events/publisher/event_publisher.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/nodes/node_intent_classifier_compute/handlers/handler_langextract.py
  src/omniintelligence/nodes/node_pattern_assembler_orchestrator/handlers/handler_orchestrate.py
  src/omniintelligence/nodes/node_pattern_storage_effect/handlers/handler_pattern_storage.py
Due: none

fix(review): [major+minor] Revert more unsafe Any->object in contract loader, auto-promote, adapter, mock store
  src/omniintelligence/nodes/node_pattern_promotion_effect/handlers/handler_auto_promote.py
  src/omniintelligence/nodes/node_pattern_storage_effect/contract_loader.py
  src/omniintelligence/repositories/adapter_pattern_store.py
  src/omniintelligence/testing/mock_pattern_store.py
Due: none

fix(review): [major+minor] Revert dict invariance issues, fix verbose flag and error metadata
  scripts/validation/validate_naming.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/nodes/node_intelligence_reducer/node.py
  src/omniintelligence/nodes/node_pattern_assembler_orchestrator/node.py
  src/omniintelligence/nodes/node_pattern_storage_effect/handlers/handler_pattern_storage.py
  src/omniintelligence/nodes/node_success_criteria_matcher_compute/handlers/handler_criteria_matching.py
Due: none

fix(review): [minor] Fix dict invariance mypy errors from Any->object migration
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_tool_failure_patterns.py
  src/omniintelligence/nodes/node_pattern_lifecycle_effect/handlers/handler_transition.py
  src/omniintelligence/nodes/node_pattern_lifecycle_effect/node_tests/test_handler_transition.py
Due: none

fix(review): [major+minor] Fix standalone_validators type conflict and ruff I001 imports
  scripts/validate.py
  src/omniintelligence/_legacy/events/publisher/event_publisher.py
  src/omniintelligence/nodes/node_pattern_demotion_effect/registry/registry_pattern_demotion_effect.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_extract_all_patterns.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/models/model_insight.py
  src/omniintelligence/nodes/node_pattern_lifecycle_effect/registry/registry.py
  src/omniintelligence/nodes/node_pattern_promotion_effect/registry/registry_pattern_promotion_effect.py
  src/omniintelligence/nodes/node_pattern_storage_effect/node_tests/conftest.py
  src/omniintelligence/nodes/node_semantic_analysis_compute/handlers/handler_compute_semantic_analysis.py
Due: none

fix(review): [major] Revert ProtocolComputeNode.compute() Any->object conversion
  src/omniintelligence/nodes/node_pattern_assembler_orchestrator/handlers/protocols.py
Due: none

fix(ci): Run ruff format/check, fix UP038/RUF043/RUF059 violations
  pyproject.toml
  src/omniintelligence/_legacy/events/publisher/event_publisher.py
  src/omniintelligence/nodes/node_intent_classifier_compute/handlers/handler_langextract.py
  src/omniintelligence/nodes/node_pattern_assembler_orchestrator/handlers/handler_orchestrate.py
  src/omniintelligence/nodes/node_pattern_assembler_orchestrator/handlers/protocols.py
  src/omniintelligence/nodes/node_pattern_promotion_effect/handlers/handler_auto_promote.py
  src/omniintelligence/nodes/node_pattern_storage_effect/contract_loader.py
  src/omniintelligence/nodes/node_pattern_storage_effect/handlers/handler_pattern_storage.py
  src/omniintelligence/nodes/node_success_criteria_matcher_compute/handlers/handler_criteria_matching.py
  src/omniintelligence/repositories/adapter_pattern_store.py
  src/omniintelligence/runtime/dispatch_handlers.py
  src/omniintelligence/testing/mock_pattern_store.py
  src/omniintelligence/tools/stubs/contract_validator.py
  tests/integration/e2e/test_claude_hook_to_intent_pipeline.py
  tests/integration/e2e/test_tc5_full_chain_pipeline.py
  tests/unit/nodes/node_pattern_storage_effect/test_handler_consume_discovered.py
  tests/unit/nodes/node_success_criteria_matcher_compute/test_field_resolution.py
  tests/unit/nodes/node_success_criteria_matcher_compute/test_operators.py
Due: pytest-smoke, pytest-tools

fix(ci): Run ruff format/check, fix mypy and lint violations
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/nodes/node_pattern_storage_effect/contract_loader.py
  src/omniintelligence/repositories/adapter_pattern_store.py
Due: none

fix(OMN-2221): migrate orchestrator contract topics to ONEX conventions and add missing compute nodes
  src/omniintelligence/models/events/__init__.py
  src/omniintelligence/nodes/node_intelligence_orchestrator/contract.yaml
Due: none

ci: add migration freeze check to unblock required status checks
  .github/workflows/ci.yaml
  scripts/check_migration_freeze.sh
Due: none

chore: update architecture handshake to match omnibase_core 0.17.0
  .claude/architecture-handshake.md
Due: none

fix(OMN-2221): add missing pattern_learning_compute node and update stale topic docs
  src/omniintelligence/models/events/__init__.py
  src/omniintelligence/nodes/node_intelligence_orchestrator/contract.yaml
Due: none

feat(OMN-2210): wire intelligence nodes into registration + pattern extraction
  src/omniintelligence/constants.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/contract.yaml
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/__init__.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/runtime/introspection.py
  src/omniintelligence/runtime/plugin.py
  tests/unit/nodes/node_claude_hook_event_effect/test_handle_stop.py
  tests/unit/runtime/test_introspection.py
Due: pytest-tools

style: fix lint and formatting issues from local review
  tests/unit/nodes/node_claude_hook_event_effect/test_handle_stop.py
  tests/unit/runtime/test_introspection.py
Due: none

style: fix yamlfmt line wrapping in contract.yaml
  src/omniintelligence/nodes/node_claude_hook_event_effect/contract.yaml
Due: none

fix: address CodeRabbit review comments on OMN-2210
  src/omniintelligence/nodes/node_claude_hook_event_effect/contract.yaml
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/runtime/introspection.py
  src/omniintelligence/runtime/plugin.py
  tests/unit/nodes/node_claude_hook_event_effect/test_handle_stop.py
  tests/unit/runtime/test_introspection.py
Due: pytest-tools

fix(review): [critical+major+nitpick] Address all PR #103 review feedback
  scripts/validate.py
  scripts/validation/validate_naming.py
  src/omniintelligence/models/__init__.py
  src/omniintelligence/models/repository/__init__.py
  src/omniintelligence/models/repository/model_learned_pattern_row.py
  src/omniintelligence/nodes/node_intent_classifier_compute/handlers/handler_langextract.py
  src/omniintelligence/nodes/node_pattern_demotion_effect/registry/registry_pattern_demotion_effect.py
  src/omniintelligence/nodes/node_pattern_promotion_effect/registry/registry_pattern_promotion_effect.py
  src/omniintelligence/runtime/model_runtime_config.py
  src/omniintelligence/testing/mock_pattern_store.py
Due: pytest-tools

fix(review): [major] sanitize error metadata + remove dead code; [minor] improve type safety
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/runtime/introspection.py
  src/omniintelligence/runtime/plugin.py
  tests/unit/runtime/test_introspection.py
Due: pytest-tools

fix(review): [major] make IntrospectionProxy public; [minor] update contract date + simplify test
  src/omniintelligence/nodes/node_claude_hook_event_effect/contract.yaml
  src/omniintelligence/runtime/introspection.py
  src/omniintelligence/runtime/plugin.py
  tests/unit/nodes/node_claude_hook_event_effect/test_handle_stop.py
Due: pytest-tools

fix(review): [minor] simplify payload extraction in test_handle_stop
  tests/unit/nodes/node_claude_hook_event_effect/test_handle_stop.py
Due: none

fix(review): [minor] bump orchestrator contract/node version to 1.1.0
  src/omniintelligence/nodes/node_intelligence_orchestrator/contract.yaml
Due: none

fix(review): [minor] formalize pattern learning schema, add DLQ test coverage, document skipped tests
  src/omniintelligence/nodes/node_claude_hook_event_effect/contract.yaml
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/models/__init__.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/models/model_output.py
  src/omniintelligence/runtime/introspection.py
  tests/unit/nodes/node_claude_hook_event_effect/test_handle_stop.py
  tests/unit/runtime/test_introspection.py
Due: pytest-tools

fix(review): [major] return PARTIAL on Kafka failure in handle_stop; [minor] document invariants, add debug logging, fix ticket ref
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/runtime/introspection.py
  src/omniintelligence/runtime/plugin.py
  tests/unit/nodes/node_claude_hook_event_effect/test_handle_stop.py
  tests/unit/runtime/test_introspection.py
Due: pytest-tools

fix(review): [minor] add actual timing to handle_stop, document IntrospectionResult proxy lifecycle
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/runtime/introspection.py
Due: pytest-tools

fix(review): add event_bus and idempotency sections to orchestrator contract
  .claude/architecture-handshake.md
  src/omniintelligence/nodes/node_intelligence_orchestrator/contract.yaml
Due: none

fix(review): [major] guard None correlation_id in handle_stop; [minor] bump contract to 1.1.0, add OMN-2210 ref, update description
  src/omniintelligence/nodes/node_claude_hook_event_effect/contract.yaml
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
Due: none

fix(review): [minor] populate error_message on PARTIAL status in handle_stop, document shutdown test gap
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  tests/unit/runtime/test_introspection.py
Due: none

fix(review): [major+nitpick] Address remaining PR #103 review feedback
  scripts/validate.py
  scripts/validate_no_transport_imports.py
  scripts/validation/validate_naming.py
  src/omniintelligence/_legacy/events/publisher/__init__.py
  src/omniintelligence/_legacy/events/publisher/event_publisher.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/registry/registry_claude_hook_event_effect.py
  src/omniintelligence/nodes/node_pattern_demotion_effect/handlers/__init__.py
  src/omniintelligence/nodes/node_pattern_demotion_effect/handlers/handler_demotion.py
  src/omniintelligence/nodes/node_pattern_lifecycle_effect/node_tests/test_handler_transition.py
  src/omniintelligence/nodes/node_pattern_promotion_effect/handlers/__init__.py
  src/omniintelligence/nodes/node_pattern_promotion_effect/handlers/handler_auto_promote.py
  src/omniintelligence/nodes/node_pattern_promotion_effect/node_tests/test_promotion.py
  src/omniintelligence/nodes/node_pattern_storage_effect/__init__.py
  src/omniintelligence/nodes/node_pattern_storage_effect/handlers/__init__.py
  src/omniintelligence/nodes/node_pattern_storage_effect/handlers/handler_pattern_storage.py
  src/omniintelligence/nodes/node_pattern_storage_effect/handlers/handler_promote_pattern.py
  src/omniintelligence/nodes/node_pattern_storage_effect/node_tests/conftest.py
  src/omniintelligence/nodes/node_pattern_storage_effect/node_tests/test_state_transitions.py
  src/omniintelligence/runtime/model_runtime_config.py
  tests/integration/nodes/node_pattern_storage_effect/test_pattern_storage_effect_integration.py
Due: pytest-tools

fix(review): add {env}. prefix to orchestrator topics and event_bus/idempotency to pattern_learning_compute
  src/omniintelligence/nodes/node_intelligence_orchestrator/contract.yaml
  src/omniintelligence/nodes/node_pattern_learning_compute/contract.yaml
Due: none

fix(review): [major] generate fallback UUID for None correlation_id; enforce single-call invariant on introspection publish
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/runtime/introspection.py
  tests/unit/runtime/test_introspection.py
Due: pytest-tools

fix(mypy): Cast PatternMetricsRow at call sites and fix mock protocol conformance
  src/omniintelligence/models/domain/__init__.py
  src/omniintelligence/nodes/node_pattern_promotion_effect/handlers/handler_auto_promote.py
  src/omniintelligence/nodes/node_pattern_promotion_effect/node_tests/test_promotion.py
Due: none

fix(review): [minor] sanitize error before DLQ routing, add ISO-8601 timestamp validator, document shutdown lifecycle and event_bus capture
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/models/model_output.py
  src/omniintelligence/runtime/introspection.py
  src/omniintelligence/runtime/plugin.py
  tests/unit/runtime/test_introspection.py
Due: pytest-tools

fix(mypy): Fix pre-existing strict mypy errors in handler_compute and log_sanitizer
  src/omniintelligence/nodes/node_execution_trace_parser_compute/handlers/handler_compute.py
  src/omniintelligence/utils/log_sanitizer.py
Due: pytest-tools

fix(review): [major] align topic naming and fix idempotency hash field
  src/omniintelligence/nodes/node_intelligence_orchestrator/contract.yaml
  src/omniintelligence/nodes/node_pattern_learning_compute/contract.yaml
Due: none

fix(review): [minor] add missing failure topics for all orchestrator workflows
  src/omniintelligence/nodes/node_intelligence_orchestrator/contract.yaml
Due: none

Path conditions:
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Legacy code preserved for migration reference - do not lint
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - reference only
  migration_sources/.*|
  # Git internals
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Legacy code preserved for migration reference - do not lint
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - reference only
  migration_sources/.*|
  # Git internals
  \.git/.*
)$
)
