Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$


feat(omniintelligence): create Postgres schema for code entities [OMN-5661] (#414)
  deployment/database/migrations/025_code_entities.sql
  src/omniintelligence/nodes/node_ast_extraction_compute/__init__.py
  src/omniintelligence/nodes/node_ast_extraction_compute/repository/__init__.py
  src/omniintelligence/nodes/node_ast_extraction_compute/repository/repository_code_entity.py
  tests/audit/io_audit_whitelist.yaml
  tests/unit/nodes/node_ast_extraction_compute/__init__.py
  tests/unit/nodes/node_ast_extraction_compute/test_repository_code_entity.py
Due: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, check-ai-slop

chore: remove canceled TODOs for OMN-470, OMN-471, OMN-1887 [OMN-5690]
  src/omniintelligence/nodes/node_intelligence_reducer/handlers/handler_pattern_lifecycle.py
  src/omniintelligence/tools/contract_linter.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

feat(omniintelligence): port AST entity extractor [OMN-5659]
  src/omniintelligence/nodes/node_ast_extraction_compute/__init__.py
  src/omniintelligence/nodes/node_ast_extraction_compute/contract.yaml
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/handler_ast_extract.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/__init__.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_code_entities_extracted_event.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_code_entity.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_code_relationship.py
  src/omniintelligence/nodes/node_ast_extraction_compute/node.py
  tests/unit/nodes/node_ast_extraction_compute/test_ast_extract.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(omniintelligence): port code relationship detector [OMN-5660] (#418)
  src/omniintelligence/nodes/node_ast_extraction_compute/contract.yaml
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/handler_ast_extract.py
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/handler_relationship_detect.py
  tests/unit/nodes/node_ast_extraction_compute/test_relationship_detect.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(ci): allowlist false-positive hex string in test fixture [OMN-5659]
  tests/unit/nodes/node_ast_extraction_compute/test_ast_extract.py
Due: check-ai-slop

feat(omniintelligence): wire crawl -> extract pipeline via Kafka events [OMN-5662]
  src/omniintelligence/constants.py
  src/omniintelligence/runtime/contract_topics.py
  src/omniintelligence/runtime/dispatch_handler_code_crawl.py
  src/omniintelligence/runtime/dispatch_handler_code_extract.py
  src/omniintelligence/runtime/dispatch_handler_code_persist.py
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/audit/io_audit_whitelist.yaml
  tests/unit/runtime/test_dispatch_handler_code_pipeline.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

chore: remove canceled TODOs for OMN-470, OMN-471, OMN-1887 [OMN-5690] (#422)
  src/omniintelligence/nodes/node_intelligence_reducer/handlers/handler_pattern_lifecycle.py
  src/omniintelligence/tools/contract_linter.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

feat: add Postgres migrations for code_entities and code_relationships [OMN-5709]
  deployment/database/migrations/025_create_code_entities.sql
  deployment/database/migrations/026_create_code_relationships.sql
Due: migration-freeze-check

feat: define ModelCodeEntity and ModelCodeRelationship domain models [OMN-5708]
  src/omniintelligence/nodes/node_ast_extraction_compute/node_tests/__init__.py
  tests/unit/nodes/node_ast_extraction_compute/test_models.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat: define event wire models for code extraction pipeline [OMN-5710]
  src/omniintelligence/nodes/node_ast_extraction_compute/models/__init__.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_code_entities_extracted_event.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_code_file_discovered_event.py
  tests/unit/nodes/node_ast_extraction_compute/test_event_models.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat: add repository contract and adapter for code entities [OMN-5711]
  src/omniintelligence/repositories/adapter_code_entity_store.py
  src/omniintelligence/repositories/code_entities.repository.yaml
  src/omniintelligence/repositories/protocol_code_entity_store.py
  tests/unit/repositories/test_adapter_code_entity_store.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat: add node_code_crawler_effect scaffold with file discovery handler [OMN-5712]
  src/omniintelligence/nodes/node_code_crawler_effect/contract.yaml
  src/omniintelligence/nodes/node_code_crawler_effect/handlers/__init__.py
  src/omniintelligence/nodes/node_code_crawler_effect/handlers/handler_crawl_files.py
  src/omniintelligence/nodes/node_code_crawler_effect/models/__init__.py
  src/omniintelligence/nodes/node_code_crawler_effect/models/model_crawl_config.py
  src/omniintelligence/nodes/node_code_crawler_effect/node.py
  src/omniintelligence/nodes/node_code_crawler_effect/node_tests/__init__.py
  tests/audit/io_audit_whitelist.yaml
  tests/unit/nodes/node_code_crawler_effect/__init__.py
  tests/unit/nodes/node_code_crawler_effect/test_handler_crawl_files.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat: implement AST extraction handler for Python source [OMN-5713]
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/handler_extract_ast.py
  tests/unit/nodes/node_ast_extraction_compute/test_handler_extract_ast.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat: add dispatch handlers for code crawl, extract, persist, and embed+graph [OMN-5714 OMN-5715 OMN-5716 OMN-5717]
  scripts/validation/topic_naming_baseline.txt
  src/omniintelligence/runtime/dispatch_handler_code_embed_graph.py
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_dispatch_handler_code_crawl.py
  tests/unit/runtime/test_dispatch_handler_code_embed_graph.py
  tests/unit/runtime/test_dispatch_handler_code_extract.py
  tests/unit/runtime/test_dispatch_handler_code_persist.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat: add CLI script for batch code entity crawling [OMN-5718]
  scripts/crawl_code_entities.py
Due: check-ai-slop

fix: add secret allowlist pragmas and contract description for CI
  src/omniintelligence/nodes/node_code_crawler_effect/contract.yaml
  tests/unit/nodes/node_ast_extraction_compute/test_models.py
Due: check-ai-slop

feat: AST-Based Code Pattern Extraction System (Part 1) [OMN-5720] (#423)
  deployment/database/migrations/025_create_code_entities.sql
  deployment/database/migrations/026_create_code_relationships.sql
  scripts/crawl_code_entities.py
  scripts/validation/topic_naming_baseline.txt
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/handler_extract_ast.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/__init__.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_code_entities_extracted_event.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_code_file_discovered_event.py
  src/omniintelligence/nodes/node_ast_extraction_compute/node_tests/__init__.py
  src/omniintelligence/nodes/node_code_crawler_effect/contract.yaml
  src/omniintelligence/nodes/node_code_crawler_effect/handlers/__init__.py
  src/omniintelligence/nodes/node_code_crawler_effect/handlers/handler_crawl_files.py
  src/omniintelligence/nodes/node_code_crawler_effect/models/__init__.py
  src/omniintelligence/nodes/node_code_crawler_effect/models/model_crawl_config.py
  src/omniintelligence/nodes/node_code_crawler_effect/node.py
  src/omniintelligence/nodes/node_code_crawler_effect/node_tests/__init__.py
  src/omniintelligence/repositories/adapter_code_entity_store.py
  src/omniintelligence/repositories/code_entities.repository.yaml
  src/omniintelligence/repositories/protocol_code_entity_store.py
  src/omniintelligence/runtime/dispatch_handler_code_embed_graph.py
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/audit/io_audit_whitelist.yaml
  tests/unit/nodes/node_ast_extraction_compute/test_event_models.py
  tests/unit/nodes/node_ast_extraction_compute/test_handler_extract_ast.py
  tests/unit/nodes/node_ast_extraction_compute/test_models.py
  tests/unit/nodes/node_code_crawler_effect/__init__.py
  tests/unit/nodes/node_code_crawler_effect/test_handler_crawl_files.py
  tests/unit/repositories/test_adapter_code_entity_store.py
  tests/unit/runtime/test_dispatch_handler_code_crawl.py
  tests/unit/runtime/test_dispatch_handler_code_embed_graph.py
  tests/unit/runtime/test_dispatch_handler_code_extract.py
  tests/unit/runtime/test_dispatch_handler_code_persist.py
Due: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

fix: align test kwargs with main handler signatures and remove unused vars
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/handler_extract_ast.py
  src/omniintelligence/repositories/adapter_code_entity_store.py
  tests/unit/runtime/test_dispatch_handler_code_crawl.py
  tests/unit/runtime/test_dispatch_handler_code_extract.py
  tests/unit/runtime/test_dispatch_handler_code_persist.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat: implement Wave 0 — query engine, classifier, quality scorer, migration, persist event [OMN-5673 OMN-5674 OMN-5675 OMN-5676 OMN-5677]
  deployment/database/migrations/027_code_entity_enrichment_part2.sql
  src/omniintelligence/constants.py
  src/omniintelligence/nodes/node_ast_extraction_compute/contract.yaml
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/handler_deterministic_classify.py
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/handler_quality_score.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_classification_result.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_code_entities_persisted_event.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_quality_result.py
  src/omniintelligence/nodes/node_ast_extraction_compute/repository/repository_code_entity.py
  src/omniintelligence/nodes/node_code_crawler_effect/contract.yaml
  src/omniintelligence/nodes/node_code_crawler_effect/handlers/handler_onextree_query.py
  src/omniintelligence/runtime/dispatch_handler_code_persist.py
  tests/unit/nodes/node_ast_extraction_compute/test_deterministic_classify.py
  tests/unit/nodes/node_ast_extraction_compute/test_quality_score.py
  tests/unit/nodes/node_ast_extraction_compute/test_repository_enrichment.py
  tests/unit/nodes/node_code_crawler_effect/test_onextree_query.py
  tests/unit/runtime/test_dispatch_handler_persist_event.py
Due: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

feat: implement Part 2 tasks 7-8, 11 and wire classify+quality dispatch [OMN-5678 OMN-5679 OMN-5680 OMN-5683]
  scripts/infer_contracts.py
  src/omniintelligence/nodes/node_ast_extraction_compute/contract.yaml
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/handler_multilang_extract.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_code_entity.py
  src/omniintelligence/nodes/node_code_crawler_effect/contract.yaml
  src/omniintelligence/runtime/dispatch_handler_code_classify.py
  src/omniintelligence/runtime/dispatch_handler_code_extract.py
  src/omniintelligence/runtime/dispatch_handler_code_quality.py
  tests/unit/nodes/node_ast_extraction_compute/test_multilang_extract.py
  tests/unit/nodes/node_code_crawler_effect/test_omnidash_crawl.py
  tests/unit/runtime/test_dispatch_handler_classify_quality.py
  tests/unit/runtime/test_dispatch_handler_extract_routing.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

fix: resolve migration schema conflicts and align field access to rich schema [OMN-5765]
  deployment/database/migrations/025_create_code_entities.sql
  deployment/database/migrations/026_create_code_relationships.sql
  deployment/database/migrations/027_normalize_code_entities_schema.sql
  src/omniintelligence/repositories/adapter_code_entity_store.py
  src/omniintelligence/repositories/code_entities.repository.yaml
  src/omniintelligence/runtime/dispatch_handler_code_embed_graph.py
  tests/unit/repositories/test_adapter_code_entity_store.py
  tests/unit/runtime/test_dispatch_handler_code_embed_graph.py
Due: mypy-type-check, onex-validate-naming, migration-freeze-check, pytest-tools, check-ai-slop

fix: convert entity dicts to ModelCodeEntity for type safety [OMN-5672]
  src/omniintelligence/runtime/dispatch_handler_code_extract.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(ci): fix bare TODO in quality scoring handler and yamlfmt [OMN-5694]
  .pre-commit-config.yaml
  src/omniintelligence/nodes/node_quality_scoring_compute/handlers/handler_quality_scoring.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat: Archive Capability Porting — Code Intelligence Enhancement (Part 2) [OMN-5672] (#425)
  deployment/database/migrations/027_code_entity_enrichment_part2.sql
  scripts/infer_contracts.py
  src/omniintelligence/constants.py
  src/omniintelligence/nodes/node_ast_extraction_compute/contract.yaml
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/handler_deterministic_classify.py
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/handler_extract_ast.py
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/handler_multilang_extract.py
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/handler_quality_score.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_classification_result.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_code_entities_persisted_event.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_code_entity.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_quality_result.py
  src/omniintelligence/nodes/node_ast_extraction_compute/repository/repository_code_entity.py
  src/omniintelligence/nodes/node_code_crawler_effect/contract.yaml
  src/omniintelligence/nodes/node_code_crawler_effect/handlers/handler_onextree_query.py
  src/omniintelligence/repositories/adapter_code_entity_store.py
  src/omniintelligence/runtime/dispatch_handler_code_classify.py
  src/omniintelligence/runtime/dispatch_handler_code_extract.py
  src/omniintelligence/runtime/dispatch_handler_code_persist.py
  src/omniintelligence/runtime/dispatch_handler_code_quality.py
  tests/unit/nodes/node_ast_extraction_compute/test_deterministic_classify.py
  tests/unit/nodes/node_ast_extraction_compute/test_multilang_extract.py
  tests/unit/nodes/node_ast_extraction_compute/test_quality_score.py
  tests/unit/nodes/node_ast_extraction_compute/test_repository_enrichment.py
  tests/unit/nodes/node_code_crawler_effect/test_omnidash_crawl.py
  tests/unit/nodes/node_code_crawler_effect/test_onextree_query.py
  tests/unit/runtime/test_dispatch_handler_classify_quality.py
  tests/unit/runtime/test_dispatch_handler_code_crawl.py
  tests/unit/runtime/test_dispatch_handler_code_extract.py
  tests/unit/runtime/test_dispatch_handler_code_persist.py
  tests/unit/runtime/test_dispatch_handler_extract_routing.py
  tests/unit/runtime/test_dispatch_handler_persist_event.py
Due: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

chore: release v0.16.1
  pyproject.toml
  uv.lock
Due: none

chore: release v0.16.1 (#427)
  pyproject.toml
  uv.lock
Due: none

feat(ci): add cross-repo boundary parity and migration conflict check [OMN-5772]
  .github/workflows/ci.yaml
Due: none

feat(ci): add cross-repo boundary parity and migration conflict check [OMN-5772] (#428)
  .github/workflows/ci.yaml
Due: none

feat: add adversarial review prompt module [OMN-5789]
  src/omniintelligence/review_pairing/prompts/__init__.py
  src/omniintelligence/review_pairing/prompts/adversarial_reviewer.py
  tests/unit/review_pairing/prompts/__init__.py
  tests/unit/review_pairing/prompts/test_adversarial_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat: implement LLM-backed adapter with multi-model registry [OMN-5790][OMN-5791]
  src/omniintelligence/review_pairing/adapters/__init__.py
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/models_external_review.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat: add Codex CLI adapter for adversarial review [OMN-5792]
  src/omniintelligence/review_pairing/adapters/__init__.py
  src/omniintelligence/review_pairing/adapters/adapter_codex_reviewer.py
  tests/unit/review_pairing/adapters/test_adapter_codex_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat: create CLI wrapper for standalone multi-model review [OMN-5793]
  src/omniintelligence/review_pairing/cli_review.py
  tests/unit/review_pairing/test_cli_review.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix: trim boilerplate docstring in adversarial_reviewer.py [OMN-5789]
  src/omniintelligence/review_pairing/prompts/adversarial_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix: add debug logging to empty except clauses for CodeQL [OMN-5789]
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat: multi-model adversarial review system (#430)
  src/omniintelligence/review_pairing/adapters/__init__.py
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/adapters/adapter_codex_reviewer.py
  src/omniintelligence/review_pairing/cli_review.py
  src/omniintelligence/review_pairing/models_external_review.py
  src/omniintelligence/review_pairing/prompts/__init__.py
  src/omniintelligence/review_pairing/prompts/adversarial_reviewer.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
  tests/unit/review_pairing/adapters/test_adapter_codex_reviewer.py
  tests/unit/review_pairing/prompts/__init__.py
  tests/unit/review_pairing/prompts/test_adversarial_reviewer.py
  tests/unit/review_pairing/test_cli_review.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix: reconcile AST extractor field names with ModelCodeEntity contract [OMN-5814]
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/handler_extract_ast.py
  tests/unit/nodes/node_ast_extraction_compute/test_event_models.py
  tests/unit/nodes/node_ast_extraction_compute/test_handler_extract_ast.py
  tests/unit/nodes/node_ast_extraction_compute/test_models.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop
