Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

mypy-type-check:
  name: mypy (type checking)
  entry: uv run mypy --ignore-missing-imports --incremental
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-naming:
  name: onex-validate-naming
  entry: python scripts/validation/validate_naming.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

io-audit:
  name: io-audit (ONEX purity)
  entry: uv run python -m omniintelligence.audit.io_audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-transport-imports:
  name: validate-no-transport-imports (ARCH-002)
  entry: uv run python scripts/validate_no_transport_imports.py --exclude src/omniintelligence/runtime --exclude src/omniintelligence/api --exclude src/omniintelligence/clients
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: pytest (smoke tests)
  entry: uv run pytest tests/unit/tools/ -m unit --maxfail=3 -x --tb=short -q
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-tools:
  name: pytest (tools/utils/runtime - full)
  entry: uv run pytest tests/unit/tools/ tests/unit/test_log_sanitizer.py -v --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-ai-slop:
  name: Check for AI-slop patterns
  language: system
  entry: uv run python scripts/validation/check_ai_slop.py
  pass_filenames: true
  stages:
  - pre-commit

fix(api): add project_scope field to ModelPatternQueryResponse [OMN-5818]
  src/omniintelligence/api/model_pattern_query_response.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix: multi-model review CLI bugs and prompt upgrade [OMN-5819]
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/adapters/adapter_codex_reviewer.py
  src/omniintelligence/review_pairing/models_external_review.py
  src/omniintelligence/review_pairing/prompts/adversarial_reviewer.py
  tests/unit/review_pairing/adapters/test_adapter_codex_reviewer.py
  tests/unit/review_pairing/prompts/test_adversarial_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

chore: bump omnibase-core to >=0.30.1 [OMN-5812]
  pyproject.toml
  uv.lock
Due: none

chore: bump omnibase-core to >=0.30.1 [OMN-5812] (#434)
  pyproject.toml
  uv.lock
Due: none

fix: correct DeepSeek-R1 api_model_id for MLX server [OMN-5819]
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix: increase DeepSeek-R1 timeout to 300s with 30s connect [OMN-5819]
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix: port remaining ChatGPT persona traits to review prompt [OMN-5819]
  src/omniintelligence/review_pairing/prompts/adversarial_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat: add PR diff review mode and fix ARCH-002 compliance [OMN-5819]
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/adapters/adapter_codex_reviewer.py
  src/omniintelligence/review_pairing/cli_review.py
  src/omniintelligence/review_pairing/prompts/adversarial_reviewer.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
  tests/unit/review_pairing/test_cli_review.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix: add pragma allowlist for detect-secrets false positive [OMN-5819]
  .secrets.baseline
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

ci: add stale-todo-gate, todo-audit-on-merge, check-handshake, security-scan workflows [OMN-5855]
  .github/workflows/check-handshake.yml
  .github/workflows/security-scan.yml
Due: none

ci: add stale-todo-gate, todo-audit-on-merge, check-handshake, security-scan workflows [OMN-5855] (#435)
  .github/workflows/check-handshake.yml
  .github/workflows/security-scan.yml
Due: none

chore: release v0.16.2
  pyproject.toml
  uv.lock
Due: none

chore: release v0.16.2 (#436)
  pyproject.toml
  uv.lock
Due: none

feat(calibration): add data models and DB migration for review calibration loop [OMN-6165] [OMN-6170]
  deployment/database/migrations/025_review_calibration_runs.sql
  deployment/database/migrations/rollback/025_rollback.sql
  src/omniintelligence/review_pairing/models_calibration.py
  tests/unit/review_pairing/test_models_calibration.py
  uv.lock
Due: mypy-type-check, onex-validate-naming, migration-freeze-check, check-ai-slop

feat(calibration): add serializer, alignment engine, scorer, persistence, and Kafka topic [OMN-6166] [OMN-6167] [OMN-6168] [OMN-6171] [OMN-6173]
  src/omniintelligence/review_pairing/alignment_engine.py
  src/omniintelligence/review_pairing/calibration_persistence.py
  src/omniintelligence/review_pairing/calibration_scorer.py
  src/omniintelligence/review_pairing/models_calibration.py
  src/omniintelligence/review_pairing/serializer_r1r6.py
  src/omniintelligence/review_pairing/topics.py
  tests/unit/review_pairing/test_alignment_engine.py
  tests/unit/review_pairing/test_calibration_persistence.py
  tests/unit/review_pairing/test_calibration_scorer.py
  tests/unit/review_pairing/test_calibration_topics.py
  tests/unit/review_pairing/test_serializer_r1r6.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(review-pairing): add calibration data models [OMN-6165]
  src/omniintelligence/review_pairing/models_calibration.py
  tests/unit/review_pairing/test_models_calibration.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(db): add calibration runs migration [OMN-6170]
  deployment/database/migrations/025_review_calibration_runs.sql
  deployment/database/migrations/rollback/025_rollback.sql
Due: migration-freeze-check

feat(calibration): add orchestrator, few-shot extractor, and prompt writer [OMN-6169] [OMN-6174] [OMN-6175]
  src/omniintelligence/review_pairing/calibration_orchestrator.py
  src/omniintelligence/review_pairing/fewshot_extractor.py
  src/omniintelligence/review_pairing/prompt_writer.py
  tests/unit/review_pairing/test_calibration_orchestrator.py
  tests/unit/review_pairing/test_fewshot_extractor.py
  tests/unit/review_pairing/test_prompt_writer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(review-pairing): add R1-R6 finding serializer [OMN-6166]
  src/omniintelligence/review_pairing/serializer_r1r6.py
  tests/unit/review_pairing/test_serializer_r1r6.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(review-pairing): add calibration scorer [OMN-6168]
  src/omniintelligence/review_pairing/calibration_scorer.py
  tests/unit/review_pairing/test_calibration_scorer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(review-pairing): add calibration Kafka topic [OMN-6173]
  src/omniintelligence/review_pairing/topics.py
  tests/unit/review_pairing/test_calibration_topics.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(review-pairing): add finding alignment engine [OMN-6167]
  src/omniintelligence/review_pairing/alignment_engine.py
  tests/unit/review_pairing/test_alignment_engine.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(review-pairing): add calibration persistence layer [OMN-6171]
  src/omniintelligence/review_pairing/calibration_persistence.py
  tests/unit/review_pairing/test_calibration_persistence.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(review-pairing): add finding alignment engine [OMN-6167] (#445)
  src/omniintelligence/review_pairing/alignment_engine.py
  tests/unit/review_pairing/test_alignment_engine.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(review-pairing): add calibration Kafka topic [OMN-6173] (#449)
  src/omniintelligence/review_pairing/topics.py
  tests/unit/review_pairing/test_calibration_topics.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(nodes): add CI debug escalation event type [OMN-6123]
  src/omniintelligence/models/events/__init__.py
  src/omniintelligence/models/events/model_ci_debug_escalation_event.py
  src/omniintelligence/nodes/node_ci_failure_tracker_effect/contract.yaml
  src/omniintelligence/nodes/node_ci_failure_tracker_effect/handlers/handler_trigger_record.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(nodes): wire intent drift detection into hook event pipeline [OMN-6124]
  src/omniintelligence/nodes/node_claude_hook_event_effect/contract.yaml
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(runtime): add operation lifecycle events for omnidash /intelligence page [OMN-6125]
  src/omniintelligence/constants.py
  src/omniintelligence/models/events/__init__.py
  src/omniintelligence/models/events/model_operation_lifecycle_event.py
  src/omniintelligence/nodes/node_intelligence_orchestrator/contract.yaml
  src/omniintelligence/runtime/dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(models): add drift detection keys to ClaudeHookResultMetadataDict [OMN-6124]
  src/omniintelligence/nodes/node_claude_hook_event_effect/models/model_claude_hook_result.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(nodes): add llm-call-completed emission to utilization LLM client [OMN-6129]
  src/omniintelligence/clients/utilization_llm_client.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(nodes): add RL routing decision event type and stub emission [OMN-6126]
  src/omniintelligence/models/events/__init__.py
  src/omniintelligence/models/events/model_rl_routing_decision_event.py
  src/omniintelligence/rl/emit.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(calibration): add few-shot extractor [OMN-6174]
  src/omniintelligence/review_pairing/fewshot_extractor.py
  tests/unit/review_pairing/test_fewshot_extractor.py
  uv.lock
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(calibration): add calibration run orchestrator [OMN-6169]
  src/omniintelligence/review_pairing/calibration_orchestrator.py
  tests/unit/review_pairing/test_calibration_orchestrator.py
  uv.lock
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(calibration): add prompt writer for few-shot injection [OMN-6175]
  src/omniintelligence/review_pairing/prompt_writer.py
  tests/unit/review_pairing/test_prompt_writer.py
  uv.lock
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(calibration): add calibration run orchestrator [OMN-6169] (#451)
  src/omniintelligence/review_pairing/calibration_orchestrator.py
  tests/unit/review_pairing/test_calibration_orchestrator.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(calibration): add prompt writer for few-shot injection [OMN-6175] (#452)
  src/omniintelligence/review_pairing/prompt_writer.py
  tests/unit/review_pairing/test_prompt_writer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

