Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

mypy-type-check:
  name: mypy (type checking)
  entry: uv run mypy --ignore-missing-imports --incremental
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-naming:
  name: onex-validate-naming
  entry: python scripts/validation/validate_naming.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

io-audit:
  name: io-audit (ONEX purity)
  entry: uv run python -m omniintelligence.audit.io_audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-transport-imports:
  name: validate-no-transport-imports (ARCH-002)
  entry: uv run python scripts/validate_no_transport_imports.py --exclude src/omniintelligence/runtime --exclude src/omniintelligence/api --exclude src/omniintelligence/clients
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: pytest (smoke tests)
  entry: uv run pytest tests/unit/tools/ -m unit --maxfail=3 -x --tb=short -q
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-tools:
  name: pytest (tools/utils/runtime - full)
  entry: uv run pytest tests/unit/tools/ tests/unit/test_log_sanitizer.py -v --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-ai-slop:
  name: Check for AI-slop patterns
  language: system
  entry: uv run python scripts/validation/check_ai_slop.py
  pass_filenames: true
  stages:
  - pre-commit

chore(deps): refresh omninode sibling locks [bot] (#806)
  uv.lock
Due: none

feat(OMN-15018): wire OCC autobind + companion-effect callers into omniintelligence
  .github/workflows/call-occ-autobind.yml
  .github/workflows/call-occ-companion-effect.yml
  architecture-handshakes/validator-requirements-baseline.yaml
Due: none

feat(OMN-15018): wire OCC autobind + companion-effect callers into omniintelligence (#807)
  .github/workflows/call-occ-autobind.yml
  .github/workflows/call-occ-companion-effect.yml
  architecture-handshakes/validator-requirements-baseline.yaml
Due: none

ci(OMN-15063): fix detect-secrets verify-suppression + wire it into required CI Summary
  .github/workflows/ci.yml
  .secrets.baseline
Due: none

fix(OMN-15066): retry-budget invariant + progress prints for hostile-reviewer stall
  src/omniintelligence/review_pairing/cli_review.py
  src/omniintelligence/review_pairing/retry_budget.py
  tests/unit/review_pairing/test_retry_budget.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

ci(OMN-15063): fix detect-secrets verify-suppression + wire it into required CI Summary (#809)
  .github/workflows/ci.yml
  .secrets.baseline
Due: none

fix(OMN-15058): split secret-shaped test fixtures to defeat GH scanner false-positives
  tests/unit/test_log_sanitizer.py
Due: pytest-tools, check-ai-slop

fix(OMN-15058): allowlist the google-key fixture fragment, refresh secrets baseline
  .secrets.baseline
  tests/unit/test_log_sanitizer.py
Due: pytest-tools, check-ai-slop

fix(OMN-15058): split secret-shaped test fixtures to defeat GH scanner false-positives (#808)
  .secrets.baseline
  tests/unit/test_log_sanitizer.py
Due: pytest-tools, check-ai-slop

fix(OMN-15066): retry-budget invariant + progress prints for hostile-reviewer stall (#810)
  src/omniintelligence/review_pairing/cli_review.py
  src/omniintelligence/review_pairing/retry_budget.py
  tests/unit/review_pairing/test_retry_budget.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-15115): size qwen3-review-b timeout/retries to real measured throughput
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/models_external_review.py
  src/omniintelligence/review_pairing/retry_budget.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
  tests/unit/review_pairing/test_retry_budget.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-15115): size qwen3-review-b timeout/retries to real measured throughput (#811)
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/models_external_review.py
  src/omniintelligence/review_pairing/retry_budget.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
  tests/unit/review_pairing/test_retry_budget.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-15129): refresh stale cross-repo pins blocking omnibase-infra#2442 fix from reaching hostile-reviewer
  pyproject.toml
  uv.lock
Due: none

fix(OMN-15129): add required raw-override-ok token for dep-provenance gate
  pyproject.toml
Due: none

fix(OMN-15129): pin ruff==0.15.8 to avoid incidental lint-rule drift from the uv.lock re-resolution
  pyproject.toml
  uv.lock
Due: none

fix(OMN-15129): refresh stale cross-repo pins blocking omnibase-infra#2442 from reaching hostile-reviewer (#812)
  pyproject.toml
  uv.lock
Due: none

feat(OMN-15144): extend Dep Provenance Gate with cross-repo git-pin staleness threshold
  pyproject.toml
  scripts/check_dep_provenance.py
  tests/scripts/test_check_dep_provenance.py
Due: check-ai-slop

fix(OMN-15144): allowlist test-fixture SHAs flagged by detect-secrets
  tests/scripts/test_check_dep_provenance.py
Due: check-ai-slop

feat(OMN-15144): extend Dep Provenance Gate with cross-repo git-pin staleness threshold (#813)
  pyproject.toml
  scripts/check_dep_provenance.py
  tests/scripts/test_check_dep_provenance.py
Due: check-ai-slop

chore(deps): refresh omninode sibling locks [bot]
  uv.lock
Due: none

chore(OMN-13902): refresh omninode sibling locks
  uv.lock
Due: none

fix(OMN-15110): fallback for oversized hostile review diffs
  src/omniintelligence/review_pairing/cli_review.py
  tests/unit/review_pairing/test_cli_review.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

docs(OMN-15199): slim CLAUDE.md to the proven root pattern (42,089 -> 19,988 bytes)
  CLAUDE.md
  docs/INDEX.md
  docs/reference/EVENT_SURFACE.md
Due: check-ai-slop

fix(OMN-15110): fallback for oversized hostile review diffs (#816)
  src/omniintelligence/review_pairing/cli_review.py
  tests/unit/review_pairing/test_cli_review.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

docs(OMN-15199): slim CLAUDE.md to the proven root pattern (42,089 -> 19,988 bytes) (#817)
  CLAUDE.md
  docs/INDEX.md
  docs/reference/EVENT_SURFACE.md
Due: check-ai-slop

fix(OMN-15110): bound hostile reviewer large PR fallback
  src/omniintelligence/review_pairing/cli_review.py
  tests/unit/review_pairing/test_cli_review.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-15276): retire the conflicting code_entities migrations; DDL ownership moves to the applied set
  deployment/database/migrations/025_code_entities.sql
  deployment/database/migrations/025_create_code_entities.sql
  deployment/database/migrations/026_create_code_relationships.sql
  deployment/database/migrations/027_code_entity_enrichment_part2.sql
  deployment/database/migrations/CODE_ENTITY_DDL_OWNERSHIP.md
  tests/unit/migrations/__init__.py
  tests/unit/migrations/test_code_entity_ddl_ownership.py
Due: migration-freeze-check, check-ai-slop

fix(OMN-15276): retire the conflicting code_entities migrations; DDL ownership moves to the applied set (#819)
  deployment/database/migrations/025_code_entities.sql
  deployment/database/migrations/025_create_code_entities.sql
  deployment/database/migrations/026_create_code_relationships.sql
  deployment/database/migrations/027_code_entity_enrichment_part2.sql
  deployment/database/migrations/CODE_ENTITY_DDL_OWNERSHIP.md
  tests/unit/migrations/__init__.py
  tests/unit/migrations/test_code_entity_ddl_ownership.py
Due: migration-freeze-check, check-ai-slop

fix(OMN-16062): scope legacy OCC contract validation
  .github/workflows/ci.yml
  pyproject.toml
  src/omniintelligence/nodes/node_success_criteria_matcher_compute/handlers/handler_criteria_matching.py
  tests/unit/tools/test_contract_compliance_selector.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

fix(OMN-16062): scope legacy OCC contract validation (#822)
  .github/workflows/ci.yml
  pyproject.toml
  src/omniintelligence/nodes/node_success_criteria_matcher_compute/handlers/handler_criteria_matching.py
  tests/unit/tools/test_contract_compliance_selector.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

feat(OMN-16061): freeze deterministic code projection seam
  docs/architecture/CODE_PROJECTION_V1.md
  src/omniintelligence/code_projection/__init__.py
  src/omniintelligence/code_projection/_canonical.py
  src/omniintelligence/code_projection/codec.py
  src/omniintelligence/code_projection/models.py
  tests/fixtures/code_projection/v1/README.md
  tests/fixtures/code_projection/v1/batches/empty_python_seq1.json
  tests/fixtures/code_projection/v1/batches/policy_tombstone_seq5.json
  tests/fixtures/code_projection/v1/batches/python_a_seq1.json
  tests/fixtures/code_projection/v1/batches/python_a_seq3.json
  tests/fixtures/code_projection/v1/batches/python_b_seq2.json
  tests/fixtures/code_projection/v1/batches/source_tombstone_seq4.json
  tests/fixtures/code_projection/v1/batches/typescript_seq1.json
  tests/fixtures/code_projection/v1/code_projection_batch_v1.schema.json
  tests/fixtures/code_projection/v1/code_projection_batch_v1.schema.sha256
  tests/fixtures/code_projection/v1/replay_manifest.json
  tests/fixtures/code_projection/v1/sanitized/greeter-class-v2.txt
  tests/fixtures/code_projection/v1/sanitized/greeter-class.txt
  tests/fixtures/code_projection/v1/sanitized/widget-interface.txt
  tests/fixtures/code_projection/v1/sources/empty.py.fixture
  tests/fixtures/code_projection/v1/sources/greeter.py.fixture
  tests/fixtures/code_projection/v1/sources/greeter_v2.py.fixture
  tests/fixtures/code_projection/v1/sources/widget.ts.fixture
  tests/fixtures/code_projection/v1/transform_manifest.json
  tests/unit/code_projection/fixture_vectors.py
  tests/unit/code_projection/test_canonical.py
  tests/unit/code_projection/test_codec_and_replay.py
  tests/unit/code_projection/test_fixture_contract.py
  tests/unit/code_projection/test_models.py
  tests/unit/rl/test_routing_pipeline.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-16061): harden projection fixture contract
  src/omniintelligence/code_projection/codec.py
  src/omniintelligence/code_projection/models.py
  tests/unit/code_projection/test_fixture_contract.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

test(OMN-16061): annotate deterministic fixture hashes
  tests/unit/code_projection/test_fixture_contract.py
  tests/unit/code_projection/test_models.py
Due: check-ai-slop

feat(OMN-16061): run code projection in dev lab
  docs/architecture/CODE_PROJECTION_V1.md
  src/omniintelligence/code_projection/__init__.py
  src/omniintelligence/code_projection/__main__.py
  src/omniintelligence/code_projection/artifacts.py
  src/omniintelligence/code_projection/codec.py
  src/omniintelligence/code_projection/extraction.py
  src/omniintelligence/code_projection/materializer.py
  tests/unit/code_projection/test_artifacts.py
  tests/unit/code_projection/test_cli.py
  tests/unit/code_projection/test_extraction.py
  tests/unit/code_projection/test_materializer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(OMN-16068): serve authorized code context packs
  src/omniintelligence/code_projection/context_serving/__init__.py
  src/omniintelligence/code_projection/context_serving/__main__.py
  src/omniintelligence/code_projection/context_serving/cli.py
  src/omniintelligence/code_projection/context_serving/codec.py
  src/omniintelligence/code_projection/context_serving/exceptions.py
  src/omniintelligence/code_projection/context_serving/live.py
  src/omniintelligence/code_projection/context_serving/models.py
  src/omniintelligence/code_projection/context_serving/protocols.py
  src/omniintelligence/code_projection/context_serving/resolver.py
  src/omniintelligence/code_projection/context_serving/service.py
  src/omniintelligence/code_projection/qdrant.py
  tests/unit/code_projection/context_serving/__init__.py
  tests/unit/code_projection/context_serving/fixtures.py
  tests/unit/code_projection/context_serving/test_cli.py
  tests/unit/code_projection/context_serving/test_codec.py
  tests/unit/code_projection/context_serving/test_live.py
  tests/unit/code_projection/context_serving/test_service.py
  tests/unit/code_projection/test_cli.py
  tests/unit/code_projection/test_qdrant.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(OMN-16061): freeze deterministic code projection seam (#821)
  docs/architecture/CODE_PROJECTION_V1.md
  src/omniintelligence/code_projection/__init__.py
  src/omniintelligence/code_projection/_canonical.py
  src/omniintelligence/code_projection/codec.py
  src/omniintelligence/code_projection/models.py
  tests/fixtures/code_projection/v1/README.md
  tests/fixtures/code_projection/v1/batches/empty_python_seq1.json
  tests/fixtures/code_projection/v1/batches/policy_tombstone_seq5.json
  tests/fixtures/code_projection/v1/batches/python_a_seq1.json
  tests/fixtures/code_projection/v1/batches/python_a_seq3.json
  tests/fixtures/code_projection/v1/batches/python_b_seq2.json
  tests/fixtures/code_projection/v1/batches/source_tombstone_seq4.json
  tests/fixtures/code_projection/v1/batches/typescript_seq1.json
  tests/fixtures/code_projection/v1/code_projection_batch_v1.schema.json
  tests/fixtures/code_projection/v1/code_projection_batch_v1.schema.sha256
  tests/fixtures/code_projection/v1/replay_manifest.json
  tests/fixtures/code_projection/v1/sanitized/greeter-class-v2.txt
  tests/fixtures/code_projection/v1/sanitized/greeter-class.txt
  tests/fixtures/code_projection/v1/sanitized/widget-interface.txt
  tests/fixtures/code_projection/v1/sources/empty.py.fixture
  tests/fixtures/code_projection/v1/sources/greeter.py.fixture
  tests/fixtures/code_projection/v1/sources/greeter_v2.py.fixture
  tests/fixtures/code_projection/v1/sources/widget.ts.fixture
  tests/fixtures/code_projection/v1/transform_manifest.json
  tests/unit/code_projection/fixture_vectors.py
  tests/unit/code_projection/test_canonical.py
  tests/unit/code_projection/test_codec_and_replay.py
  tests/unit/code_projection/test_fixture_contract.py
  tests/unit/code_projection/test_models.py
  tests/unit/rl/test_routing_pipeline.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

chore(OMN-16068): baseline two verified detect-secrets false positives
  .secrets.baseline
Due: none

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

