Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$


ci(OMN-10483): add receipt gate caller
  .github/workflows/call-receipt-gate.yml
Due: none

ci(OMN-10483): add receipt gate caller (#635)
  .github/workflows/call-receipt-gate.yml
Due: none

feat(OMN-10388): record dispatch feedback outcomes (#634)
  src/omniintelligence/nodes/node_pattern_feedback_effect/contract.yaml
  src/omniintelligence/nodes/node_pattern_feedback_effect/handlers/__init__.py
  src/omniintelligence/nodes/node_pattern_feedback_effect/handlers/handler_dispatch_outcome.py
  src/omniintelligence/nodes/node_pattern_feedback_effect/models/__init__.py
  src/omniintelligence/nodes/node_pattern_feedback_effect/models/model_dispatch_outcome_result.py
  tests/unit/nodes/node_pattern_feedback_effect/test_handler_dispatch_outcome.py
  tests/unit/nodes/node_pattern_feedback_effect/test_session_path_unchanged.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat: remove ANTHROPIC_API_KEY hard requirement from Claude API fallback (OMN-7835) (#632)
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

test(OMN-7205): add integration tests for node family grouping against real codebase (#633)
  tests/integration/test_node_family_grouping.py
Due: check-ai-slop

chore(deps): align omnibase release pins
  pyproject.toml
  uv.lock
Due: none

chore(deps): align omnibase release pins (#636)
  pyproject.toml
  uv.lock
Due: none

fix(OMN-7609): wire Kafka producer into crawl scheduler registry
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(OMN-7609): wire Kafka producer into crawl scheduler registry (#639)
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

test(OMN-7203): verify AST crawl yields >500 entities across 4 repos
  tests/unit/nodes/node_ast_extraction_compute/test_multi_repo_crawl_counts.py
Due: check-ai-slop

test(OMN-7203): walk all 4 target repos in _omni_home resolver
  tests/unit/nodes/node_ast_extraction_compute/test_multi_repo_crawl_counts.py
Due: check-ai-slop

test(OMN-7203): use settings for omni home
  tests/unit/nodes/node_ast_extraction_compute/test_multi_repo_crawl_counts.py
Due: check-ai-slop

test(OMN-7203): verify AST crawl yields >500 entities across 4 repos (#640)
  tests/unit/nodes/node_ast_extraction_compute/test_multi_repo_crawl_counts.py
Due: check-ai-slop

test(OMN-7209): verify seed_patterns_from_families dry-run pipeline
  tests/unit/nodes/node_pattern_extraction_compute/test_seed_patterns_from_families.py
Due: check-ai-slop

test(OMN-7209): verify seed_patterns_from_families dry-run pipeline (#641)
  tests/unit/nodes/node_pattern_extraction_compute/test_seed_patterns_from_families.py
Due: check-ai-slop

fix(OMN-10736): replace 4 silent env fallbacks with os.environ[] in omniintelligence
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/validate_no_env_fallbacks.py
  src/omniintelligence/clients/embedding_client.py
  src/omniintelligence/clients/utilization_llm_client.py
  src/omniintelligence/nodes/node_gmail_intent_evaluator_effect/handlers/handler_gmail_intent_evaluate.py
  src/omniintelligence/runtime/dispatch_handler_code_embed_graph.py
  tests/unit/scripts/test_validate_no_env_fallbacks.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

chore(OMN-10757): upgrade validate_no_env_fallbacks.py to canonical 264-line version (OMN-10741)
  .pre-commit-config.yaml
  scripts/validate_no_env_fallbacks.py
Due: check-ai-slop

feat(OMN-10765): port change-aware test selection to omniintelligence
  .github/workflows/ci.yml
  pyproject.toml
  scripts/ci/__init__.py
  scripts/ci/detect_test_paths.py
  scripts/ci/test_selection_adjacency.yaml
  scripts/ci/test_selection_loader.py
  scripts/ci/test_selection_models.py
  tests/unit/scripts/test_detect_test_paths.py
  uv.lock
Due: check-ai-slop

fix(OMN-10765): ignore node_pattern_extraction_compute in full-suite unit run
  .github/workflows/ci.yml
Due: none

fix(OMN-10765): restore full-suite pytest scope to tests/unit/tools/ only
  .github/workflows/ci.yml
Due: none

fix(OMN-10765): allow detector direct execution
  scripts/ci/detect_test_paths.py
Due: check-ai-slop

feat(OMN-10765): port change-aware test selection to omniintelligence (#645)
  .github/workflows/ci.yml
  pyproject.toml
  scripts/ci/__init__.py
  scripts/ci/detect_test_paths.py
  scripts/ci/test_selection_adjacency.yaml
  scripts/ci/test_selection_loader.py
  scripts/ci/test_selection_models.py
  tests/unit/scripts/test_detect_test_paths.py
  uv.lock
Due: check-ai-slop

fix(OMN-10736): remove unused fallback test variable
  tests/unit/scripts/test_validate_no_env_fallbacks.py
Due: check-ai-slop

fix(OMN-10736): replace 4 silent env fallbacks with os.environ[] in omniintelligence (#644)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/validate_no_env_fallbacks.py
  src/omniintelligence/clients/embedding_client.py
  src/omniintelligence/clients/utilization_llm_client.py
  src/omniintelligence/nodes/node_gmail_intent_evaluator_effect/handlers/handler_gmail_intent_evaluate.py
  src/omniintelligence/runtime/dispatch_handler_code_embed_graph.py
  tests/unit/scripts/test_validate_no_env_fallbacks.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

fix(OMN-10736): resolve fallback validator review threads
  .github/workflows/ci.yml
  scripts/validate_no_env_fallbacks.py
  src/omniintelligence/nodes/node_gmail_intent_evaluator_effect/handlers/handler_gmail_intent_evaluate.py
  src/omniintelligence/runtime/dispatch_handler_code_embed_graph.py
  tests/unit/scripts/test_validate_no_env_fallbacks.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

fix(OMN-10736): resolve fallback validator review threads (#646)
  .github/workflows/ci.yml
  scripts/validate_no_env_fallbacks.py
  src/omniintelligence/nodes/node_gmail_intent_evaluator_effect/handlers/handler_gmail_intent_evaluate.py
  src/omniintelligence/runtime/dispatch_handler_code_embed_graph.py
  tests/unit/scripts/test_validate_no_env_fallbacks.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

fix(OMN-10757): consolidate env fallback validator
  scripts/validate_no_env_fallbacks.py
Due: check-ai-slop

fix(OMN-10757): harden env fallback docstring scanning
  scripts/validate_no_env_fallbacks.py
  tests/unit/scripts/test_validate_no_env_fallbacks.py
Due: check-ai-slop

fix(OMN-10757): consolidate env fallback validator (#647)
  scripts/validate_no_env_fallbacks.py
  tests/unit/scripts/test_validate_no_env_fallbacks.py
Due: check-ai-slop

test: set OMNI_HOME for repo-local checkout
  tests/conftest.py
Due: check-ai-slop

feat(OMN-10603): migrate runner selector to vars.OMNI_TRUSTED_CI_RUNS_ON_JSON
  .github/workflows/ban-hardcoded-runner-ip.yml
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/code-review-bot.yml
  .github/workflows/contract-validation.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/stale-todo-gate.yml
Due: none

feat(OMN-10603): migrate runner selector to vars.OMNI_TRUSTED_CI_RUNS_ON_JSON (#649)
  .github/workflows/ban-hardcoded-runner-ip.yml
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/code-review-bot.yml
  .github/workflows/contract-validation.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/stale-todo-gate.yml
Due: none

fix(OMN-10970): wire skip-token rejection CI gate
  .github/workflows/call-reject-skip.yml
Due: none
