Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$


ci(OMN-20074): point the S5 shadow OCC lookup at the nested eligibility check this repo reports
  .github/workflows/call-repo-evidence-gate.yml
  contracts/OMN-20074.yaml
  tests/ci/test_repo_evidence_caller_omn20074.py
Due: check-ai-slop

feat(OMN-20422): the two Hostile Reviewer voters get distinct sampling and focus
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/models_external_review.py
  tests/unit/review_pairing/test_voter_sampling_diversity_omn20422.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

ci(OMN-20074): point the S5 shadow OCC lookup at the nested eligibility check this repo reports (#1036)
  .github/workflows/call-repo-evidence-gate.yml
  contracts/OMN-20074.yaml
  tests/ci/test_repo_evidence_caller_omn20074.py
Due: check-ai-slop

feat(OMN-20910): the Hostile Reviewer reads its voters from a contract overlay
  src/omniintelligence/nodes/node_review_voters_overlay_compute/__init__.py
  src/omniintelligence/nodes/node_review_voters_overlay_compute/contract.yaml
  src/omniintelligence/nodes/node_review_voters_overlay_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_review_voters_overlay_compute/handlers/handler_review_voters_overlay.py
  src/omniintelligence/nodes/node_review_voters_overlay_compute/models/__init__.py
  src/omniintelligence/nodes/node_review_voters_overlay_compute/models/model_bifrost_backend_view.py
  src/omniintelligence/nodes/node_review_voters_overlay_compute/models/model_resolved_review_voter.py
  src/omniintelligence/nodes/node_review_voters_overlay_compute/models/model_review_voter.py
  src/omniintelligence/nodes/node_review_voters_overlay_compute/models/model_review_voter_roster.py
  src/omniintelligence/nodes/node_review_voters_overlay_compute/models/model_review_voters_overlay.py
  src/omniintelligence/nodes/node_review_voters_overlay_compute/models/model_review_voters_overlay_request.py
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/cli_review.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/model_registry_loader.py
  src/omniintelligence/review_pairing/retry_budget.py
  tests/unit/review_pairing/test_review_voters_overlay_omn20910.py
  tests/unit/test_package_installability.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

test(OMN-20910): a voter removed from the overlay is not called; bind AC1 and AC2 in contracts/OMN-20910.yaml
  contracts/OMN-20910.yaml
  tests/unit/review_pairing/test_review_voters_overlay_omn20910.py
Due: check-ai-slop

ci(OMN-20074): update CodeQL reusable workflow reference and add focused tests
  .github/workflows/security-scan.yml
  contracts/OMN-20074.yaml
  tests/ci/test_codeql_from_core_omn20074.py
Due: check-ai-slop

fix(OMN-20910): the review voters overlay node's handler is a class with handle(request), so the node is born canonical
  src/omniintelligence/nodes/node_review_voters_overlay_compute/handlers/handler_review_voters_overlay.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(OMN-20422): the two Hostile Reviewer voters get distinct sampling and focus (#1038)
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/models_external_review.py
  tests/unit/review_pairing/test_voter_sampling_diversity_omn20422.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(OMN-20910): the Hostile Reviewer reads its voters from a contract overlay (#1039)
  contracts/OMN-20910.yaml
  src/omniintelligence/nodes/node_review_voters_overlay_compute/__init__.py
  src/omniintelligence/nodes/node_review_voters_overlay_compute/contract.yaml
  src/omniintelligence/nodes/node_review_voters_overlay_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_review_voters_overlay_compute/handlers/handler_review_voters_overlay.py
  src/omniintelligence/nodes/node_review_voters_overlay_compute/models/__init__.py
  src/omniintelligence/nodes/node_review_voters_overlay_compute/models/model_bifrost_backend_view.py
  src/omniintelligence/nodes/node_review_voters_overlay_compute/models/model_resolved_review_voter.py
  src/omniintelligence/nodes/node_review_voters_overlay_compute/models/model_review_voter.py
  src/omniintelligence/nodes/node_review_voters_overlay_compute/models/model_review_voter_roster.py
  src/omniintelligence/nodes/node_review_voters_overlay_compute/models/model_review_voters_overlay.py
  src/omniintelligence/nodes/node_review_voters_overlay_compute/models/model_review_voters_overlay_request.py
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/cli_review.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/model_registry_loader.py
  src/omniintelligence/review_pairing/retry_budget.py
  tests/unit/review_pairing/test_review_voters_overlay_omn20910.py
  tests/unit/test_package_installability.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

ci(OMN-20074): contract-validation validates with omnibase_core ModelTicketContract, not onex_change_control
  .github/workflows/contract-validation.yml
  contracts/OMN-20074.yaml
  tests/ci/test_contract_validation_core_validator_omn20074.py
  tests/ci/test_contract_validation_workflow.py
Due: check-ai-slop

ci(OMN-20074): update omnibase_core pin to squash commit of PR 1941
  .github/workflows/omni-standards-compliance.yml
Due: none

ci(OMN-20074): install the pinned omnibase_core with --no-config so the repo uv override cannot replace it
  .github/workflows/omni-standards-compliance.yml
  tests/ci/test_arch_handler_compliance_core_omn20074.py
Due: check-ai-slop

ci(OMN-20925): update reject-deploy-gate-skip.yml pin and add contract
  .github/workflows/call-reject-skip.yml
  contracts/OMN-20925.yaml
Due: none

feat(OMN-20930): remove the private LLM endpoint defaults
  config/hardcoded_model_config_baseline.yaml
  src/omniintelligence/adapters/embedding_client.py
  src/omniintelligence/models/events/model_llm_call_completed_event.py
  src/omniintelligence/nodes/node_embedding_generation_effect/contract.yaml
  src/omniintelligence/nodes/node_gmail_intent_evaluator_effect/contract.yaml
  src/omniintelligence/nodes/node_llm_routing_decision_effect/models/model_llm_routing_decision_event.py
  src/omniintelligence/nodes/node_llm_routing_decision_effect/node_tests/conftest.py
  src/omniintelligence/nodes/node_navigation_retriever_effect/contract.yaml
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/cli_review.py
  src/omniintelligence/review_pairing/model_registry.yaml
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer_fallback.py
  tests/unit/review_pairing/test_gpt_oss_reviewer_registered_omn17492.py
  tests/unit/review_pairing/test_model_registry_loader.py
  tests/unit/review_pairing/test_no_hardcoded_model_id.py
  tests/unit/review_pairing/test_quorum_distinct_reviewers_omn17492.py
  tests/unit/review_pairing/test_resolution_failure_degrades.py
  tests/unit/review_pairing/test_served_model_resolver.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(OMN-20936): remove the lab endpoint defaults from omniintelligence
  config/hardcoded_model_config_baseline.yaml
  contracts/OMN-20936.yaml
  src/omniintelligence/adapters/embedding_client.py
  src/omniintelligence/models/events/model_llm_call_completed_event.py
  src/omniintelligence/nodes/node_embedding_generation_effect/contract.yaml
  src/omniintelligence/nodes/node_gmail_intent_evaluator_effect/contract.yaml
  src/omniintelligence/nodes/node_llm_routing_decision_effect/models/model_llm_routing_decision_event.py
  src/omniintelligence/nodes/node_llm_routing_decision_effect/node_tests/conftest.py
  src/omniintelligence/nodes/node_navigation_retriever_effect/contract.yaml
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/cli_review.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/model_registry_loader.py
  src/omniintelligence/review_pairing/reviewer_identity.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer_fallback.py
  tests/unit/review_pairing/conftest.py
  tests/unit/review_pairing/test_endpoint_overlay_omn20936.py
  tests/unit/review_pairing/test_gpt_oss_reviewer_registered_omn17492.py
  tests/unit/review_pairing/test_model_registry_loader.py
  tests/unit/review_pairing/test_no_hardcoded_model_id.py
  tests/unit/review_pairing/test_quorum_distinct_reviewers_omn17492.py
  tests/unit/review_pairing/test_resolution_failure_degrades.py
  tests/unit/review_pairing/test_served_model_resolver.py
  tests/unit/test_shipped_config_has_no_private_endpoint_omn20936.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop
