Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$


chore(OMN-18426): add strip-ai-coauthor-trailer commit-msg hook (#905)
  .pre-commit-config.yaml
Due: none

chore(deps): refresh omninode sibling locks [bot]
  uv.lock
Due: none

chore(OMN-18426): add commit-msg to default_install_hook_types
  .pre-commit-config.yaml
Due: none

chore(OMN-18426): install the commit-msg hook by default
  .pre-commit-config.yaml
Due: none

fix(OMN-18578): CI escalation runs the tree the selector names, not 9 of 361 test files
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/ci/test_selection_adjacency.yaml
  tests/ci/test_ci_workflow_shape.py
Due: check-ai-slop

fix(OMN-18578): CI escalation runs the tree the selector names, not 9 of 361 test files (#909)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/ci/test_selection_adjacency.yaml
  tests/ci/test_ci_workflow_shape.py
Due: check-ai-slop

chore(OMN-18578): retire the pytest-tools pre-push hook, completing the OMN-18162 fleet retirement
  .pre-commit-config.yaml
Due: none

chore(OMN-18578): retire the pytest-tools pre-push hook, completing the OMN-18162 fleet retirement (#910)
  .pre-commit-config.yaml
Due: none

fix(OMN-18623): repin the hostile-reviewer model id onto the live Qwen3.8-27B and give the served id one declared home
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/served_model_inventory.yaml
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
  tests/unit/review_pairing/test_model_registry_loader.py
  tests/unit/review_pairing/test_served_model_inventory.py
Due: check-ai-slop

fix(OMN-18623): repin the hostile-reviewer model id onto the live Qwen3.8-27B and give the served id one declared home (#911)
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/served_model_inventory.yaml
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
  tests/unit/review_pairing/test_model_registry_loader.py
  tests/unit/review_pairing/test_served_model_inventory.py
Due: check-ai-slop

fix(OMN-18623): resolve the reviewer model id at runtime instead of declaring it
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/models_external_review.py
  src/omniintelligence/review_pairing/served_model_inventory.yaml
  src/omniintelligence/review_pairing/served_model_resolver.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
  tests/unit/review_pairing/test_model_registry_loader.py
  tests/unit/review_pairing/test_no_hardcoded_model_id.py
  tests/unit/review_pairing/test_served_model_inventory.py
  tests/unit/review_pairing/test_served_model_resolver.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-18623): resolve the reviewer model id at runtime instead of declaring it (#912)
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/models_external_review.py
  src/omniintelligence/review_pairing/served_model_inventory.yaml
  src/omniintelligence/review_pairing/served_model_resolver.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
  tests/unit/review_pairing/test_model_registry_loader.py
  tests/unit/review_pairing/test_no_hardcoded_model_id.py
  tests/unit/review_pairing/test_served_model_inventory.py
  tests/unit/review_pairing/test_served_model_resolver.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

test(OMN-18623): pin that an unresolvable endpoint degrades the reviewer
  tests/unit/review_pairing/test_resolution_failure_degrades.py
Due: check-ai-slop

test(OMN-18623): pin that an unresolvable endpoint degrades the reviewer (#913)
  tests/unit/review_pairing/test_resolution_failure_degrades.py
Due: check-ai-slop

fix(OMN-18662): push omniintelligence release tags with the App token so release.yml fires
  .github/workflows/auto-tag-on-merge.yml
  tests/ci/test_auto_tag_app_token_push_omn18662.py
Due: check-ai-slop

fix(OMN-18662): push omniintelligence release tags with the App token so release.yml fires (#915)
  .github/workflows/auto-tag-on-merge.yml
  tests/ci/test_auto_tag_app_token_push_omn18662.py
Due: check-ai-slop

fix(OMN-18669): wire the local half of the .secrets.baseline gate
  .pre-commit-config.yaml
  architecture-handshakes/validator-requirements-baseline.yaml
Due: none

fix(OMN-18669): wire the local half of the .secrets.baseline gate (#916)
  .pre-commit-config.yaml
  architecture-handshakes/validator-requirements-baseline.yaml
Due: none

fix(OMN-18669): wire the secrets-baseline census gate (AC2)
  .github/workflows/secrets-baseline-wiring.yml
  .pre-commit-config.yaml
Due: none

fix(OMN-18669): wire the secrets-baseline census gate (AC2) (#917)
  .github/workflows/secrets-baseline-wiring.yml
  .pre-commit-config.yaml
Due: none

fix(OMN-18634): omniintelligence resolves omnimarket from PyPI so the release cascade can move omnibase-infra
  pyproject.toml
  tests/unit/test_uv_sources_cascade_compatibility_omn18634.py
  uv.lock
Due: check-ai-slop

fix(OMN-18634): absorb the omnibase-infra 0.38.22+ API drift the frozen lock was hiding
  src/omniintelligence/debug_intel/adapter_debug_store.py
  src/omniintelligence/nodes/node_gmail_intent_evaluator_effect/handlers/handler_gmail_intent_evaluate.py
  src/omniintelligence/repositories/adapter_code_entity_store.py
  src/omniintelligence/repositories/adapter_pattern_store.py
  src/omniintelligence/repositories/db_contract_boundary.py
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/runtime/introspection.py
  src/omniintelligence/runtime/plugin.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

fix(OMN-18673): omniintelligence resolves omnimarket from PyPI so the release cascade can move omnibase-infra (#918)
  pyproject.toml
  src/omniintelligence/debug_intel/adapter_debug_store.py
  src/omniintelligence/nodes/node_gmail_intent_evaluator_effect/handlers/handler_gmail_intent_evaluate.py
  src/omniintelligence/repositories/adapter_code_entity_store.py
  src/omniintelligence/repositories/adapter_pattern_store.py
  src/omniintelligence/repositories/db_contract_boundary.py
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/runtime/introspection.py
  src/omniintelligence/runtime/plugin.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
  tests/unit/test_uv_sources_cascade_compatibility_omn18634.py
  uv.lock
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

chore(OMN-18033): adopt the gitignore-baseline hook in omniintelligence
  .gitignore
  .pre-commit-config.yaml
Due: none

feat(OMN-16396): omniintelligence fast-forwards main on a release cut
  .github/workflows/release.yml
  tests/ci/test_release_main_sync_omn16396.py
Due: check-ai-slop

feat(OMN-16396): omniintelligence fast-forwards main on a release cut (#921)
  .github/workflows/release.yml
  tests/ci/test_release_main_sync_omn16396.py
Due: check-ai-slop

fix(OMN-18033): anchor the python block, and move the pin that defines it
  .gitignore
  .pre-commit-config.yaml
Due: none

fix(OMN-18033): repoint the baseline pin at the merged spec on dev
  .pre-commit-config.yaml
Due: none

fix(OMN-18753): bind the sibling-lock bot PR to its evidence ticket
  .github/workflows/sibling-lock-refresh.yml
  tests/ci/test_sibling_lock_refresh_identity_binding_omn18753.py
Due: check-ai-slop

fix(OMN-18753): bind the sibling-lock bot PR to its evidence ticket (#923)
  .github/workflows/sibling-lock-refresh.yml
  tests/ci/test_sibling_lock_refresh_identity_binding_omn18753.py
Due: check-ai-slop

chore(OMN-18033): adopt the gitignore-baseline hook in omniintelligence (#920)
  .gitignore
  .pre-commit-config.yaml
Due: none

chore(deps): bump omnibase_core to 0.47.18 (#925)
  uv.lock
Due: none

chore(deps, OMN-13902): refresh omninode sibling locks [bot]
  uv.lock
Due: none
