Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$


fix(deps): resolve omnibase infra bump dependencies
  pyproject.toml
  src/omniintelligence/nodes/node_routing_feedback_effect/node_tests/test_handler_legacy_drain.py
  uv.lock
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

docs(OMN-9603): omniintelligence documentation refresh
  README.md
  docs/INDEX.md
  docs/reference/DASH_INTEGRATION_TRUTH_BOUNDARY.md
  docs/reference/EVENT_SURFACE.md
  docs/reference/NODE_INVENTORY.md
Due: check-ai-slop

docs(OMN-9603): omniintelligence documentation refresh (#615)
  README.md
  docs/INDEX.md
  docs/reference/DASH_INTEGRATION_TRUTH_BOUNDARY.md
  docs/reference/EVENT_SURFACE.md
  docs/reference/NODE_INVENTORY.md
Due: check-ai-slop

docs(OMN-10312): fix broken links in omniintelligence src/ sub-READMEs
  CHANGELOG.md
  src/omniintelligence/audit/README.md
  src/omniintelligence/tools/README.md
Due: check-ai-slop

feat(OMN-10333): emit llm metric attribution fields
  src/omniintelligence/models/events/model_llm_call_completed_event.py
  src/omniintelligence/runtime/handler_llm_cost_emitter.py
  tests/unit/models/test_model_llm_call_completed_event.py
  tests/unit/runtime/test_handler_llm_cost_emitter.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

docs(OMN-10312): fix broken links in omniintelligence src/ sub-READMEs (#616)
  CHANGELOG.md
  src/omniintelligence/audit/README.md
  src/omniintelligence/tools/README.md
Due: check-ai-slop

feat(OMN-10338): add gpu fields to llm call event
  src/omniintelligence/models/events/model_llm_call_completed_event.py
  tests/integration/test_llm_call_completed_e2e.py
  tests/unit/models/events/test_model_llm_call_completed_event.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(OMN-10340): add savings estimated event model
  src/omniintelligence/models/events/__init__.py
  src/omniintelligence/models/events/model_savings_estimated_event.py
  tests/unit/models/test_model_savings_estimated_event.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(OMN-10338): add gpu fields to llm call event (#618)
  src/omniintelligence/models/events/model_llm_call_completed_event.py
  tests/integration/test_llm_call_completed_e2e.py
  tests/unit/models/events/test_model_llm_call_completed_event.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(OMN-10342): add cost snapshot event models
  src/omniintelligence/models/events/__init__.py
  src/omniintelligence/models/events/model_cost_by_repo_snapshot.py
  src/omniintelligence/models/events/model_cost_summary_snapshot.py
  src/omniintelligence/models/events/model_cost_token_usage_snapshot.py
  tests/unit/models/test_model_cost_projection_snapshots.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(OMN-10342): add cost snapshot event models (#621)
  src/omniintelligence/models/events/__init__.py
  src/omniintelligence/models/events/model_cost_by_repo_snapshot.py
  src/omniintelligence/models/events/model_cost_summary_snapshot.py
  src/omniintelligence/models/events/model_cost_token_usage_snapshot.py
  tests/unit/models/test_model_cost_projection_snapshots.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(OMN-10333): emit LLM metric attribution fields (#617)
  src/omniintelligence/models/events/model_llm_call_completed_event.py
  src/omniintelligence/runtime/handler_llm_cost_emitter.py
  tests/integration/test_llm_call_completed_e2e.py
  tests/unit/models/events/test_model_llm_call_completed_event.py
  tests/unit/models/test_model_llm_call_completed_event.py
  tests/unit/runtime/test_handler_llm_cost_emitter.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat(OMN-10340): add savings estimated event model (#619)
  src/omniintelligence/models/events/__init__.py
  src/omniintelligence/models/events/model_cost_by_repo_snapshot.py
  src/omniintelligence/models/events/model_cost_summary_snapshot.py
  src/omniintelligence/models/events/model_cost_token_usage_snapshot.py
  src/omniintelligence/models/events/model_savings_estimated_event.py
  tests/unit/models/test_model_cost_projection_snapshots.py
  tests/unit/models/test_model_savings_estimated_event.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(OMN-10341): add waste detected event model
  src/omniintelligence/models/__init__.py
  src/omniintelligence/models/events/__init__.py
  src/omniintelligence/models/events/model_waste_detected_event.py
  tests/unit/models/test_model_waste_detected_event.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix: tighten waste event validation
  src/omniintelligence/models/events/model_waste_detected_event.py
  tests/unit/models/test_model_waste_detected_event.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(OMN-10341): add waste detected event model (#620)
  src/omniintelligence/models/__init__.py
  src/omniintelligence/models/events/__init__.py
  src/omniintelligence/models/events/model_waste_detected_event.py
  tests/unit/models/test_model_waste_detected_event.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

ci(OMN-8802): repair intelligence CR thread gate
  .github/workflows/cr-thread-gate-caller.yml
  .github/workflows/cr-thread-gate.yml
Due: none

ci(OMN-8802): repair intelligence CR thread gate (#622)
  .github/workflows/cr-thread-gate-caller.yml
  .github/workflows/cr-thread-gate.yml
Due: none

feat(OMN-10316): wire docs-validate as required CI gate in omniintelligence
  .github/workflows/docs-validate.yml
  .markdown-link-check.json
Due: none

docs(OMN-10348): define ONEX (OmniNode eXecution) on first use in README
  README.md
Due: check-ai-slop

fix(OMN-10316): remove paths filter so required check runs on every PR
  .github/workflows/docs-validate.yml
Due: none

docs(OMN-8291): refresh omniintelligence CLAUDE.md and fix handler path examples
  CLAUDE.md
Due: check-ai-slop

docs(OMN-8291): refresh omniintelligence CLAUDE.md and fix handler path examples (#625)
  CLAUDE.md
Due: check-ai-slop

feat(OMN-10380): scaffold dispatch outcome eval effect
  pyproject.toml
  src/omniintelligence/constants.py
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/__init__.py
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/contract.yaml
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/handlers/__init__.py
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/handlers/handler_dispatch_outcome.py
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/models/__init__.py
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/models/model_input.py
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/models/model_output.py
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/node.py
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/py.typed
  tests/unit/nodes/node_dispatch_outcome_eval_effect/test_contract_loads.py
  tests/unit/nodes/node_dispatch_outcome_eval_effect/test_handler_subscribes_dispatch_completed.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(OMN-10382): use shared usage source enum
  pyproject.toml
  src/omniintelligence/clients/eval_llm_client.py
  src/omniintelligence/clients/utilization_llm_client.py
  src/omniintelligence/models/events/model_llm_call_completed_event.py
  tests/integration/test_llm_call_completed_e2e.py
  tests/unit/clients/test_eval_llm_client_event_emission.py
  tests/unit/models/events/test_model_llm_call_completed_event.py
  tests/unit/models/test_model_llm_call_completed_event.py
  uv.lock
Due: mypy-type-check, onex-validate-naming, check-ai-slop

docs(OMN-10348): define ONEX (OmniNode eXecution) on first use in README (#624)
  README.md
Due: check-ai-slop

feat(OMN-10380): scaffold dispatch outcome eval effect (#626)
  pyproject.toml
  src/omniintelligence/constants.py
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/__init__.py
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/contract.yaml
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/handlers/__init__.py
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/handlers/handler_dispatch_outcome.py
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/models/__init__.py
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/models/model_input.py
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/models/model_output.py
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/node.py
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/py.typed
  tests/unit/nodes/node_dispatch_outcome_eval_effect/test_contract_loads.py
  tests/unit/nodes/node_dispatch_outcome_eval_effect/test_handler_subscribes_dispatch_completed.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(OMN-10316): wire docs-validate as required CI gate in omniintelligence (#623)
  .github/workflows/docs-validate.yml
  .markdown-link-check.json
Due: none

feat(OMN-10382): use shared usage source enum (#629)
  pyproject.toml
  src/omniintelligence/clients/eval_llm_client.py
  src/omniintelligence/clients/utilization_llm_client.py
  src/omniintelligence/models/events/model_llm_call_completed_event.py
  tests/integration/test_llm_call_completed_e2e.py
  tests/unit/clients/test_eval_llm_client_event_emission.py
  tests/unit/models/events/test_model_llm_call_completed_event.py
  tests/unit/models/test_model_llm_call_completed_event.py
  uv.lock
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(OMN-10385): wire dispatch outcome quality scoring
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/contract.yaml
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/handlers/handler_dispatch_outcome.py
  tests/unit/nodes/node_dispatch_outcome_eval_effect/test_contract_loads.py
  tests/unit/nodes/node_dispatch_outcome_eval_effect/test_handler_subscribes_dispatch_completed.py
  tests/unit/nodes/node_dispatch_outcome_eval_effect/test_quality_scoring_invocation.py
  tests/unit/nodes/node_dispatch_outcome_eval_effect/test_quality_scoring_skipped_when_no_artifact.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(OMN-10387): subscribe pattern feedback to dispatch outcomes
  src/omniintelligence/nodes/node_pattern_feedback_effect/contract.yaml
  tests/unit/nodes/node_dispatch_outcome_eval_effect/test_topic_matches_topicbase.py
  tests/unit/runtime/test_contract_topics.py
Due: check-ai-slop

fix(OMN-10385): skip unsupported artifact scoring
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/handlers/handler_dispatch_outcome.py
  tests/unit/nodes/node_dispatch_outcome_eval_effect/test_quality_scoring_skipped_when_no_artifact.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(OMN-10385): wire dispatch outcome quality scoring (#627)
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/contract.yaml
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/handlers/handler_dispatch_outcome.py
  tests/unit/nodes/node_dispatch_outcome_eval_effect/test_contract_loads.py
  tests/unit/nodes/node_dispatch_outcome_eval_effect/test_handler_subscribes_dispatch_completed.py
  tests/unit/nodes/node_dispatch_outcome_eval_effect/test_quality_scoring_invocation.py
  tests/unit/nodes/node_dispatch_outcome_eval_effect/test_quality_scoring_skipped_when_no_artifact.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(OMN-10387): subscribe pattern feedback to dispatch outcomes (#628)
  src/omniintelligence/nodes/node_pattern_feedback_effect/contract.yaml
  tests/unit/nodes/node_dispatch_outcome_eval_effect/test_topic_matches_topicbase.py
  tests/unit/runtime/test_contract_topics.py
Due: check-ai-slop

feat(OMN-10386): accept dispatch worker cost payload
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/contract.yaml
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/handlers/handler_dispatch_outcome.py
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/models/__init__.py
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/models/model_input.py
  tests/unit/nodes/node_dispatch_outcome_eval_effect/test_handler_subscribes_dispatch_completed.py
  tests/unit/nodes/node_dispatch_outcome_eval_effect/test_quality_scoring_invocation.py
  tests/unit/nodes/node_dispatch_outcome_eval_effect/test_quality_scoring_skipped_when_no_artifact.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(OMN-10386): accept dispatch worker cost payload (#630)
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/contract.yaml
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/handlers/handler_dispatch_outcome.py
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/models/__init__.py
  src/omniintelligence/nodes/node_dispatch_outcome_eval_effect/models/model_input.py
  tests/unit/nodes/node_dispatch_outcome_eval_effect/test_handler_subscribes_dispatch_completed.py
  tests/unit/nodes/node_dispatch_outcome_eval_effect/test_quality_scoring_invocation.py
  tests/unit/nodes/node_dispatch_outcome_eval_effect/test_quality_scoring_skipped_when_no_artifact.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(OMN-7609): wire Kafka producer into crawl scheduler registry
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat: remove ANTHROPIC_API_KEY hard requirement from Claude API fallback (OMN-7835)
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

test(OMN-7205): add integration tests for node family grouping against real codebase
  tests/integration/test_node_family_grouping.py
Due: check-ai-slop

feat(OMN-10388): record dispatch feedback outcomes
  src/omniintelligence/nodes/node_pattern_feedback_effect/contract.yaml
  src/omniintelligence/nodes/node_pattern_feedback_effect/handlers/__init__.py
  src/omniintelligence/nodes/node_pattern_feedback_effect/handlers/handler_dispatch_outcome.py
  src/omniintelligence/nodes/node_pattern_feedback_effect/models/__init__.py
  src/omniintelligence/nodes/node_pattern_feedback_effect/models/model_dispatch_outcome_result.py
  tests/unit/nodes/node_pattern_feedback_effect/test_handler_dispatch_outcome.py
  tests/unit/nodes/node_pattern_feedback_effect/test_session_path_unchanged.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop
