Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$


fix: correct mypy errors and topic naming issues [OMN-6597]
  scripts/validation/topic_naming_baseline.txt
  src/omniintelligence/runtime/dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat: wire CI intelligence nodes into dispatch engine [OMN-6597]
  scripts/validation/topic_naming_baseline.txt
  src/omniintelligence/runtime/contract_topics.py
  src/omniintelligence/runtime/dispatch_handlers.py
  src/omniintelligence/runtime/wiring.py
  tests/unit/runtime/test_contract_topics.py
  tests/unit/runtime/test_dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat(crawl): add Postgres persistence to sync crawl pipeline
  scripts/crawl_code_entities.py
Due: check-ai-slop

feat(crawl): add Postgres persistence to sync crawl pipeline (#474)
  scripts/crawl_code_entities.py
Due: check-ai-slop

fix: resolve duplicate topic alias and category mismatch in dispatch handlers [OMN-6597]
  src/omniintelligence/runtime/dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat: wire CI intelligence nodes into dispatch engine [OMN-6597] (#469)
  src/omniintelligence/runtime/contract_topics.py
  src/omniintelligence/runtime/dispatch_handlers.py
  src/omniintelligence/runtime/wiring.py
  tests/unit/runtime/test_contract_topics.py
  tests/unit/runtime/test_dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

chore: standardize TODO markers with ticket references [OMN-6655]
  tests/integration/nodes/node_enforcement_feedback_effect/test_enforcement_feedback_integration.py
  tests/integration/nodes/node_quality_scoring_compute/conftest.py
  tests/integration/nodes/node_quality_scoring_compute/test_file_analysis.py
Due: check-ai-slop

chore: bump omnibase-spi to 0.20.0 [OMN-6691]
  pyproject.toml
  uv.lock
Due: none

chore: release v0.19.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-ai-slop

fix: add tiktoken to dev dependencies [OMN-6716]
  pyproject.toml
  uv.lock
Due: none

fix: add tiktoken to dev dependencies [OMN-6716] (#480)
  pyproject.toml
  uv.lock
Due: none

chore(lint): remove 17 stale noqa directives for globally-ignored rules [OMN-6669]
  src/omniintelligence/api/app.py
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/handler_ast_extract.py
  src/omniintelligence/nodes/node_evidence_collection_effect/node_tests/test_evidence_collection.py
  src/omniintelligence/nodes/node_pattern_demotion_effect/handlers/handler_demotion.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_architecture_patterns.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_error_patterns.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_file_patterns.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_tool_patterns.py
  src/omniintelligence/nodes/node_success_criteria_matcher_compute/handlers/handler_compute.py
  src/omniintelligence/rl/builders/routing_observation_builder.py
  src/omniintelligence/rl/export.py
  src/omniintelligence/rl/export_scenarios.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

chore(lint): remove 17 stale noqa directives for globally-ignored rules [OMN-6669] (#481)
  src/omniintelligence/api/app.py
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/handler_ast_extract.py
  src/omniintelligence/nodes/node_evidence_collection_effect/node_tests/test_evidence_collection.py
  src/omniintelligence/nodes/node_pattern_demotion_effect/handlers/handler_demotion.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_architecture_patterns.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_error_patterns.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_file_patterns.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_tool_patterns.py
  src/omniintelligence/nodes/node_success_criteria_matcher_compute/handlers/handler_compute.py
  src/omniintelligence/rl/builders/routing_observation_builder.py
  src/omniintelligence/rl/export.py
  src/omniintelligence/rl/export_scenarios.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

chore: release v0.19.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-ai-slop

fix: pass event_publisher to UtilizationLLMClient for LLM cost emission [OMN-6801]
  src/omniintelligence/runtime/dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix: pass event_publisher to UtilizationLLMClient for LLM cost emission [OMN-6801] (#483)
  src/omniintelligence/runtime/dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat: wire review_pairing dispatch + decision_store standalone consumer [OMN-6592][OMN-6596][OMN-6608][OMN-6611]
  scripts/validation/topic_naming_baseline.txt
  src/omniintelligence/decision_store/__main__.py
  src/omniintelligence/runtime/dispatch_handlers.py
  src/omniintelligence/runtime/wiring.py
  tests/integration/runtime/__init__.py
  tests/integration/runtime/test_kernel_boot_wiring.py
  tests/unit/runtime/test_dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(ci): exclude decision_store from ARCH-002 transport import check
  .pre-commit-config.yaml
Due: none

fix(types): resolve 32 mypy strict errors across 15 files [OMN-6810]
  src/omniintelligence/clients/utilization_llm_client.py
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/handler_ast_extract.py
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/handler_extract_ast.py
  src/omniintelligence/repositories/adapter_code_entity_store.py
  src/omniintelligence/review_pairing/adapters/adapter_codex_reviewer.py
  src/omniintelligence/rl/emit.py
  src/omniintelligence/rl/export.py
  src/omniintelligence/rl/export_scenarios.py
  src/omniintelligence/rl/rewards.py
  src/omniintelligence/rl/trainer.py
  src/omniintelligence/runtime/dispatch_handler_code_crawl.py
  src/omniintelligence/runtime/dispatch_handler_code_embed_graph.py
  src/omniintelligence/runtime/dispatch_handler_code_embedding.py
  src/omniintelligence/runtime/dispatch_handler_code_enrichment.py
  src/omniintelligence/runtime/dispatch_handler_code_extract.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

feat(topics): centralize all omnidash projection topic constants [OMN-6808]
  src/omniintelligence/constants.py
  src/omniintelligence/model_selector/episode_emitter.py
  src/omniintelligence/nodes/node_compliance_evaluate_effect/handlers/handler_compliance_evaluate.py
  src/omniintelligence/topics.py
  tests/unit/test_omnidash_topic_registry.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

test(emission): add structural regression tests for all 7 omnidash emitters [OMN-6808]
  tests/unit/test_omnidash_topic_registry.py
Due: check-ai-slop

feat(ci): add handler contract compliance check [OMN-6841]
  .github/workflows/omni-standards-compliance.yml
  arch-handler-contract-compliance-allowlist.yaml
  scripts/validation/validate_clean_root.py
Due: check-ai-slop

feat(ci): add auto-merge-on-open workflow [OMN-6571]
  .github/workflows/auto-merge.yml
Due: none

ci: add CodeQL security scanning workflow [OMN-5412]
  .github/workflows/codeql.yml
Due: none

fix(ci): add continue-on-error to auto-merge step [OMN-6489]
  .github/workflows/auto-merge.yml
Due: none

chore: release omniintelligence v0.20.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-ai-slop

chore(deps): bump omnibase_infra to 0.29.0 (#494)
  uv.lock
Due: none

ci: add PR title check caller workflow [OMN-6916]
  .github/workflows/pr-title-check.yml
Due: none

feat(patterns): activate quality gate filters for pattern extraction [OMN-6965]
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_extract_all_patterns.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_file_patterns.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_tool_patterns.py
  tests/unit/nodes/node_pattern_extraction_compute/test_handlers.py
  tests/unit/nodes/node_pattern_extraction_compute/test_pattern_quality_gate.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(patterns): add novelty scoring to reject near-duplicate patterns [OMN-6966]
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_extract_all_patterns.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_novelty.py
  tests/unit/nodes/node_pattern_extraction_compute/test_pattern_novelty.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(dispatch): wire code analysis dispatch handler [OMN-6969]
  .pre-commit-config.yaml
  src/omniintelligence/runtime/contract_topics.py
  src/omniintelligence/runtime/dispatch_handler_code_analysis.py
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_contract_topics.py
  tests/unit/runtime/test_dispatch_handler_code_analysis.py
  tests/unit/runtime/test_dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat: add periodic retention cleanup for agent_actions and stale patterns [OMN-7013]
  deployment/database/migrations/028_agent_actions_retention.sql
  src/omniintelligence/api/app.py
  src/omniintelligence/api/retention_cleanup.py
  tests/unit/api/test_retention_cleanup.py
Due: mypy-type-check, onex-validate-naming, migration-freeze-check, check-ai-slop

feat: add periodic retention cleanup for agent_actions and stale patterns [OMN-7013] (#499)
  deployment/database/migrations/028_agent_actions_retention.sql
  src/omniintelligence/api/app.py
  src/omniintelligence/api/retention_cleanup.py
  tests/unit/api/test_retention_cleanup.py
Due: mypy-type-check, onex-validate-naming, migration-freeze-check, check-ai-slop

feat: add LLM cost emitter and lifecycle transition emission tests [OMN-6801]
  src/omniintelligence/nodes/node_claude_hook_event_effect/contract.yaml
  src/omniintelligence/runtime/handler_llm_cost_emitter.py
  tests/unit/runtime/test_handler_llm_cost_emitter.py
  tests/unit/runtime/test_lifecycle_transition_kafka_emission.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

release: omniintelligence v0.21.0
  pyproject.toml
  uv.lock
Due: none

ci: add onex compliance check to CI [OMN-7080]
  .github/workflows/ci.yml
Due: none

release: omniintelligence v0.21.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-ai-slop

fix: add MIN_CLASSIFIABLE_LENGTH guard and clean up OMN-2377 TODO [OMN-7141]
  src/omniintelligence/nodes/node_intent_classifier_compute/handlers/handler_adaptive_classification.py
  tests/unit/nodes/node_intent_classifier_compute/test_adaptive_classification.py
  tests/unit/nodes/node_intent_classifier_compute/test_handle_intent_classification_integration.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat: add projection handler registration tests and pattern seed script [OMN-7140]
  scripts/seed_learned_patterns.py
  tests/unit/runtime/test_projection_handler_registration.py
Due: check-ai-slop

test: add CI pattern pipeline health checks and trigger verification [OMN-6981]
  tests/ci/__init__.py
  tests/ci/test_pattern_pipeline_health.py
  tests/unit/runtime/test_pattern_stored_triggers_projection.py
Due: check-ai-slop
