Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

mypy-type-check:
  name: mypy (type checking)
  entry: uv run mypy --ignore-missing-imports --incremental
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-naming:
  name: onex-validate-naming
  entry: python scripts/validation/validate_naming.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

io-audit:
  name: io-audit (ONEX purity)
  entry: uv run python -m omniintelligence.audit.io_audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-transport-imports:
  name: validate-no-transport-imports (ARCH-002)
  entry: uv run python scripts/validate_no_transport_imports.py --exclude src/omniintelligence/runtime --exclude src/omniintelligence/api --exclude src/omniintelligence/clients
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: pytest (smoke tests)
  entry: uv run pytest tests/unit/tools/ -m unit --maxfail=3 -x --tb=short -q
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-tools:
  name: pytest (tools/utils/runtime - full)
  entry: uv run pytest tests/unit/tools/ tests/unit/test_log_sanitizer.py -v --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-ai-slop:
  name: Check for AI-slop patterns
  language: system
  entry: uv run python scripts/validation/check_ai_slop.py
  pass_filenames: true
  stages:
  - pre-commit

release: omniintelligence v0.13.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-ai-slop

release: omniintelligence v0.13.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-ai-slop

release: omniintelligence v0.13.1 (#352)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-ai-slop

release: omniintelligence v0.13.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-ai-slop

release: omniintelligence v0.13.2 (#353)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-ai-slop

fix(lint): add mode="json" to bare model_dump() calls flagged by omnibase-core 0.27.0 AST lint
  src/omniintelligence/debug_intel/adapter_debug_store.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/nodes/node_evidence_collection_effect/handlers/handler_evidence_collection.py
  src/omniintelligence/nodes/node_pattern_assembler_orchestrator/handlers/handler_workflow_coordination.py
  src/omniintelligence/nodes/node_pattern_assembler_orchestrator/node.py
  src/omniintelligence/repositories/adapter_pattern_store.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(lint): apply ruff formatting to ternary expression
  src/omniintelligence/nodes/node_pattern_assembler_orchestrator/handlers/handler_workflow_coordination.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(lint): add mode="json" to bare model_dump() calls [OMN-4913] (#355)
  src/omniintelligence/debug_intel/adapter_debug_store.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/nodes/node_evidence_collection_effect/handlers/handler_evidence_collection.py
  src/omniintelligence/nodes/node_pattern_assembler_orchestrator/handlers/handler_workflow_coordination.py
  src/omniintelligence/nodes/node_pattern_assembler_orchestrator/node.py
  src/omniintelligence/repositories/adapter_pattern_store.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(patterns): pass list[UUID] to asyncpg for UUID[] columns in adapter_pattern_store
  src/omniintelligence/repositories/adapter_pattern_store.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

style: apply ruff formatting to adapter_pattern_store.py
  src/omniintelligence/repositories/adapter_pattern_store.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(patterns): pass list[UUID] to asyncpg for UUID[] columns [OMN-5036] (#356)
  src/omniintelligence/repositories/adapter_pattern_store.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat: add agent_name to RunEvaluatedEvent and objective_evaluations [OMN-5048]
  deployment/database/migrations/024_add_agent_name_to_objective_evaluations.sql
  src/omniintelligence/nodes/node_evidence_collection_effect/handlers/handler_evidence_collection.py
  src/omniintelligence/nodes/node_evidence_collection_effect/models/model_run_evaluated_event.py
Due: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, check-ai-slop

fix(OMN-5056): read classifier_version from metadata, not missing top-level field
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix: persist staged model and handler changes for classifier_version typed field [OMN-5056]
  src/omniintelligence/nodes/node_intent_classifier_compute/handlers/handler_intent_classification.py
  src/omniintelligence/nodes/node_intent_classifier_compute/models/model_intent_classification_output.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix: replace metadata string access with typed classifier_version field [OMN-5056]
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix: include agent_name in _store_to_db INSERT for objective_evaluations [OMN-5048]
  src/omniintelligence/nodes/node_evidence_collection_effect/handlers/handler_evidence_collection.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

chore: wire onex-validate-links pre-commit hook [OMN-5086]
  .markdown-link-check.json
  .pre-commit-config.yaml
Due: none

fix(OMN-5056): promote metadata dict keys to TypedDict on ModelClaudeHookResult
  src/omniintelligence/models/model_intelligence_output.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/models/__init__.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/models/model_claude_hook_result.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

chore: standardize Python tooling to canonical baseline [OMN-5076]
  pyproject.toml
  src/omniintelligence/nodes/node_anti_gaming_guardrails_compute/models/model_alert_event.py
  tests/unit/tools/test_contract_linter_contracts.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

fix: replace dict[str, Any] metadata with TypedDict in evidence/bus models
  src/omniintelligence/nodes/node_pattern_storage_effect/model_event_bus_config.py
  src/omniintelligence/nodes/node_scoring_reducer_compute/models/__init__.py
  src/omniintelligence/nodes/node_scoring_reducer_compute/models/model_evidence_bundle.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

chore: standardize Python tooling to canonical baseline [OMN-5076] (#360)
  pyproject.toml
  src/omniintelligence/nodes/node_anti_gaming_guardrails_compute/models/model_alert_event.py
  tests/unit/tools/test_contract_linter_contracts.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

fix: replace dict[str, object] metadata with TypedDict in pattern/semantic models
  src/omniintelligence/models/events/model_pattern_discovered_event.py
  src/omniintelligence/nodes/node_pattern_storage_effect/handlers/model_state_transition.py
  src/omniintelligence/nodes/node_semantic_analysis_compute/handlers/handler_compute_semantic_analysis.py
  src/omniintelligence/nodes/node_semantic_analysis_compute/models/model_semantic_entity.py
  src/omniintelligence/nodes/node_semantic_analysis_compute/models/model_semantic_relation.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

docs: create AGENT.md for LLM navigation [OMN-5089]
  AGENT.md
  scripts/validation/validate_clean_root.py
Due: check-ai-slop

fix: replace dict[str, object] metadata with TypedDict in protocols/handlers
  src/omniintelligence/nodes/node_pattern_storage_effect/handlers/handler_promote_pattern.py
  src/omniintelligence/nodes/node_pattern_storage_effect/handlers/handler_store_pattern.py
  src/omniintelligence/nodes/node_pattern_storage_effect/handlers/model_state_transition.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

docs(readme): restructure to 7-section OSS format [OMN-5093]
  README.md
Due: check-ai-slop

docs: create AGENT.md for LLM navigation [OMN-5089] (#361)
  AGENT.md
  scripts/validation/validate_clean_root.py
Due: check-ai-slop

fix: remove onex-validate-links hook (CLI not yet available) [OMN-5086]
  .pre-commit-config.yaml
Due: none

chore: add no-untyped-metadata pre-commit hook and type safety PR checklist [OMN-5063]
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  scripts/check_no_untyped_metadata.py
  tests/scripts/__init__.py
  tests/scripts/test_check_no_untyped_metadata.py
Due: check-ai-slop

fix(OMN-5056): classifier_version AttributeError silently zeros all intent classifications (#358)
  src/omniintelligence/nodes/node_intent_classifier_compute/handlers/handler_intent_classification.py
  src/omniintelligence/nodes/node_intent_classifier_compute/models/model_intent_classification_output.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(deps): bump core 0.27.1, spi 0.17.0, infra 0.20.1, release 0.13.3 [OMN-5100]
  pyproject.toml
  uv.lock
Due: none

chore: add centralized no-untyped-metadata hook from onex_change_control [OMN-5135]
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

chore: add centralized no-untyped-metadata hook [OMN-5135] (#365)
  pyproject.toml
  uv.lock
Due: none

feat(ci): add repository_dispatch trigger for plugin pin cascade [OMN-5137]
  .github/workflows/release.yml
Due: none

release: omniintelligence v0.14.0
  pyproject.toml
  uv.lock
Due: none

release: omniintelligence v0.14.0 (#367)
  pyproject.toml
  uv.lock
Due: none

feat(telemetry): add LLM call completion event for Cost Trends page [OMN-5184]
  src/omniintelligence/clients/eval_llm_client.py
  src/omniintelligence/models/__init__.py
  src/omniintelligence/models/events/__init__.py
  src/omniintelligence/models/events/model_llm_call_completed_event.py
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/contract.yaml
  src/omniintelligence/topics.py
  tests/integration/test_llm_call_completed_e2e.py
  tests/unit/clients/test_eval_llm_client_event_emission.py
  tests/unit/models/__init__.py
  tests/unit/models/test_model_llm_call_completed_event.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix: remove {env}. prefix from contract YAML and fix port defaults [OMN-5215]
  src/omniintelligence/nodes/node_policy_state_reducer/contract.yaml
  src/omniintelligence/runtime/contracts/runtime_config.yaml
  src/omniintelligence/runtime/model_event_bus_config.py
  src/omniintelligence/runtime/model_intelligence_runtime_config.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

refactor: deduplicate topic constants to single source in omniintelligence [OMN-5254]
  scripts/validation/topic_naming_baseline.txt
  src/omniintelligence/constants.py
  src/omniintelligence/decision_store/topics.py
  src/omniintelligence/hooks/topics.py
  src/omniintelligence/model_selector/decision_emitter.py
  src/omniintelligence/runtime/model_intelligence_runtime_config.py
  src/omniintelligence/runtime/model_topic_config.py
  src/omniintelligence/topics.py
  tests/unit/test_intent_topics.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

