Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$


fix: replace hex test value to pass detect-secrets gate [OMN-6981]
  tests/unit/runtime/test_pattern_stored_triggers_projection.py
Due: check-ai-slop

test: verify all intelligence contracts have event_bus_enabled [OMN-7142]
  tests/unit/runtime/test_contract_event_bus_enabled.py
Due: check-ai-slop

test: golden chain for hook event effect [OMN-7142]
  tests/integration/nodes/node_claude_hook_event_effect/test_golden_chain.py
Due: check-ai-slop

test: golden chains for storage, compliance, feedback effects [OMN-7142]
  tests/integration/nodes/node_compliance_evaluate_effect/__init__.py
  tests/integration/nodes/node_compliance_evaluate_effect/test_golden_chain.py
  tests/integration/nodes/node_pattern_feedback_effect/test_golden_chain.py
  tests/integration/nodes/node_pattern_storage_effect/test_golden_chain.py
Due: check-ai-slop

test: parity test proving auto-wiring discovers all hardcoded nodes [OMN-7142]
  tests/integration/runtime/test_auto_wiring_replaces_hardcoded_list.py
Due: check-ai-slop

refactor: replace hardcoded effect node list with dynamic discovery [OMN-7142]
  src/omniintelligence/runtime/contract_topics.py
  tests/integration/runtime/test_auto_wiring_replaces_hardcoded_list.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

docs+test: contract package spec and e2e auto-wiring verification [OMN-7142]
  docs/architecture/contract-package-spec.md
  tests/integration/runtime/test_intelligence_auto_wiring_e2e.py
Due: check-ai-slop

chore: bump version to 0.22.0 for release
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

feat: replace hardcoded INTELLIGENCE_NODES with contract-driven discovery [OMN-7155]
  src/omniintelligence/runtime/introspection.py
  tests/unit/runtime/test_introspection.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(ci): auto-tag workflow matches chore: release PR titles [OMN-6909]
  .github/workflows/auto-tag-on-merge.yml
Due: none

test: add dispatch parity contract test [OMN-6979]
  tests/unit/test_dispatch_parity.py
Due: check-ai-slop

feat: wire dispatch handlers for 7 command topics [OMN-6979]
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_dispatch_handlers.py
  tests/unit/runtime/test_pattern_stored_triggers_projection.py
  tests/unit/runtime/test_plugin_dispatch.py
  tests/unit/runtime/test_projection_handler_registration.py
  tests/unit/test_dispatch_parity.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat: wire dispatch handlers for 7 command topics [OMN-6979] (#515)
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_dispatch_handlers.py
  tests/unit/runtime/test_pattern_stored_triggers_projection.py
  tests/unit/runtime/test_plugin_dispatch.py
  tests/unit/runtime/test_projection_handler_registration.py
  tests/unit/test_dispatch_parity.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat: add contract declarations for 7 orphan dispatch routes [OMN-6979]
  src/omniintelligence/nodes/node_ci_failure_tracker_effect/contract.yaml
  src/omniintelligence/nodes/node_embedding_generation_effect/contract.yaml
  src/omniintelligence/nodes/node_intelligence_orchestrator/contract.yaml
  src/omniintelligence/nodes/node_intelligence_reducer/contract.yaml
  src/omniintelligence/nodes/node_llm_routing_decision_effect/contract.yaml
  src/omniintelligence/runtime/contract_topics.py
  tests/unit/runtime/test_contract_event_bus_enabled.py
  tests/unit/runtime/test_contract_topics.py
  tests/unit/test_dispatch_parity.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix: update test fixtures to match ModelCodeEntity/ModelCodeRelationship schema
  tests/unit/repositories/test_adapter_code_entity_store.py
Due: check-ai-slop

test: document AST extraction quality baseline and known gaps [OMN-7180]
  tests/unit/nodes/node_ast_extraction_compute/test_extraction_quality_baseline.py
Due: check-ai-slop

test: verify AST extraction on NodeCompute base class [OMN-7173]
  tests/unit/nodes/node_ast_extraction_compute/test_extract_base_node_classes.py
Due: check-ai-slop

feat: add ModelPatternDefinition and ModelPatternRole [OMN-7176]
  src/omniintelligence/nodes/node_pattern_extraction_compute/models/__init__.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/models/model_pattern_definition.py
  tests/unit/nodes/node_pattern_extraction_compute/test_pattern_definition.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat: add directory scanner for role occurrences [OMN-7178]
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_match_pattern.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_scan_role_occurrences.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/models/model_pattern_definition.py
  tests/unit/nodes/node_pattern_extraction_compute/test_scan_role_occurrences.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat: add cross-repo four-node pattern baseline scanner [OMN-7179]
  scripts/scan_four_node_pattern.py
Due: check-ai-slop

feat: add cross-repo pattern baseline scanner [OMN-7179] (#524)
  scripts/scan_four_node_pattern.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_match_pattern.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_scan_role_occurrences.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/models/model_pattern_definition.py
  tests/unit/nodes/node_pattern_extraction_compute/test_scan_role_occurrences.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat: add ModelPatternDefinition and ModelPatternRole [OMN-7176] (#521)
  src/omniintelligence/nodes/node_pattern_extraction_compute/models/__init__.py
  tests/unit/nodes/node_pattern_extraction_compute/test_pattern_definition.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

test: verify AST extraction on all four ONEX base node classes [OMN-7174]
  tests/unit/nodes/node_ast_extraction_compute/test_extract_base_node_classes.py
Due: check-ai-slop

feat: add match_pattern_role function for role detection [OMN-7177]
  tests/unit/nodes/node_pattern_extraction_compute/test_match_pattern.py
Due: check-ai-slop

test: verify AST extraction on all four ONEX base node classes [OMN-7174] (#519)
  tests/unit/nodes/node_ast_extraction_compute/test_extract_base_node_classes.py
Due: check-ai-slop

test: verify role detection on real compute node file [OMN-7175]
  tests/unit/nodes/node_ast_extraction_compute/test_extract_base_node_classes.py
Due: check-ai-slop

feat: add NodeFamily grouping for subsystem pattern instances [OMN-7204]
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_group_node_families.py
  tests/unit/nodes/node_pattern_extraction_compute/test_group_node_families.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat: add NodeFamily grouping for subsystem pattern instances [OMN-7204] (#526)
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_group_node_families.py
  tests/unit/nodes/node_pattern_extraction_compute/test_group_node_families.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(review): add Qwen3-Next-80B-A3B to model registry
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat: add NodeFamily to learned_patterns bridge [OMN-7208]
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_store_node_families.py
  tests/unit/nodes/node_pattern_extraction_compute/test_store_node_families.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat: add real codebase test, report script, and family seed pipeline [OMN-7205, OMN-7206, OMN-7208, OMN-7209]
  scripts/report_node_families.py
  scripts/seed_patterns_from_families.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_store_node_families.py
  tests/unit/nodes/node_pattern_extraction_compute/test_group_real_codebase.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat: add NodeFamily to learned_patterns bridge [OMN-7208] (#527)
  scripts/report_node_families.py
  scripts/seed_patterns_from_families.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_store_node_families.py
  tests/unit/nodes/node_pattern_extraction_compute/test_group_real_codebase.py
  tests/unit/nodes/node_pattern_extraction_compute/test_store_node_families.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(intelligence): remove all localhost fallbacks, require env vars [OMN-7227]
  scripts/backfill_pattern_projection.py
  scripts/crawl_code_entities.py
  scripts/seed_learned_patterns.py
  scripts/seed_patterns_from_families.py
  scripts/validate_no_env_fallbacks.py
  src/omniintelligence/decision_store/__main__.py
  src/omniintelligence/nodes/node_context_item_writer_effect/models/model_context_item_write_input.py
  src/omniintelligence/nodes/node_gmail_intent_evaluator_effect/handlers/handler_gmail_intent_evaluate.py
  src/omniintelligence/nodes/node_navigation_retriever_effect/contract.yaml
  src/omniintelligence/nodes/node_navigation_retriever_effect/models/model_navigation_retrieve_input.py
  src/omniintelligence/nodes/node_navigation_retriever_effect/node.py
  src/omniintelligence/rl/data_sources/kafka_source.py
  src/omniintelligence/rl/data_sources/postgres_source.py
  src/omniintelligence/rl/export.py
  src/omniintelligence/runtime/contracts/runtime_config.yaml
  src/omniintelligence/runtime/dispatch_handler_code_embedding.py
  src/omniintelligence/runtime/dispatch_handler_graph_storage.py
  src/omniintelligence/runtime/model_event_bus_config.py
  src/omniintelligence/runtime/model_handler_config.py
  src/omniintelligence/runtime/model_intelligence_runtime_config.py
  tests/unit/nodes/node_navigation_retriever_effect/test_model_navigation_retrieve_input.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

fix(intelligence): remove all localhost fallbacks, require env vars [OMN-7227] (#530)
  scripts/backfill_pattern_projection.py
  scripts/crawl_code_entities.py
  scripts/seed_learned_patterns.py
  scripts/seed_patterns_from_families.py
  scripts/validate_no_env_fallbacks.py
  src/omniintelligence/decision_store/__main__.py
  src/omniintelligence/nodes/node_context_item_writer_effect/models/model_context_item_write_input.py
  src/omniintelligence/nodes/node_gmail_intent_evaluator_effect/handlers/handler_gmail_intent_evaluate.py
  src/omniintelligence/nodes/node_navigation_retriever_effect/contract.yaml
  src/omniintelligence/nodes/node_navigation_retriever_effect/models/model_navigation_retrieve_input.py
  src/omniintelligence/nodes/node_navigation_retriever_effect/node.py
  src/omniintelligence/rl/data_sources/kafka_source.py
  src/omniintelligence/rl/data_sources/postgres_source.py
  src/omniintelligence/rl/export.py
  src/omniintelligence/runtime/contracts/runtime_config.yaml
  src/omniintelligence/runtime/dispatch_handler_code_embedding.py
  src/omniintelligence/runtime/dispatch_handler_graph_storage.py
  src/omniintelligence/runtime/model_event_bus_config.py
  src/omniintelligence/runtime/model_handler_config.py
  src/omniintelligence/runtime/model_intelligence_runtime_config.py
  tests/unit/nodes/node_navigation_retriever_effect/test_model_navigation_retrieve_input.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

fix(intelligence): disable old behavioral pattern extractors, default to AST-only [OMN-7231]
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_core_models.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/models/model_extraction_config.py
  tests/unit/nodes/node_pattern_extraction_compute/test_handler_core_models.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix: accept extraction_config param so callers can re-enable extractors [OMN-7231]
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_core_models.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(crawl): add source_content field to ModelCodeFileDiscoveredEvent [OMN-7232]
  src/omniintelligence/nodes/node_code_crawler_effect/models/model_code_file_discovered_event.py
  tests/unit/nodes/node_code_crawler_effect/test_model_code_file_discovered_event.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(extract): add source_content field to extraction ModelCodeFileDiscoveredEvent [OMN-7232]
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_code_file_discovered_event.py
  tests/unit/nodes/node_ast_extraction_compute/test_event_models.py
  tests/unit/runtime/test_dispatch_handler_code_extract.py
  tests/unit/runtime/test_dispatch_handler_code_pipeline.py
  tests/unit/runtime/test_dispatch_handler_extract_routing.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(crawl): populate source_content in discovery events [OMN-7232]
  src/omniintelligence/nodes/node_code_crawler_effect/handlers/handler_onextree_generator.py
  tests/unit/nodes/node_code_crawler_effect/test_onextree_generator.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(extract): read source_content from event, filesystem as fallback [OMN-7232]
  src/omniintelligence/runtime/dispatch_handler_code_extract.py
  tests/unit/runtime/test_dispatch_handler_code_extract.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop
