Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$


fix(OMN-13878): repin omnibase-core/spi git overrides to PyPI (omniintelligence)
  pyproject.toml
  uv.lock
Due: none

fix(OMN-13887): migrate omniintelligence dispatch off removed core MessageDispatchEngine + repin to PyPI (OMN-13878)
  pyproject.toml
  src/omniintelligence/runtime/dispatch_handlers.py
  src/omniintelligence/runtime/plugin.py
  tests/integration/runtime/test_kernel_boot_wiring.py
  tests/unit/runtime/test_dispatch_envelope_adapter.py
  tests/unit/runtime/test_dispatch_handlers.py
  tests/unit/runtime/test_pattern_stored_triggers_projection.py
  tests/unit/runtime/test_plugin_dispatch.py
  tests/unit/runtime/test_projection_handler_registration.py
  uv.lock
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(OMN-13887): migrate omniintelligence dispatch off removed core MessageDispatchEngine + repin to PyPI (OMN-13878) (#748)
  pyproject.toml
  src/omniintelligence/runtime/dispatch_handlers.py
  src/omniintelligence/runtime/plugin.py
  tests/integration/runtime/test_kernel_boot_wiring.py
  tests/unit/runtime/test_dispatch_envelope_adapter.py
  tests/unit/runtime/test_dispatch_handlers.py
  tests/unit/runtime/test_pattern_stored_triggers_projection.py
  tests/unit/runtime/test_plugin_dispatch.py
  tests/unit/runtime/test_projection_handler_registration.py
  uv.lock
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

chore(OMN-13898): bump omnibase-core to 0.46.4 (#751)
  contracts/OMN-12245.yaml
  uv.lock
Due: none

ci(OMN-13914): add synchronize+reopened to pr-title-check trigger (#752)
  .github/workflows/pr-title-check.yml
Due: none

chore(deps): bump omnibase-core to 0.46.5
  uv.lock
Due: none

chore(OMN-12673): bump omnibase-core to 0.46.5
  uv.lock
Due: none

ci(OMN-12673): use security CodeQL suite
  .github/workflows/security-scan.yml
Due: none

ci(OMN-13902): add sibling-lock-refresh workflow (fan-out from omnimemory canary)
  .github/workflows/sibling-lock-refresh.yml
Due: none

chore(OMN-12673): bump omnibase-core to 0.46.5 (#754)
  .github/workflows/security-scan.yml
  uv.lock
Due: none

ci(OMN-13902): add sibling-lock-refresh workflow (fan-out from omnimemory canary) (#755)
  .github/workflows/sibling-lock-refresh.yml
Due: none

refactor(OMN-13944): relocate stray topic literals into canonical registries (omniintelligence)
  src/omniintelligence/constants.py
  src/omniintelligence/nodes/node_compliance_evaluate_effect/node_tests/test_handler_compliance_evaluate.py
  src/omniintelligence/nodes/node_llm_routing_decision_effect/node_tests/test_handler_llm_routing_decision.py
  src/omniintelligence/nodes/node_pattern_demotion_effect/node_tests/test_demotion.py
  src/omniintelligence/nodes/node_pattern_lifecycle_effect/node_tests/test_handler_transition.py
  src/omniintelligence/nodes/node_pattern_projection_effect/node_tests/test_handler_projection.py
  src/omniintelligence/nodes/node_routing_feedback_effect/node_tests/test_handler_routing_feedback.py
  src/omniintelligence/runtime/dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

refactor(OMN-13944): relocate stray topic literals into canonical registries (omniintelligence) (#756)
  src/omniintelligence/constants.py
  src/omniintelligence/nodes/node_compliance_evaluate_effect/node_tests/test_handler_compliance_evaluate.py
  src/omniintelligence/nodes/node_llm_routing_decision_effect/node_tests/test_handler_llm_routing_decision.py
  src/omniintelligence/nodes/node_pattern_demotion_effect/node_tests/test_demotion.py
  src/omniintelligence/nodes/node_pattern_lifecycle_effect/node_tests/test_handler_transition.py
  src/omniintelligence/nodes/node_pattern_projection_effect/node_tests/test_handler_projection.py
  src/omniintelligence/nodes/node_routing_feedback_effect/node_tests/test_handler_routing_feedback.py
  src/omniintelligence/runtime/dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

chore(deps): refresh omninode sibling locks [bot]
  uv.lock
Due: none

docs(OMN-13902): remove localhost embedding examples
  src/omniintelligence/adapters/embedding_client_local_openai.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-13902): resolve strict mypy sweep failures
  src/omniintelligence/model_selector/selector.py
  src/omniintelligence/nodes/node_cursor_hook_event_effect/handlers/handler_cursor_event.py
  src/omniintelligence/review_bot/github/client_github.py
  src/omniintelligence/review_pairing/adapters/adapter_mypy.py
  src/omniintelligence/rl/train.py
  src/omniintelligence/rl/trainer.py
  src/omniintelligence/runtime/introspection.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

ci(OMN-13902): filter nonexistent smart-test paths
  scripts/ci/detect_test_paths.py
  tests/unit/scripts/test_detect_test_paths.py
Due: check-ai-slop

chore(deps): refresh omninode sibling locks [bot] (OMN-13902) (#760)
  uv.lock
Due: none

feat(OMN-14176): add qwen3-review registry key (5090 Qwen3.6-35B-A3B)
  src/omniintelligence/review_pairing/model_registry.yaml
Due: none

build(OMN-14176): split torch/transformers/adaptive-classifier into non-default rl group
  pyproject.toml
  src/omniintelligence/nodes/node_intent_classifier_compute/handlers/__init__.py
  tests/unit/nodes/node_intent_classifier_compute/test_adaptive_classification.py
  tests/unit/rl/conftest.py
  uv.lock
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(OMN-14176): add qwen3-review-b (4090 :8001) as 2nd reviewer model
  src/omniintelligence/review_pairing/model_registry.yaml
Due: none

feat(OMN-14176): add qwen3-review registry key (5090 Qwen3.6-35B-A3B) for hostile reviewer (#767)
  src/omniintelligence/review_pairing/model_registry.yaml
Due: none

fix(OMN-14176): set complete endpoint_url in reviewer call_model (OMN-12815)
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-14176): set complete endpoint_url in reviewer call_model (OMN-12815) (#769)
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

chore(deps): refresh omninode sibling locks [bot] (OMN-13902) (#758)
  scripts/ci/detect_test_paths.py
  src/omniintelligence/adapters/embedding_client_local_openai.py
  src/omniintelligence/model_selector/selector.py
  src/omniintelligence/nodes/node_cursor_hook_event_effect/handlers/handler_cursor_event.py
  src/omniintelligence/review_bot/github/client_github.py
  src/omniintelligence/review_pairing/adapters/adapter_mypy.py
  src/omniintelligence/rl/train.py
  src/omniintelligence/rl/trainer.py
  src/omniintelligence/runtime/introspection.py
  tests/unit/scripts/test_detect_test_paths.py
  uv.lock
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

fix(OMN-14176): match cli_review TCP probe threshold to CI preflight (5s x3) — gate-4
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer_fallback.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

build(OMN-14176): split torch/transformers into non-default rl group (review path installs no torch) (#768)
  pyproject.toml
  src/omniintelligence/nodes/node_intent_classifier_compute/handlers/__init__.py
  tests/unit/nodes/node_intent_classifier_compute/test_adaptive_classification.py
  tests/unit/rl/conftest.py
  uv.lock
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

ci(OMN-14126): disable automatic merge enrollment
  .github/workflows/auto-merge.yml
  contracts/OMN-14126.yaml
Due: none

ci(OMN-14126): disable automatic merge enrollment (#771)
  .github/workflows/auto-merge.yml
  contracts/OMN-14126.yaml
Due: none

fix(OMN-14176): match cli_review TCP probe threshold to CI preflight (5s x3) — gate-4 (#770)
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer_fallback.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

test(OMN-14200): sync model_registry loader test with qwen3-review/qwen3-review-b keys
  tests/unit/review_pairing/test_model_registry_loader.py
Due: check-ai-slop
