Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$


backup(wt-triage-201-1440): snapshot of oi uncommitted state before removal
  src/omniintelligence/code_projection/__main__.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

chore(deps, OMN-13902): refresh omninode sibling locks [bot]
  uv.lock
Due: none

fix(OMN-9050): normalize indentation of auto-bump comment in check-handshake
  .github/workflows/check-handshake.yml
Due: none

fix(OMN-9050): add edited to occ-autobind pull_request trigger types
  .github/workflows/call-occ-autobind.yml
Due: none

ci(OMN-17427): set UV_HTTP_TIMEOUT to 600 so a slow PyPI download no longer fails CI jobs
  .github/workflows/ci.yml
Due: none

ci(OMN-17427): set UV_HTTP_TIMEOUT to 600 so a slow PyPI download no longer fails CI jobs (#973)
  .github/workflows/ci.yml
Due: none

fix(ci): restore indentation of pin-bump comment [OMN-9050]
  .github/workflows/check-handshake.yml
Due: none

feat(OMN-20298): add shape-gate independence guard
  .github/required-checks.yaml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

test(OMN-20298): planted bad sample
  .github/workflows/planted-shape-gate.yml
Due: none

feat(OMN-20304): canonical-file-shape ratchet blocks new scripts, plugins and exceptions
  .github/workflows/ci.yml
  .onex_ratchets/canonical_file_shape_baseline.txt
  .pre-commit-config.yaml
Due: none

fix(ci): grant pull-requests: read to ban-hardcoded-runner-ip caller [OMN-20304]
  .github/workflows/ban-hardcoded-runner-ip.yml
Due: none

feat(OMN-20304): canonical-file-shape ratchet blocks new scripts, plugins and exceptions (#979)
  .github/workflows/ci.yml
  .onex_ratchets/canonical_file_shape_baseline.txt
  .pre-commit-config.yaml
Due: none

fix(OMN-20298): wrap long entry line in .pre-commit-config.yaml to pass yamlfmt
  .pre-commit-config.yaml
Due: none

feat(OMN-20298): shape-gate independence guard (#978)
  .github/required-checks.yaml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

fix: replace hardcoded runner IPs with placeholder hosts in tests
  config/hardcoded_model_config_baseline.yaml
  tests/integration/nodes/node_plan_reviewer_multi_compute/test_smoke_plan_all_strategies.py
  tests/unit/bloom_eval/test_eval_llm_client.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer_fallback.py
Due: check-ai-slop

fix(ci): grant pull-requests: read to ban-hardcoded-runner-ip caller [OMN-20304] (#980)
  .github/workflows/ban-hardcoded-runner-ip.yml
  config/hardcoded_model_config_baseline.yaml
  tests/integration/nodes/node_plan_reviewer_multi_compute/test_smoke_plan_all_strategies.py
  tests/unit/bloom_eval/test_eval_llm_client.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer_fallback.py
Due: check-ai-slop

fix(ci): read siblings at pinned versions, never live branches [OMN-20001]
  .github/workflows/call-occ-autobind.yml
  .github/workflows/call-occ-companion-effect.yml
  .github/workflows/call-receipt-gate.yml
  .github/workflows/call-reject-skip.yml
  .github/workflows/ci.yml
  .github/workflows/contract-validation.yml
  .github/workflows/docs-validate.yml
  .github/workflows/imperative-contract-guard.yml
  .github/workflows/pr-title-check.yml
  .github/workflows/receipt-honesty.yml
  .github/workflows/security-scan.yml
  tests/ci/test_sibling_pins.py
Due: check-ai-slop

fix(ci): add omnimarket to validate-boundaries repos for intent-classified.v1 consumer
  .github/workflows/ci.yml
Due: none

fix(ci): read siblings at pinned versions, never live branches [OMN-20001] (#982)
  .github/workflows/call-occ-autobind.yml
  .github/workflows/call-occ-companion-effect.yml
  .github/workflows/call-receipt-gate.yml
  .github/workflows/call-reject-skip.yml
  .github/workflows/ci.yml
  .github/workflows/contract-validation.yml
  .github/workflows/docs-validate.yml
  .github/workflows/imperative-contract-guard.yml
  .github/workflows/pr-title-check.yml
  .github/workflows/receipt-honesty.yml
  .github/workflows/security-scan.yml
  tests/ci/test_sibling_pins.py
Due: check-ai-slop

fix(OMN-17427): OCC companion gate entrypoint tests pin their event name
  tests/ci/test_check_occ_companion_merged.py
Due: check-ai-slop

fix(OMN-17427): OCC companion gate entrypoint tests pin their event name (#983)
  tests/ci/test_check_occ_companion_merged.py
Due: check-ai-slop

fix(OMN-20375): repin receipt-gate to pick up artifact_sha256 support
  .github/workflows/call-receipt-gate.yml
Due: none

fix(OMN-20375): repin receipt-gate to pick up artifact_sha256 support (#987)
  .github/workflows/call-receipt-gate.yml
Due: none

fix(OMN-20460): pin the omnibase_core canonical-file-shape hook to the temp-file blob read fix
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

fix(OMN-20460): pin the omnibase_core canonical-file-shape hook to the temp-file blob read fix (#996)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

fix(ci): keep validate-boundaries and validate-contract on dd2620d
  .github/workflows/ci.yml
  .github/workflows/contract-validation.yml
Due: none

ci: keep call-reject-skip.yml at dev's pin 878ae183ffca
  .github/workflows/call-reject-skip.yml
Due: none
