Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$


feat: wire omniintelligence event emissions for omnidash upstream [OMN-6153] (#446)
  src/omniintelligence/clients/utilization_llm_client.py
  src/omniintelligence/constants.py
  src/omniintelligence/models/events/__init__.py
  src/omniintelligence/models/events/model_ci_debug_escalation_event.py
  src/omniintelligence/models/events/model_operation_lifecycle_event.py
  src/omniintelligence/models/events/model_rl_routing_decision_event.py
  src/omniintelligence/nodes/node_ci_failure_tracker_effect/contract.yaml
  src/omniintelligence/nodes/node_ci_failure_tracker_effect/handlers/handler_trigger_record.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/contract.yaml
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/models/model_claude_hook_result.py
  src/omniintelligence/nodes/node_intelligence_orchestrator/contract.yaml
  src/omniintelligence/rl/emit.py
  src/omniintelligence/runtime/dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

feat(calibration): add CLI entry point for calibration [OMN-6172]
  src/omniintelligence/review_pairing/cli_calibration.py
  tests/unit/review_pairing/test_cli_calibration.py
  uv.lock
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(calibration): add CLI entry point for calibration [OMN-6172] (#453)
  src/omniintelligence/review_pairing/cli_calibration.py
  tests/unit/review_pairing/test_cli_calibration.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

test(calibration): add calibration integration tests [OMN-6178]
  tests/integration/review_pairing/__init__.py
  tests/integration/review_pairing/test_calibration_integration.py
Due: check-ai-slop

test(calibration): add calibration integration tests [OMN-6178] (#454)
  tests/integration/review_pairing/__init__.py
  tests/integration/review_pairing/test_calibration_integration.py
Due: check-ai-slop

feat(calibration): add documentation and wiring for calibration system [OMN-6179]
  CLAUDE.md
  src/omniintelligence/review_pairing/__init__.py
  src/omniintelligence/review_pairing/__main__.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(deps): update stale omnibase-infra and spi version pins [OMN-6112]
  pyproject.toml
  uv.lock
Due: none

feat(calibration): add documentation and wiring for calibration system [OMN-6179] (#455)
  CLAUDE.md
  src/omniintelligence/review_pairing/__init__.py
  src/omniintelligence/review_pairing/__main__.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(deps): update stale omnibase-infra and spi version pins [OMN-6112] (#438)
  pyproject.toml
  uv.lock
Due: none

chore(release): bump version to 0.17.0
  pyproject.toml
  uv.lock
Due: none

chore(release): bump version to 0.17.0 (#456)
  pyproject.toml
  uv.lock
Due: none

chore(ci): rename ci.yaml -> ci.yml for cross-repo standardization [OMN-6216]
  .github/workflows/ci.yml
Due: none

chore(ci): add CI naming convention check to standards compliance [OMN-6222]
  .github/workflows/omni-standards-compliance.yml
Due: none

release: omniintelligence v0.17.0
  CHANGELOG.md
Due: check-ai-slop

release: omniintelligence v0.17.0 (#458)
  CHANGELOG.md
Due: check-ai-slop

fix(ci): update ci.yaml references to ci.yml for CI rename [OMN-6214]
  scripts/validate_ci_precommit_alignment.py
  src/omniintelligence/audit/README.md
  src/omniintelligence/tools/README.md
  tests/unit/utils/__init__.py
Due: check-ai-slop

feat(review-pairing): add personas directory, analytical-strict persona, and support models [OMN-6228]
  src/omniintelligence/review_pairing/cli_review_models.py
  src/omniintelligence/review_pairing/persona_loader.py
  src/omniintelligence/review_pairing/personas/__init__.py
  src/omniintelligence/review_pairing/personas/analytical-strict.md
  tests/unit/review_pairing/test_cli_review_models.py
  tests/unit/review_pairing/test_persona_loader.py
  tests/unit/review_pairing/test_personas.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

chore(pre-existing): fix unused type: ignore comments and unreachable statement in adapter_ai_reviewer [OMN-6228]
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(review-pairing): add --persona and --system-prompt flags to cli_review [OMN-6228]
  src/omniintelligence/review_pairing/cli_review.py
  tests/unit/review_pairing/test_cli_review.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(ci): remove markdown separator slop from tests/unit/utils/__init__.py
  tests/unit/utils/__init__.py
Due: check-ai-slop

fix(ci): address CodeRabbit review comments on standards compliance workflow [OMN-6216]
  .github/workflows/omni-standards-compliance.yml
  CHANGELOG.md
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/cli_review.py
  src/omniintelligence/review_pairing/cli_review_models.py
  src/omniintelligence/review_pairing/persona_loader.py
  src/omniintelligence/review_pairing/personas/__init__.py
  src/omniintelligence/review_pairing/personas/analytical-strict.md
  tests/unit/review_pairing/test_cli_review.py
  tests/unit/review_pairing/test_cli_review_models.py
  tests/unit/review_pairing/test_persona_loader.py
  tests/unit/review_pairing/test_personas.py
  tests/unit/utils/__init__.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

release: omniintelligence v0.17.0
  pyproject.toml
  uv.lock
Due: none

feat(projection): truncate pattern_signature to 512 chars in projection snapshots [OMN-6341]
  src/omniintelligence/nodes/node_pattern_projection_effect/contract.yaml
  src/omniintelligence/nodes/node_pattern_projection_effect/handlers/handler_projection.py
  src/omniintelligence/nodes/node_pattern_projection_effect/node_tests/conftest.py
  src/omniintelligence/protocols/__init__.py
  src/omniintelligence/repositories/adapter_pattern_store.py
  src/omniintelligence/repositories/learned_patterns.repository.yaml
  tests/unit/nodes/node_pattern_projection_effect/__init__.py
  tests/unit/nodes/node_pattern_projection_effect/test_projection_size_bounded.py
  tests/unit/repositories/test_query_patterns_projection.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix: correct stale DATABASE_URL default to omniintelligence database [OMN-6427]
  deployment/docker/docker-compose.nodes.yml
Due: none

fix: add relevance filters to file access pattern extraction [OMN-6566]
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_file_patterns.py
  tests/unit/nodes/node_pattern_extraction_compute/conftest.py
  tests/unit/nodes/node_pattern_extraction_compute/test_file_pattern_filtering.py
  tests/unit/nodes/node_pattern_extraction_compute/test_handler_core_models.py
  tests/unit/nodes/node_pattern_extraction_compute/test_handlers.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat: add review_pairing PairingEngine to intelligence handler specs [OMN-6591]
  src/omniintelligence/runtime/wiring.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat: add review_pairing PairingEngine to intelligence handler specs [OMN-6591] (#464)
  src/omniintelligence/runtime/wiring.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix: add relevance filters to file access pattern extraction [OMN-6566] (#465)
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_file_patterns.py
  tests/unit/nodes/node_pattern_extraction_compute/conftest.py
  tests/unit/nodes/node_pattern_extraction_compute/test_file_pattern_filtering.py
  tests/unit/nodes/node_pattern_extraction_compute/test_handler_core_models.py
  tests/unit/nodes/node_pattern_extraction_compute/test_handlers.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat: register review_pairing node package for topic discovery [OMN-6593]
  src/omniintelligence/review_pairing/contract.yaml
  src/omniintelligence/runtime/contract_topics.py
  tests/unit/runtime/test_contract_topics.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix: add code_entities and code_relationships to schema manifest [OMN-5669]
  src/omniintelligence/runtime/model_schema_manifest.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat(runtime): wire intelligence orchestrator into dispatch engine [OMN-6590]
  src/omniintelligence/runtime/dispatch_handlers.py
  src/omniintelligence/runtime/wiring.py
  tests/unit/runtime/test_dispatch_handler_orchestrator.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat(runtime): wire intelligence reducer and CI nodes into dispatch engine [OMN-6594][OMN-6598]
  src/omniintelligence/runtime/dispatch_handlers.py
  src/omniintelligence/runtime/wiring.py
  tests/unit/runtime/test_dispatch_handler_reducer_ci.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix: address mypy errors and CodeRabbit review findings [OMN-6594]
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_dispatch_handler_orchestrator.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix: remove accidental marker text from contract description [OMN-6593]
  src/omniintelligence/review_pairing/contract.yaml
Due: none

feat(runtime): wire orchestrator, reducer, and CI nodes into dispatch engine [OMN-6590][OMN-6594][OMN-6598] (#470)
  src/omniintelligence/runtime/dispatch_handlers.py
  src/omniintelligence/runtime/wiring.py
  tests/unit/runtime/test_dispatch_handler_orchestrator.py
  tests/unit/runtime/test_dispatch_handler_reducer_ci.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat: register review_pairing node package for topic discovery [OMN-6593] (#466)
  src/omniintelligence/review_pairing/contract.yaml
  src/omniintelligence/runtime/contract_topics.py
  tests/unit/runtime/test_contract_topics.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat: wire model_selector DecisionEmitter into dispatch engine [OMN-6595]
  scripts/validation/topic_naming_baseline.txt
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix: correct mypy errors and topic naming issues [OMN-6595]
  scripts/validation/topic_naming_baseline.txt
  src/omniintelligence/runtime/dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

chore(release): bump omniintelligence to v0.18.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-ai-slop
