Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$


perf(OMN-16764): defer the quality-scoring import out of the package root (#861)
  src/omniintelligence/__init__.py
  tests/unit/test_lazy_package_exports.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

perf(OMN-16764): memoize load_current within a request-scoped read window
  src/omniintelligence/code_projection/artifacts.py
  src/omniintelligence/code_projection/context_serving/cli.py
  tests/unit/code_projection/test_artifact_store_memoization.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

perf(OMN-16764): build each context item's payload once, not once per candidate
  src/omniintelligence/code_projection/context_serving/service.py
  tests/unit/code_projection/context_serving/test_render_is_linear.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

perf(OMN-16764): resolve context candidates concurrently, in waves
  src/omniintelligence/code_projection/context_serving/service.py
  tests/unit/code_projection/context_serving/test_concurrent_resolve.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

docs(OMN-16764): commit the stage-level latency breakdown
  docs/INDEX.md
  docs/reference/CONTEXT_SERVING_LATENCY_PROVENANCE.md
  docs/reference/CONTEXT_SERVING_LATENCY_TIMINGS.md
Due: check-ai-slop

perf(OMN-16764): memoize load_current within a request-scoped read window (#862)
  src/omniintelligence/code_projection/artifacts.py
  src/omniintelligence/code_projection/context_serving/cli.py
  tests/unit/code_projection/test_artifact_store_memoization.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

perf(OMN-16764): resolve context candidates concurrently, in waves (#864)
  src/omniintelligence/code_projection/context_serving/service.py
  tests/unit/code_projection/context_serving/test_concurrent_resolve.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

perf(OMN-16764): build each context item's payload once, not once per candidate (#863)
  src/omniintelligence/code_projection/context_serving/service.py
  tests/unit/code_projection/context_serving/test_concurrent_resolve.py
  tests/unit/code_projection/context_serving/test_render_is_linear.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

docs(OMN-16764): commit the stage-level latency breakdown (#865)
  docs/INDEX.md
  docs/reference/CONTEXT_SERVING_LATENCY_PROVENANCE.md
  docs/reference/CONTEXT_SERVING_LATENCY_TIMINGS.md
Due: check-ai-slop

fix(OMN-16899): build the naive-datetime fixtures from UTC, not local wall-clock
  src/omniintelligence/nodes/node_pattern_demotion_effect/node_tests/test_demotion.py
  tests/unit/nodes/node_pattern_demotion_effect/test_handler_demotion.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(OMN-16898): derive the ingest CLI policy scope so its projections are servable
  docs/reference/CONTEXT_SERVING_LATENCY_PROVENANCE.md
  src/omniintelligence/code_projection/__main__.py
  tests/unit/code_projection/test_cli.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

chore(OMN-16898): refresh .secrets.baseline line numbers
  .secrets.baseline
Due: none

fix(OMN-16898): derive the ingest CLI policy scope so its projections are servable (#867)
  .secrets.baseline
  docs/reference/CONTEXT_SERVING_LATENCY_PROVENANCE.md
  src/omniintelligence/code_projection/__main__.py
  tests/unit/code_projection/test_cli.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-16899): build the naive-datetime fixtures from UTC, not local wall-clock (#866)
  src/omniintelligence/nodes/node_pattern_demotion_effect/node_tests/test_demotion.py
  tests/unit/nodes/node_pattern_demotion_effect/test_handler_demotion.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

chore(OMN-16933): remove CodeRabbit thread-gate workflows
  .github/workflows/auto-merge.yml
  .github/workflows/cr-thread-gate-caller.yml
  .github/workflows/cr-thread-gate.yml
  tests/ci/test_workflow_script_refs_exist.py
Due: check-ai-slop

chore(OMN-16933): remove CodeRabbit thread-gate workflows (#868)
  .github/workflows/auto-merge.yml
  .github/workflows/cr-thread-gate-caller.yml
  .github/workflows/cr-thread-gate.yml
  tests/ci/test_workflow_script_refs_exist.py
Due: check-ai-slop

build(OMN-16950): widen omnibase-core cap to >=0.47.0,<0.48.0
  pyproject.toml
  uv.lock
Due: none

build(OMN-16950): widen omnibase-core cap to >=0.47.0,<0.48.0 (#869)
  pyproject.toml
  uv.lock
Due: none

chore(deps): refresh omninode sibling locks [bot]
  uv.lock
Due: none

fix(OMN-17184): drop unused PyPDF2 — the only unfixable alert in the org
  pyproject.toml
  uv.lock
Due: none

fix(OMN-17184): drop unused PyPDF2 — the only unfixable alert in the org (#872)
  pyproject.toml
  uv.lock
Due: none

fix(OMN-17293): bound the hostile reviewer's diff against the model's context limit, not GitHub's
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/cli_review.py
  tests/unit/review_pairing/test_cli_review.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-17293): bound the hostile reviewer's diff against the model's context limit, not GitHub's (#874)
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/cli_review.py
  tests/unit/review_pairing/test_cli_review.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(OMN-17492): add glm-review — authenticated z.ai Coding Plan cloud reviewer for the hostile-review roster
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/models_external_review.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
  tests/unit/review_pairing/test_model_registry_loader.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-17492): allowlist GLM key env name
  src/omniintelligence/review_pairing/model_registry.yaml
  tests/unit/review_pairing/test_model_registry_loader.py
Due: check-ai-slop

feat(OMN-17492): add glm-review — authenticated z.ai Coding Plan cloud reviewer for the hostile-review roster (#875)
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/models_external_review.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
  tests/unit/review_pairing/test_model_registry_loader.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

ci(OMN-17172): require the KB doc gate on omniintelligence PRs
  .github/workflows/kb-doc-gate.yml
Due: none

ci(OMN-17172): require the KB doc gate on omniintelligence PRs (#876)
  .github/workflows/kb-doc-gate.yml
Due: none

docs(OMN-16612): remove 22 migrated/superseded docs, chunk 1
  AGENT.md
  CLAUDE.md
  README.md
  deployment/database/FK_SCAN_REPORT.md
  deployment/database/README.md
  deployment/database/migrations/CODE_ENTITY_DDL_OWNERSHIP.md
  deployment/docker/README.md
  docs/CONTRACT_VALIDATION_GUIDE.md
  docs/INDEX.md
  docs/NODE_STATE_POLICY.md
  docs/architecture/CODE_PROJECTION_V2.md
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
  docs/architecture/contract-package-spec.md
  docs/assets/brand/BRAND.md
  docs/conventions/NAMING_CONVENTIONS.md
  docs/reference/CONTEXT_SERVING_LATENCY_PROVENANCE.md
  docs/reference/CONTEXT_SERVING_LATENCY_TIMINGS.md
  docs/reference/DASH_INTEGRATION_TRUTH_BOUNDARY.md
  docs/reference/EVENT_SURFACE.md
  docs/reference/NODE_INVENTORY.md
  docs/standards/STANDARD_DOC_LAYOUT.md
  src/omniintelligence/models/MIGRATION.md
  src/omniintelligence/review_pairing/TOPICS.md
  src/omniintelligence/validators/README.md
Due: migration-freeze-check, check-ai-slop

docs(OMN-16612): fix doc-scrub code references, relocate community files, flip kb-doc-gate to strict
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/workflows/kb-doc-gate.yml
  .kb-doc-gate.yaml
  .pre-commit-config.yaml
  .secrets.baseline
  README.md
  pyproject.toml
  scripts/generate_node_report.py
  scripts/scan_four_node_pattern.py
  scripts/validation/validate_clean_root.py
  src/omniintelligence/models/__init__.py
  src/omniintelligence/models/model_intelligence_input.py
  src/omniintelligence/models/model_intelligence_output.py
  tests/unit/migrations/test_code_entity_ddl_ownership.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

test(OMN-17481): assert cursor_hook in wired contract topics; sync dispatch docstring — B1 formal closure
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_contract_topics.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

fix(OMN-17481): classify hook-event parse failures as permanent via a typed error — stop the NACK redelivery loop
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_dispatch_handlers.py
  tests/unit/runtime/test_reshape_daemon_payload.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop
