Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

mypy-type-check:
  name: mypy (type checking)
  entry: uv run mypy --ignore-missing-imports --incremental
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-naming:
  name: onex-validate-naming
  entry: python scripts/validation/validate_naming.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

io-audit:
  name: io-audit (ONEX purity)
  entry: uv run python -m omniintelligence.audit.io_audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-transport-imports:
  name: validate-no-transport-imports (ARCH-002)
  entry: uv run python scripts/validate_no_transport_imports.py --exclude src/omniintelligence/runtime --exclude src/omniintelligence/api --exclude src/omniintelligence/clients
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: pytest (smoke tests)
  entry: uv run pytest tests/unit/tools/ -m unit --maxfail=3 -x --tb=short -q
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-tools:
  name: pytest (tools/utils/runtime - full)
  entry: uv run pytest tests/unit/tools/ tests/unit/test_log_sanitizer.py -v --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-ai-slop:
  name: Check for AI-slop patterns
  language: system
  entry: uv run python scripts/validation/check_ai_slop.py
  pass_filenames: true
  stages:
  - pre-commit

feat(bloom-eval): OMN-4018 — define ModelBehaviorSpec and ModelEvalScenario
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/models/model_behavior_spec.py
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/models/model_eval_scenario.py
  tests/unit/nodes/node_bloom_eval_orchestrator/test_models_spec_scenario.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(bloom-eval): OMN-4019 — define ModelEvalResult and ModelEvalSuiteResult
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/models/model_eval_result.py
  tests/unit/nodes/node_bloom_eval_orchestrator/test_models_eval_result.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(bloom-eval): OMN-4020 — define built-in BehaviorSpec catalog (15 specs)
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/catalog.py
  tests/unit/nodes/node_bloom_eval_orchestrator/test_catalog.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

OMN-4021: Build EvalLLMClient in omniintelligence/clients/
  src/omniintelligence/clients/eval_llm_client.py
  tests/unit/bloom_eval/__init__.py
  tests/unit/bloom_eval/test_eval_llm_client.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(ci): pin validate-string-versions to SHA until omnibase_core v0.25.0 is tagged
  .pre-commit-config.yaml
Due: none

fix(ci): fix ruff format and add migration aliases to topic lint baseline (OMN-3253)
  scripts/validation/topic_naming_baseline.txt
  tests/unit/test_intent_topics.py
Due: check-ai-slop

fix(ci): apply yamlfmt to contract yaml files
  src/omniintelligence/nodes/node_ci_error_classifier_compute/contract.yaml
  src/omniintelligence/nodes/node_ci_failure_tracker_effect/contract.yaml
  src/omniintelligence/nodes/node_ci_fingerprint_compute/contract.yaml
  src/omniintelligence/nodes/node_debug_fix_record_effect/contract.yaml
  src/omniintelligence/nodes/node_debug_retrieval_compute/contract.yaml
Due: none

fix(topics): rename IntentTopic producer segment to 'omniintelligence' [OMN-3253] (#319)
  _golden_path_validate/node_intelligence_reducer.json
  _golden_path_validate/node_pattern_projection_effect.json
  scripts/validation/topic_naming_baseline.txt
  src/omniintelligence/models/events/__init__.py
  src/omniintelligence/models/events/model_intent_event_envelopes.py
  src/omniintelligence/nodes/node_intelligence_orchestrator/contract.yaml
  src/omniintelligence/nodes/node_intelligence_reducer/contract.yaml
  src/omniintelligence/nodes/node_intent_classifier_compute/models/model_intent_classified_event.py
  src/omniintelligence/nodes/node_intent_classifier_compute/models/model_typed_intent.py
  src/omniintelligence/nodes/node_intent_cost_forecast_compute/handlers/handler_cost_forecast.py
  src/omniintelligence/nodes/node_intent_drift_detect_compute/contract.yaml
  src/omniintelligence/nodes/node_intent_drift_detect_compute/models/model_intent_drift.py
  src/omniintelligence/nodes/node_intent_drift_detect_compute/node.py
  src/omniintelligence/nodes/node_pattern_projection_effect/contract.yaml
  src/omniintelligence/nodes/node_routing_feedback_effect/contract.yaml
  src/omniintelligence/topics.py
  tests/unit/nodes/node_intent_classifier_compute/test_typed_classification.py
  tests/unit/test_intent_topics.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(bloom-eval): OMN-4023 — implement contract hard validators
  src/omniintelligence/nodes/node_contract_eval_compute/__init__.py
  src/omniintelligence/nodes/node_contract_eval_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_contract_eval_compute/handlers/validators.py
  tests/unit/nodes/node_contract_eval_compute/__init__.py
  tests/unit/nodes/node_contract_eval_compute/test_validators.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(bloom-eval): OMN-4022 — implement ScenarioGenerator handler + NodeBehaviorScenarioGeneratorCompute
  src/omniintelligence/nodes/node_behavior_scenario_generator_compute/__init__.py
  src/omniintelligence/nodes/node_behavior_scenario_generator_compute/contract.yaml
  src/omniintelligence/nodes/node_behavior_scenario_generator_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_behavior_scenario_generator_compute/handlers/handler_scenario_generator.py
  src/omniintelligence/nodes/node_behavior_scenario_generator_compute/node.py
  tests/nodes/__init__.py
  tests/nodes/node_behavior_scenario_generator_compute/__init__.py
  tests/nodes/node_behavior_scenario_generator_compute/test_handlers.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(bloom-eval): OMN-4026 — implement NodeMemoryEvalCompute
  src/omniintelligence/nodes/node_memory_eval_compute/__init__.py
  src/omniintelligence/nodes/node_memory_eval_compute/contract.yaml
  src/omniintelligence/nodes/node_memory_eval_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_memory_eval_compute/handlers/handler_memory_evaluation.py
  src/omniintelligence/nodes/node_memory_eval_compute/models/__init__.py
  src/omniintelligence/nodes/node_memory_eval_compute/models/model_memory_eval_input.py
  src/omniintelligence/nodes/node_memory_eval_compute/node.py
  tests/nodes/node_memory_eval_compute/__init__.py
  tests/nodes/node_memory_eval_compute/test_handlers.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

OMN-4025: implement NodeAgentBehaviorEvalCompute
  src/omniintelligence/nodes/node_agent_behavior_eval_compute/__init__.py
  src/omniintelligence/nodes/node_agent_behavior_eval_compute/contract.yaml
  src/omniintelligence/nodes/node_agent_behavior_eval_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_agent_behavior_eval_compute/handlers/handler_agent_behavior_evaluation.py
  src/omniintelligence/nodes/node_agent_behavior_eval_compute/node.py
  tests/nodes/node_agent_behavior_eval_compute/__init__.py
  tests/nodes/node_agent_behavior_eval_compute/test_handlers.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(bloom_eval_cli): add bloom_eval_cli entry point [OMN-4029]
  src/omniintelligence/bloom_eval_cli/__init__.py
  src/omniintelligence/bloom_eval_cli/__main__.py
  tests/unit/bloom_eval/test_cli.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

OMN-4028: Register eval Kafka topics and wire NodeBloomEvalOrchestrator into PluginIntelligence
  src/omniintelligence/constants.py
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/contract.yaml
  src/omniintelligence/runtime/contract_topics.py
  tests/unit/bloom_eval/test_topic_registration.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat(bloom-eval): OMN-4022 — ScenarioGenerator handler + NodeBehaviorScenarioGeneratorCompute (#330)
  src/omniintelligence/nodes/node_behavior_scenario_generator_compute/__init__.py
  src/omniintelligence/nodes/node_behavior_scenario_generator_compute/contract.yaml
  src/omniintelligence/nodes/node_behavior_scenario_generator_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_behavior_scenario_generator_compute/handlers/handler_scenario_generator.py
  src/omniintelligence/nodes/node_behavior_scenario_generator_compute/node.py
  tests/nodes/__init__.py
  tests/nodes/node_behavior_scenario_generator_compute/__init__.py
  tests/nodes/node_behavior_scenario_generator_compute/test_handlers.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

OMN-4053: wire contract validation gate into omniintelligence CI
  .github/workflows/contract-validation.yml
Due: none

fix: reformat contract.yaml description to satisfy yamlfmt hook [OMN-4028]
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/contract.yaml
Due: none

chore: fix yamlfmt formatting in contract.yaml [OMN-4026]
  src/omniintelligence/nodes/node_memory_eval_compute/contract.yaml
Due: none

fix(OMN-4025): add input_model and output_model to contract.yaml
  src/omniintelligence/nodes/node_agent_behavior_eval_compute/contract.yaml
Due: none

fix(bloom-eval): address CI and review findings for NodeContractEvalCompute [OMN-4024]
  src/omniintelligence/nodes/node_contract_eval_compute/contract.yaml
  src/omniintelligence/nodes/node_contract_eval_compute/handlers/handler_contract_eval.py
  tests/nodes/node_contract_eval_compute/test_handlers.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(bloom-eval): OMN-4024 — implement contract LLM judge + NodeContractEvalCompute
  src/omniintelligence/nodes/node_contract_eval_compute/__init__.py
  src/omniintelligence/nodes/node_contract_eval_compute/contract.yaml
  src/omniintelligence/nodes/node_contract_eval_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_contract_eval_compute/handlers/handler_contract_eval.py
  src/omniintelligence/nodes/node_contract_eval_compute/node.py
  tests/nodes/node_contract_eval_compute/__init__.py
  tests/nodes/node_contract_eval_compute/test_handlers.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

OMN-4027: Build NodeBloomEvalEffect + Kafka topics
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/handlers/__init__.py
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/handlers/handler_bloom_eval_effect.py
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/node.py
  tests/nodes/node_bloom_eval_orchestrator/__init__.py
  tests/nodes/node_bloom_eval_orchestrator/test_handler_bloom_eval_effect.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(bloom-eval): make Kafka producer optional, add fire-and-forget publish [OMN-4027]
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/handlers/handler_bloom_eval_effect.py
  tests/nodes/node_bloom_eval_orchestrator/test_handler_bloom_eval_effect.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

OMN-4027: Build NodeBloomEvalEffect + Kafka topics (#335)
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/handlers/__init__.py
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/handlers/handler_bloom_eval_effect.py
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/node.py
  tests/nodes/node_bloom_eval_orchestrator/__init__.py
  tests/nodes/node_bloom_eval_orchestrator/test_handler_bloom_eval_effect.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(ci): remove broken validate-string-versions external hook
  .pre-commit-config.yaml
Due: none

fix(contracts): add missing input_model and output_model to debug intelligence contracts
  src/omniintelligence/nodes/node_ci_failure_tracker_effect/contract.yaml
  src/omniintelligence/nodes/node_debug_fix_record_effect/contract.yaml
Due: none

feat(intelligence): remove consul references (OMN-3998)
  src/omniintelligence/nodes/node_gmail_intent_evaluator_effect/handlers/handler_gmail_intent_evaluate.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(ci): skip contract validation on merge-queue branch names (OMN-4308)
  .github/workflows/contract-validation.yml
Due: none

fix(ci): skip contract validation on merge-queue branch names (OMN-4308) (#340)
  .github/workflows/contract-validation.yml
Due: none

fix(deps): bump omnibase-infra from 0.16.0 to 0.16.1
  pyproject.toml
  uv.lock
Due: none

fix(deps): bump omnibase-infra from 0.16.0 to 0.16.1 (#341)
  pyproject.toml
  uv.lock
Due: none

feat(migrations): add Dockerfile.migrate and CI workflow for omniintelligence-migrate ECR image
  .github/workflows/build-and-push-migrate-image.yml
  deployment/docker/Dockerfile.migrate
Due: none

release: omniintelligence v0.11.0
  pyproject.toml
  uv.lock
Due: none

chore(hooks): add remote stub detection hook; annotate deferred stubs with stub-ok (OMN-4473)
  .pre-commit-config.yaml
  scripts/generate_node_report.py
  src/omniintelligence/nodes/node_evidence_collection_effect/handlers/handler_evidence_collection.py
  src/omniintelligence/nodes/node_objective_ab_framework_compute/handlers/handler_ab_framework.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_core_models.py
  src/omniintelligence/nodes/node_quality_scoring_compute/handlers/handler_quality_scoring.py
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/codemod/generator.py
  src/omniintelligence/runtime/stub_launcher.py
  src/omniintelligence/tools/stubs/contract_validator.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

fix(hooks): add pragma allowlist secret to pre-commit-config rev SHA
  .pre-commit-config.yaml
Due: none

release: omniintelligence v0.12.0
  pyproject.toml
  uv.lock
Due: none

chore(deps): bump omnibase_infra to 0.17.0 (#346)
  uv.lock
Due: none

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

