Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$


chore(salvage): recover canary corpus ingestion script from 2026-05-23 canonical cutover
  scripts/ingest_canary_corpus.py
Due: check-ai-slop

ci(OMN-12477): remove hotfix/* bypass from main-target-guard (#694)
  .github/workflows/main-target-guard.yml
Due: none

chore(deps): update omnibase-core requirement (#698)
  pyproject.toml
Due: none

fix(deps): refresh aiohttp lock and stabilize baseline tests
  src/omniintelligence/models/events/model_llm_call_completed_event.py
  src/omniintelligence/nodes/node_routing_feedback_effect/contract.yaml
  src/omniintelligence/review_pairing/adapters/adapter_mypy.py
  uv.lock
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(deps): refresh aiohttp lock and stabilize baseline tests (#699)
  src/omniintelligence/models/events/model_llm_call_completed_event.py
  src/omniintelligence/nodes/node_routing_feedback_effect/contract.yaml
  src/omniintelligence/review_pairing/adapters/adapter_mypy.py
  uv.lock
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix: keep starlette dependency PR green
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_code_entity.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_code_relationship.py
  src/omniintelligence/runtime/dispatch_handler_code_crawl.py
  src/omniintelligence/runtime/dispatch_handler_code_embed_graph.py
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/rl/test_routing_pipeline.py
  tests/unit/runtime/test_dispatch_handler_code_persist.py
  tests/unit/runtime/test_dispatch_handler_orchestrator.py
  tests/unit/runtime/test_pattern_stored_triggers_projection.py
  tests/unit/test_contract_handler_imports.py
  tests/unit/test_contract_topic_sync.py
  tests/unit/test_contract_validation.py
  tests/unit/test_dispatch_parity.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

ci(OMN-12825): wire receipt-honesty gate (queue-safe ratchet)
  .github/workflows/receipt-honesty.yml
Due: none

chore(deps): update omnibase-core requirement (#703)
  pyproject.toml
Due: none

ci(OMN-12825): wire receipt-honesty gate (queue-safe ratchet) (#702)
  .github/workflows/receipt-honesty.yml
Due: none

docs(OMN-12991): add June 11 SEA proof guide
  docs/INDEX.md
  docs/guides/JUNE_11_HACKATHON_SEA_PROOF.md
Due: check-ai-slop

chore(deps): bump the actions group with 2 updates (#706)
  .github/workflows/receipt-honesty.yml
Due: none

docs(OMN-13180): refresh omniintelligence documentation
  AGENT.md
  CLAUDE.md
  README.md
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
  docs/reference/EVENT_SURFACE.md
  docs/reference/NODE_INVENTORY.md
Due: check-ai-slop

docs(OMN-13180): refresh omniintelligence documentation (#711)
  AGENT.md
  CLAUDE.md
  README.md
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
  docs/reference/EVENT_SURFACE.md
  docs/reference/NODE_INVENTORY.md
Due: check-ai-slop

fix(OMN-13187): route unreachable model fallback to codex
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/model_registry.yaml
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer_fallback.py
  tests/unit/review_pairing/test_cli_review.py
  tests/unit/review_pairing/test_model_registry_loader.py
  tests/unit/rl/test_export.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

test(OMN-13187): stabilize default review model test
  tests/unit/review_pairing/test_cli_review.py
Due: check-ai-slop

chore(OMN-13187): refresh omniintelligence dependencies (#712)
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/model_registry.yaml
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer_fallback.py
  tests/unit/review_pairing/test_cli_review.py
  tests/unit/review_pairing/test_model_registry_loader.py
  tests/unit/rl/test_export.py
  uv.lock
Due: mypy-type-check, onex-validate-naming, check-ai-slop

chore(OMN-13187): bump pyjwt in omniintelligence
  uv.lock
Due: none

chore(OMN-13187): bump pyjwt in omniintelligence (#714)
  uv.lock
Due: none

docs(OMN-13198): retarget ModelOnexEnvelope docstring ref to ModelEventEnvelope
  src/omniintelligence/runtime/model_event_bus_config.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

docs(OMN-13198): retarget ModelOnexEnvelope docstring ref to ModelEventEnvelope (#715)
  src/omniintelligence/runtime/model_event_bus_config.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix: split intelligence subscription startup
  src/omniintelligence/runtime/plugin.py
  tests/unit/runtime/test_plugin_dispatch.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix: split intelligence subscription startup (#716)
  src/omniintelligence/runtime/plugin.py
  tests/unit/runtime/test_plugin_dispatch.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat(OMN-13297): wire runtime-profiles gate into omniintelligence
  .github/workflows/validator-runtime-profiles.yml
  .pre-commit-config.yaml
  scripts/ci/run_runtime_profiles_validator.py
  validation/runtime_profiles_allowlist.yaml
Due: check-ai-slop

feat(OMN-13298): wire url-authority gate (pre-commit + CI)
  .github/workflows/url-authority-gate.yml
  .pre-commit-config.yaml
Due: none

fix(OMN-13298): pin url authority validator source
  .github/workflows/url-authority-gate.yml
  .pre-commit-config.yaml
Due: none

fix(OMN-13298): run pinned url authority validator in CI
  .github/workflows/url-authority-gate.yml
Due: none

feat(OMN-13298): wire url-authority gate (pre-commit + CI) (#719)
  .github/workflows/url-authority-gate.yml
  .pre-commit-config.yaml
Due: none

fix(OMN-13297): keep runtime profiles allowlist under scripts validation
  .github/workflows/validator-runtime-profiles.yml
  .pre-commit-config.yaml
  scripts/ci/run_runtime_profiles_validator.py
  scripts/validation/runtime_profiles_allowlist.yaml
  validation/runtime_profiles_allowlist.yaml
Due: check-ai-slop

fix(OMN-13296): place skip-token hooks in pre-commit repos
  .pre-commit-config.yaml
Due: none

fix(OMN-13296): move skip-token hook under validation scripts
  .pre-commit-config.yaml
  scripts/validation/reject_deploy_gate_skip_token.sh
Due: none

feat(OMN-13296): add reject-deploy-gate-skip-token pre-commit hook (#717)
  .pre-commit-config.yaml
  scripts/validation/reject_deploy_gate_skip_token.sh
Due: none

fix(OMN-13297): raise runtime profiles uv timeout
  .github/workflows/validator-runtime-profiles.yml
Due: none

feat(OMN-13297): wire runtime-profiles gate into omniintelligence (#718)
  .github/workflows/validator-runtime-profiles.yml
  .pre-commit-config.yaml
  scripts/ci/run_runtime_profiles_validator.py
  scripts/validation/runtime_profiles_allowlist.yaml
Due: check-ai-slop

feat(OMN-13249): wire canonical-inference gate (pre-commit + CI)
  .github/workflows/canonical-inference-gate.yml
  .pre-commit-config.yaml
Due: none

feat(OMN-13291): wire validate-validator-requirements fleet gate (omniintelligence)
  .github/workflows/validate-validator-requirements.yml
  .pre-commit-config.yaml
  architecture-handshakes/validator-requirements-baseline.yaml
  architecture-handshakes/validator-requirements.yaml
Due: none

feat(OMN-13283): consume core transport-import + node-purity hooks, delete local io-audit scanner
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/validate_no_transport_imports.py
  src/omniintelligence/audit/__init__.py
  src/omniintelligence/audit/__main__.py
  src/omniintelligence/audit/io_audit.py
  tests/audit/fixtures/io/__init__.py
  tests/audit/fixtures/io/bad_client.py
  tests/audit/fixtures/io/bad_env.py
  tests/audit/fixtures/io/bad_file.py
  tests/audit/fixtures/io/good_node.py
  tests/audit/fixtures/io/whitelisted_node.py
  tests/audit/io_audit_whitelist.yaml
  tests/audit/test_io_violations.py
  tests/unit/scripts/test_validate_no_transport_imports.py
Due: mypy-type-check, onex-validate-naming, io-audit, check-ai-slop

ci(OMN-13291): satisfy validator requirements hook formatting
  .pre-commit-config.yaml
  scripts/validation/validate_clean_root.py
Due: check-ai-slop
