Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$


fix(OMN-12174): Eliminate hardcoded paths in omniintelligence
  .pre-commit-config.yaml
  src/omniintelligence/nodes/node_context_item_writer_effect/node_tests/test_handler_context_item_writer.py
  src/omniintelligence/nodes/node_crawl_scheduler_effect/node_tests/conftest.py
  tests/unit/nodes/node_crawl_scheduler_effect/test_debounce_state.py
  tests/unit/nodes/node_crawl_scheduler_effect/test_handler_crawl_scheduler.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(OMN-12174): Eliminate hardcoded paths in omniintelligence (#677)
  .pre-commit-config.yaml
  src/omniintelligence/nodes/node_context_item_writer_effect/node_tests/test_handler_context_item_writer.py
  src/omniintelligence/nodes/node_crawl_scheduler_effect/node_tests/conftest.py
  tests/unit/nodes/node_crawl_scheduler_effect/test_debounce_state.py
  tests/unit/nodes/node_crawl_scheduler_effect/test_handler_crawl_scheduler.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

test(OMN-12179): add unit tests for handler_claude_event payload extractors and DLQ routing
  tests/unit/nodes/node_claude_hook_event_effect/test_payload_extractors.py
Due: check-ai-slop

test(OMN-12179): add unit tests for handler_claude_event payload extractors and DLQ routing (#678)
  tests/unit/nodes/node_claude_hook_event_effect/test_payload_extractors.py
Due: check-ai-slop

refactor(OMN-12185): Convert boundary @dataclass to Pydantic in omniintelligence
  .pre-commit-config.yaml
  src/omniintelligence/nodes/node_anti_gaming_alerter_effect/contract.yaml
  src/omniintelligence/nodes/node_intent_graph_reducer/contract.yaml
  src/omniintelligence/nodes/node_intent_graph_reducer/models/model_intent_graph_state.py
  src/omniintelligence/nodes/node_objective_ab_framework_compute/contract.yaml
  src/omniintelligence/nodes/node_tcb_generation_compute/contract.yaml
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

refactor(OMN-12185): Convert boundary @dataclass to Pydantic in omniintelligence (#679)
  .pre-commit-config.yaml
  src/omniintelligence/nodes/node_anti_gaming_alerter_effect/contract.yaml
  src/omniintelligence/nodes/node_intent_graph_reducer/contract.yaml
  src/omniintelligence/nodes/node_intent_graph_reducer/models/model_intent_graph_state.py
  src/omniintelligence/nodes/node_objective_ab_framework_compute/contract.yaml
  src/omniintelligence/nodes/node_tcb_generation_compute/contract.yaml
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(OMN-11577, OMN-11581): implement CiErrorClassifier + DebugRetrieval compute nodes (#673)
  src/omniintelligence/nodes/node_ci_error_classifier_compute/contract.yaml
  src/omniintelligence/nodes/node_ci_error_classifier_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_ci_error_classifier_compute/handlers/handler_classifier.py
  src/omniintelligence/nodes/node_ci_error_classifier_compute/node.py
  src/omniintelligence/nodes/node_debug_retrieval_compute/contract.yaml
  src/omniintelligence/nodes/node_debug_retrieval_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_debug_retrieval_compute/node.py
  tests/unit/nodes/node_ci_error_classifier_compute/handlers/test_handler_classifier.py
  tests/unit/nodes/node_debug_retrieval_compute/__init__.py
  tests/unit/nodes/node_debug_retrieval_compute/handlers/__init__.py
  tests/unit/nodes/node_debug_retrieval_compute/handlers/test_handler_retrieval.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

chore: release v0.24.0 — bump all dependency pins
  pyproject.toml
Due: none

evidence(OMN-12245): add release promotion receipts
  contracts/OMN-12245.yaml
  drift/dod_receipts/OMN-12245/dod-release-omnibase-compat-pr-112/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omnibase-core-pr-1168/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omnibase-infra-pr-1758/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omnibase-spi-pr-227/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omniclaude-pr-1674/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omnidash-pr-134/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omniintelligence-pr-680/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omnimarket-pr-922/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omnimemory-pr-336/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omninode-infra-pr-474/command.yaml
Due: none

evidence(OMN-12245): allowlist receipt commit shas
  drift/dod_receipts/OMN-12245/dod-release-omnibase-compat-pr-112/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omnibase-core-pr-1168/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omnibase-infra-pr-1758/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omnibase-spi-pr-227/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omniclaude-pr-1674/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omnidash-pr-134/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omniintelligence-pr-680/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omnimarket-pr-922/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omnimemory-pr-336/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omninode-infra-pr-474/command.yaml
Due: none

fix(OMN-12245): remove product-local release receipts
  drift/dod_receipts/OMN-12245/dod-release-omnibase-compat-pr-112/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omnibase-core-pr-1168/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omnibase-infra-pr-1758/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omnibase-spi-pr-227/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omniclaude-pr-1674/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omnidash-pr-134/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omniintelligence-pr-680/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omnimarket-pr-922/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omnimemory-pr-336/command.yaml
  drift/dod_receipts/OMN-12245/dod-release-omninode-infra-pr-474/command.yaml
Due: none

ci(OMN-12243): add main target guard (#683)
  .github/workflows/main-target-guard.yml
Due: none

feat(OMN-12280): wire dispatch_worker-completed bridge handlers in dispatch engine
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_dispatch_handlers.py
  tests/unit/runtime/test_plugin_dispatch.py
  tests/unit/runtime/test_projection_handler_registration.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat(OMN-12280): wire dispatch_worker-completed bridge handlers in dispatch engine (#684)
  pyproject.toml
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_dispatch_handlers.py
  tests/unit/runtime/test_plugin_dispatch.py
  tests/unit/runtime/test_projection_handler_registration.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(OMN-12280): lowercase verdict and fix ModelCostProvenance construction
  src/omniintelligence/runtime/dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(OMN-12280): lowercase verdict and fix ModelCostProvenance construction (#685)
  src/omniintelligence/runtime/dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(OMN-12245): refresh omniintelligence release locks
  contracts/OMN-12245.yaml
  pyproject.toml
  uv.lock
Due: none

fix(OMN-12245): allowlist release pin secret scan
  pyproject.toml
Due: none

fix(OMN-12250): restore RewardSignal contract schema and extend train CLI
  src/omniintelligence/rl/contracts/rewards.py
  src/omniintelligence/rl/train.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-12250): restore RewardSignal contract schema and extend train CLI (#686)
  src/omniintelligence/rl/contracts/rewards.py
  src/omniintelligence/rl/train.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

test(OMN-12250): use EnumUsageSource in GPU event test
  tests/unit/models/events/test_model_llm_call_completed_event.py
Due: check-ai-slop

test(OMN-12250): use EnumUsageSource in GPU event test (#688)
  tests/unit/models/events/test_model_llm_call_completed_event.py
Due: check-ai-slop

refactor(OMN-11584): restructure tools/ and clients/ to ONEX taxonomy
  src/omniintelligence/adapters/__init__.py
  src/omniintelligence/adapters/embedding_client.py
  src/omniintelligence/adapters/embedding_client_local_openai.py
  src/omniintelligence/adapters/eval_llm_client.py
  src/omniintelligence/adapters/gmail_intent_http_client.py
  src/omniintelligence/adapters/plan_reviewer_gemini_client.py
  src/omniintelligence/adapters/plan_reviewer_z_ai_client.py
  src/omniintelligence/adapters/utilization_llm_client.py
  src/omniintelligence/bloom_eval_cli/__main__.py
  src/omniintelligence/clients/__init__.py
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/handlers/handler_bloom_eval_effect.py
  src/omniintelligence/nodes/node_embedding_generation_effect/clients/__init__.py
  src/omniintelligence/nodes/node_embedding_generation_effect/handlers/handler_embedding_generate.py
  src/omniintelligence/nodes/node_embedding_generation_effect/node_tests/test_handler_embedding_generate.py
  src/omniintelligence/nodes/node_gmail_intent_evaluator_effect/handlers/handler_gmail_intent_evaluate.py
  src/omniintelligence/nodes/node_navigation_retriever_effect/handlers/_production_clients.py
  src/omniintelligence/runtime/dispatch_handlers.py
  src/omniintelligence/runtime/plugin.py
  src/omniintelligence/validators/README.md
  src/omniintelligence/validators/__init__.py
  src/omniintelligence/validators/contract_linter.py
  src/omniintelligence/validators/enum_contract_error_type.py
  src/omniintelligence/validators/model_contract_validation_error.py
  src/omniintelligence/validators/model_contract_validation_result.py
  src/omniintelligence/validators/stubs/__init__.py
  src/omniintelligence/validators/stubs/contract_validator.py
  tests/integration/test_llm_call_completed_e2e.py
  tests/integration/tools/test_contract_linter_integration.py
  tests/unit/bloom_eval/test_eval_llm_client.py
  tests/unit/clients/test_eval_llm_client_event_emission.py
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_plan_reviewer_gemini_client.py
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_plan_reviewer_z_ai_client.py
  tests/unit/runtime/test_plugin_dispatch.py
  tests/unit/tools/test_contract_linter_cli.py
  tests/unit/tools/test_contract_linter_contracts.py
  tests/unit/tools/test_contract_linter_helpers.py
  tests/unit/tools/test_contract_linter_models.py
  tests/unit/tools/test_contract_linter_redaction.py
  tests/unit/tools/test_contract_linter_validation.py
  tests/unit/tools/test_tools_import.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

refactor(OMN-11584): restructure tools/ and clients/ to ONEX taxonomy (#689)
  src/omniintelligence/adapters/__init__.py
  src/omniintelligence/adapters/embedding_client.py
  src/omniintelligence/adapters/embedding_client_local_openai.py
  src/omniintelligence/adapters/eval_llm_client.py
  src/omniintelligence/adapters/gmail_intent_http_client.py
  src/omniintelligence/adapters/plan_reviewer_gemini_client.py
  src/omniintelligence/adapters/plan_reviewer_z_ai_client.py
  src/omniintelligence/adapters/utilization_llm_client.py
  src/omniintelligence/bloom_eval_cli/__main__.py
  src/omniintelligence/clients/__init__.py
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/handlers/handler_bloom_eval_effect.py
  src/omniintelligence/nodes/node_embedding_generation_effect/clients/__init__.py
  src/omniintelligence/nodes/node_embedding_generation_effect/handlers/handler_embedding_generate.py
  src/omniintelligence/nodes/node_embedding_generation_effect/node_tests/test_handler_embedding_generate.py
  src/omniintelligence/nodes/node_gmail_intent_evaluator_effect/handlers/handler_gmail_intent_evaluate.py
  src/omniintelligence/nodes/node_navigation_retriever_effect/handlers/_production_clients.py
  src/omniintelligence/runtime/dispatch_handlers.py
  src/omniintelligence/runtime/plugin.py
  src/omniintelligence/validators/README.md
  src/omniintelligence/validators/__init__.py
  src/omniintelligence/validators/contract_linter.py
  src/omniintelligence/validators/enum_contract_error_type.py
  src/omniintelligence/validators/model_contract_validation_error.py
  src/omniintelligence/validators/model_contract_validation_result.py
  src/omniintelligence/validators/stubs/__init__.py
  src/omniintelligence/validators/stubs/contract_validator.py
  tests/integration/test_llm_call_completed_e2e.py
  tests/integration/tools/test_contract_linter_integration.py
  tests/unit/bloom_eval/test_eval_llm_client.py
  tests/unit/clients/test_eval_llm_client_event_emission.py
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_plan_reviewer_gemini_client.py
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_plan_reviewer_z_ai_client.py
  tests/unit/runtime/test_plugin_dispatch.py
  tests/unit/tools/test_contract_linter_cli.py
  tests/unit/tools/test_contract_linter_contracts.py
  tests/unit/tools/test_contract_linter_helpers.py
  tests/unit/tools/test_contract_linter_models.py
  tests/unit/tools/test_contract_linter_redaction.py
  tests/unit/tools/test_contract_linter_validation.py
  tests/unit/tools/test_tools_import.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

fix(OMN-11584): align dependency lock after taxonomy merge
  pyproject.toml
  tests/unit/tools/test_contract_linter_helpers.py
  uv.lock
Due: pytest-smoke, pytest-tools, check-ai-slop

fix(OMN-11584): align dependency lock after taxonomy merge (#690)
  pyproject.toml
  tests/unit/tools/test_contract_linter_helpers.py
  uv.lock
Due: pytest-smoke, pytest-tools, check-ai-slop

ci(OMN-11584): align CI with validators taxonomy
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

ci(OMN-11584): align CI with validators taxonomy (#691)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

chore(auto-ship): rescue uncommitted work from canonical omniintelligence
  training_manifest.yaml
Due: none

fix(OMN-7466): keep omniintelligence rescue scoped
  contracts/OMN-12245.yaml
  docs/CONTRACT_VALIDATION_GUIDE.md
  tests/audit/fixtures/README.md
  training_manifest.yaml
  uv.lock
Due: check-ai-slop

docs(OMN-7466): satisfy strict README diff gate
  tests/audit/fixtures/README.md
Due: check-ai-slop

ci(OMN-7466): rescue omniintelligence main target guard (#693)
  .github/workflows/main-target-guard.yml
  docs/CONTRACT_VALIDATION_GUIDE.md
  tests/audit/fixtures/README.md
Due: check-ai-slop

ci(OMN-12477): remove hotfix/* bypass from main-target-guard
  .github/workflows/main-target-guard.yml
Due: none
