Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

mypy-type-check:
  name: mypy (type checking)
  entry: uv run mypy --ignore-missing-imports --incremental
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-naming:
  name: onex-validate-naming
  entry: python scripts/validation/validate_naming.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

io-audit:
  name: io-audit (ONEX purity)
  entry: uv run python -m omniintelligence.audit.io_audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-transport-imports:
  name: validate-no-transport-imports (ARCH-002)
  entry: uv run python scripts/validate_no_transport_imports.py --exclude src/omniintelligence/runtime --exclude src/omniintelligence/api --exclude src/omniintelligence/clients
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: pytest (smoke tests)
  entry: uv run pytest tests/unit/tools/ -m unit --maxfail=3 -x --tb=short -q
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-tools:
  name: pytest (tools/utils/runtime - full)
  entry: uv run pytest tests/unit/tools/ tests/unit/test_log_sanitizer.py -v --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-ai-slop:
  name: Check for AI-slop patterns
  language: system
  entry: uv run python scripts/validation/check_ai_slop.py
  pass_filenames: true
  stages:
  - pre-commit

chore(deps, OMN-13902): refresh omninode sibling locks [bot]
  uv.lock
Due: none

fix(OMN-17427): rename gpt-oss-review registry key to local-studio-planner
  config/hardcoded_model_config_baseline.yaml
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/retry_budget.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
  tests/unit/review_pairing/test_gpt_oss_reviewer_registered_omn17492.py
  tests/unit/review_pairing/test_model_registry_loader.py
  tests/unit/review_pairing/test_no_hardcoded_model_id.py
  tests/unit/review_pairing/test_quorum_distinct_reviewers_omn17492.py
  tests/unit/review_pairing/test_resolution_failure_degrades.py
  tests/unit/review_pairing/test_retry_budget.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-17427): rename gpt-oss-review registry key to local-studio-planner (#1014)
  config/hardcoded_model_config_baseline.yaml
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/retry_budget.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
  tests/unit/review_pairing/test_gpt_oss_reviewer_registered_omn17492.py
  tests/unit/review_pairing/test_model_registry_loader.py
  tests/unit/review_pairing/test_no_hardcoded_model_id.py
  tests/unit/review_pairing/test_quorum_distinct_reviewers_omn17492.py
  tests/unit/review_pairing/test_resolution_failure_degrades.py
  tests/unit/review_pairing/test_retry_budget.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-20422): replace --full-auto with accepted codex-cli flags
  src/omniintelligence/review_pairing/adapters/adapter_codex_reviewer.py
  tests/unit/review_pairing/adapters/test_adapter_codex_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-20422): replace --full-auto with accepted codex-cli flags (#1015)
  src/omniintelligence/review_pairing/adapters/adapter_codex_reviewer.py
  tests/unit/review_pairing/adapters/test_adapter_codex_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-20422): unparseable reviewer reply is a failed vote
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/adapters/adapter_codex_reviewer.py
  src/omniintelligence/review_pairing/models_external_review.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
  tests/unit/review_pairing/adapters/test_adapter_codex_reviewer.py
  tests/unit/review_pairing/test_unparseable_reply_fails_omn20422.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-20422): constrain findings schema for local-studio-planner
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/models_external_review.py
  src/omniintelligence/review_pairing/prompts/adversarial_reviewer.py
  tests/unit/review_pairing/test_unparseable_reply_fails_omn20422.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

test(OMN-20422): update extra_body assertion for response_format
  tests/unit/review_pairing/test_gpt_oss_reviewer_registered_omn17492.py
Due: check-ai-slop

fix(OMN-20422): an unparseable reviewer reply is a failed vote, not a clean one (#1016)
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/adapters/adapter_codex_reviewer.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/models_external_review.py
  src/omniintelligence/review_pairing/prompts/adversarial_reviewer.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
  tests/unit/review_pairing/adapters/test_adapter_codex_reviewer.py
  tests/unit/review_pairing/test_gpt_oss_reviewer_registered_omn17492.py
  tests/unit/review_pairing/test_unparseable_reply_fails_omn20422.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-20422): a reviewer finding that says there is no defect is dropped and recorded
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/adapters/adapter_codex_reviewer.py
  src/omniintelligence/review_pairing/cli_review.py
  src/omniintelligence/review_pairing/models_external_review.py
  src/omniintelligence/review_pairing/prompts/adversarial_reviewer.py
  tests/unit/review_pairing/fixtures/reviewer_replies_omn20422.json
  tests/unit/review_pairing/prompts/test_adversarial_reviewer.py
  tests/unit/review_pairing/test_self_negating_findings_omn20422.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-20422): a reviewer finding that says there is no defect is dropped and recorded (#1020)
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/adapters/adapter_codex_reviewer.py
  src/omniintelligence/review_pairing/cli_review.py
  src/omniintelligence/review_pairing/models_external_review.py
  src/omniintelligence/review_pairing/prompts/adversarial_reviewer.py
  tests/unit/review_pairing/fixtures/reviewer_replies_omn20422.json
  tests/unit/review_pairing/prompts/test_adversarial_reviewer.py
  tests/unit/review_pairing/test_self_negating_findings_omn20422.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

test(OMN-20784): failing tests for gated review standing rules
  tests/unit/review_pairing/test_standing_rules_omn20784.py
Due: check-ai-slop

test(OMN-20783): add public-repo-hygiene enforce tests
  tests/unit/scripts/test_public_repo_hygiene_enforce_omn20783.py
Due: check-ai-slop

feat(OMN-20784): a gated review runs with the reviewed repository's standing rules or not at all
  CLAUDE.md
  src/omniintelligence/handlers/handler_review_standing_rules.py
  src/omniintelligence/models/review/__init__.py
  src/omniintelligence/models/review/model_review_standing_rule.py
  src/omniintelligence/models/review/model_review_standing_rules.py
  src/omniintelligence/models/review/model_standing_rule_weakening.py
  src/omniintelligence/models/review/model_standing_rules_record.py
  src/omniintelligence/models/review/model_standing_rules_request.py
  src/omniintelligence/models/review/model_standing_rules_result.py
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/adapters/adapter_codex_reviewer.py
  src/omniintelligence/review_pairing/cli_review.py
  src/omniintelligence/review_pairing/models.py
  src/omniintelligence/review_pairing/models_external_review.py
  src/omniintelligence/review_pairing/prompts/adversarial_reviewer.py
  src/omniintelligence/review_pairing/quorum.py
  tests/unit/review_pairing/test_standing_rules_omn20784.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

test(OMN-20784): the adversarial prompt version is 1.4.0
  tests/unit/review_pairing/prompts/test_adversarial_reviewer.py
Due: check-ai-slop

ci(OMN-20783): add enforce_scope and enforce_classes to hygiene config
  .github/workflows/ci.yml
  .github/workflows/public-repo-hygiene.yml
  .pre-commit-config.yaml
  .public-repo-hygiene.yaml
Due: none

test(OMN-20783): scratch probe, one planted lab-config literal (do not merge)
  docs/hygiene_probe_omn20783.txt
Due: none

test(OMN-20783): add test for vocabulary checkouts staying out of root
  tests/unit/scripts/test_public_repo_hygiene_enforce_omn20783.py
Due: check-ai-slop

ci(OMN-20783): move vocabulary checkouts to tmp in ci.yml
  .github/workflows/ci.yml
Due: none

test(OMN-20783): Add CI hygiene enforcement tests
  tests/ci/test_public_repo_hygiene_enforcement.py
Due: check-ai-slop

ci(OMN-20783): add public-repo-hygiene enforcement and pin omniclaude
  .github/workflows/ci.yml
  .github/workflows/public-repo-hygiene.yml
  .pre-commit-config.yaml
  .public-repo-hygiene.yaml
Due: none

ci(OMN-20783): omniintelligence enforces the five hygiene classes on added lines (#1023)
  .github/workflows/ci.yml
  .github/workflows/public-repo-hygiene.yml
  .pre-commit-config.yaml
  .public-repo-hygiene.yaml
  tests/unit/scripts/test_public_repo_hygiene_enforce_omn20783.py
Due: check-ai-slop

chore(OMN-20837): omniintelligence names the renamed public repository knowledge_base
  CLAUDE.md
  README.md
  pyproject.toml
Due: check-ai-slop

chore(OMN-20837): omniintelligence names the renamed public repository knowledge_base (#1026)
  CLAUDE.md
  README.md
  pyproject.toml
Due: check-ai-slop

ci(OMN-20074): add repo-evidence caller workflow and contract
  .github/workflows/call-repo-evidence-gate.yml
  contracts/OMN-20074.yaml
  tests/ci/test_repo_evidence_caller_omn20074.py
Due: check-ai-slop

ci(OMN-20074): add repo-evidence caller workflow and contract (#1030)
  .github/workflows/call-repo-evidence-gate.yml
  contracts/OMN-20074.yaml
  tests/ci/test_repo_evidence_caller_omn20074.py
Due: check-ai-slop

chore(deps, OMN-13902): refresh sibling lock after dev rebase
  uv.lock
Due: none

ci(OMN-20032): pin omnibase_core#1932; reusable carries VERIFIER_FLOOR
  .github/workflows/call-repo-evidence-gate.yml
  contracts/OMN-20032.yaml
  tests/ci/test_repo_evidence_caller_omn20074.py
  tests/ci/test_repo_evidence_caller_verifier_floor_omn20032.py
Due: check-ai-slop

ci(OMN-20074): source no-hardcoded-topics and no-untracked-todos from omnibase_core instead of onex_change_control
  .pre-commit-config.yaml
  contracts/OMN-20074.yaml
  tests/ci/test_precommit_hooks_core_omn20074.py
  tests/ci/test_todo_format_replay_omn20074.py
Due: check-ai-slop

fix(ci): pin binding-aware contract validation for OMN-20032
  .github/workflows/contract-validation.yml
Due: none

ci(OMN-20074): compare hook excludes byte-for-byte instead of sha256
  tests/ci/test_precommit_hooks_core_omn20074.py
Due: check-ai-slop

fix(ci): check out contract validators at the explicit pin
  .github/workflows/contract-validation.yml
  tests/ci/test_contract_validation_workflow.py
Due: check-ai-slop

ci(OMN-20074): source no-hardcoded-topics and no-untracked-todos from omnibase_core instead of onex_change_control (#1032)
  .pre-commit-config.yaml
  contracts/OMN-20074.yaml
  tests/ci/test_precommit_hooks_core_omn20074.py
  tests/ci/test_todo_format_replay_omn20074.py
Due: check-ai-slop

ci(OMN-20032): re-pin repo-evidence caller to the receipt-gate that carries the verifier floor (#1031)
  .github/workflows/call-repo-evidence-gate.yml
  .github/workflows/contract-validation.yml
  contracts/OMN-20032.yaml
  tests/ci/test_contract_validation_workflow.py
  tests/ci/test_repo_evidence_caller_omn20074.py
  tests/ci/test_repo_evidence_caller_verifier_floor_omn20032.py
Due: check-ai-slop

ci(OMN-20074): bind dod_evidence items to acceptance criteria AC1-AC7
  contracts/OMN-20074.yaml
  tests/ci/test_repo_evidence_caller_omn20074.py
Due: check-ai-slop

ci(OMN-20074): bind dod_evidence items to acceptance criteria AC1-AC7 (#1035)
  contracts/OMN-20074.yaml
  tests/ci/test_repo_evidence_caller_omn20074.py
Due: check-ai-slop

ci(OMN-20074): run the handler contract compliance check from omnibase_core instead of onex_change_control
  .github/workflows/omni-standards-compliance.yml
  contracts/OMN-20074.yaml
  tests/ci/test_arch_handler_compliance_core_omn20074.py
Due: check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

