Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-smoke, pytest-tools

Path conditions:
  pytest-smoke: any of: ^(src/omniintelligence/(tools|utils|runtime)/|tests/unit/).*\.py$ and \.py$ and not ((?x)^(
  # Legacy code preserved for migration reference - do not lint
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - reference only
  migration_sources/.*|
  # Git internals
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Legacy code preserved for migration reference - do not lint
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - reference only
  migration_sources/.*|
  # Git internals
  \.git/.*
)$
)

fix(OMN-433): Add CI workflow permissions for paths-filter action
  .github/workflows/ci.yaml
Due: none

fix(OMN-433): Address PR #6 review feedback - harmonize exclusions and expand pytest scope
  .pre-commit-config.yaml
  .yamlfmt
Due: none

fix(OMN-433): Address additional PR review feedback
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix(OMN-433): Address PR #6 review - add mypy cache and pytest unit marker
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Due: none

docs(OMN-433): Add hook profiling, sync validation, and documentation improvements
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  .yamlfmt
  pyproject.toml
  scripts/validate_ci_precommit_alignment.py
Due: none

fix(OMN-433): Address PR #6 release-ready review - regex fix and documentation
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/validate_ci_precommit_alignment.py
  uv.lock
Due: none

feat(OMN-433): Add mypy cache validation, version docs, and CI profiling
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  scripts/validate_ci_precommit_alignment.py
Due: none

refactor(OMN-433): Add defensive validation and robustness improvements
  .github/workflows/ci.yaml
  scripts/validate_ci_precommit_alignment.py
  tests/unit/utils/__init__.py
Due: pytest-smoke

docs(OMN-433): Address PR #6 release-ready review - comprehensive documentation
  .pre-commit-config.yaml
  CLAUDE.md
  pyproject.toml
  uv.lock
Due: none

feat(OMN-433): Align pre-commit config with omnibase_core patterns (#6)
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  .yamlfmt
  CLAUDE.md
  OMNIARCHON_MIGRATION_INVENTORY.md
  deployment/docker/docker-compose.nodes.yml
  deployment/docker/docker-compose.yml
  docs/migrations/omniarchon_to_omniintelligence.md
  pyproject.toml
  scripts/validate_ci_precommit_alignment.py
  src/omniintelligence/runtime/contracts/runtime_config.yaml
  src/omniintelligence/runtime/runtime_config.py
  tests/unit/utils/__init__.py
  uv.lock
Due: pytest-smoke

docs(OMN-456): Add ONEX naming conventions documentation
  CLAUDE.md
  docs/conventions/NAMING_CONVENTIONS.md
Due: none

refactor(OMN-456): Apply ONEX naming conventions to models and tools
  src/omniintelligence/_legacy/models/model_intelligence_adapter_events.py
  src/omniintelligence/_legacy/models/model_intelligence_api_contracts.py
  src/omniintelligence/_legacy/models/model_intelligence_config.py
  src/omniintelligence/_legacy/models/model_intelligence_output.py
  src/omniintelligence/_legacy/models/model_orchestrator.py
  src/omniintelligence/_legacy/models/model_reducer.py
  src/omniintelligence/_legacy/models/model_workflow.py
  src/omniintelligence/runtime/__init__.py
  src/omniintelligence/runtime/model_runtime_config.py
  src/omniintelligence/tools/__init__.py
  src/omniintelligence/tools/contract_linter.py
Due: pytest-smoke, pytest-tools

docs(OMN-456): Add deprecation timeline and backward compatibility tests
  docs/CONTRACT_MIGRATION_GUIDE.md
  src/omniintelligence/_legacy/models/model_intelligence_config.py
  tests/unit/test_backward_compatibility.py
Due: pytest-smoke

refactor(OMN-456): Apply ONEX naming conventions and improve type safety
  docs/CONTRACT_MIGRATION_GUIDE.md
  src/omniintelligence/tools/contract_linter.py
  tests/unit/test_backward_compatibility.py
  tests/unit/test_model_config_validation.py
  tests/unit/tools/test_contract_linter_helpers.py
  tests/unit/tools/test_contract_linter_models.py
  tests/unit/tools/test_contract_linter_validation.py
Due: pytest-smoke, pytest-tools

refactor(OMN-456): Remove unused type aliases from runtime module
  src/omniintelligence/runtime/__init__.py
  src/omniintelligence/runtime/model_runtime_config.py
Due: pytest-smoke

refactor(OMN-456): Remove _IntelligenceConfigDict TypedDict
  docs/CONTRACT_MIGRATION_GUIDE.md
  src/omniintelligence/_legacy/models/model_intelligence_config.py
  tests/unit/test_backward_compatibility.py
Due: pytest-smoke

refactor(OMN-456): Remove unused field aliases and deprecation timeline
  docs/CONTRACT_MIGRATION_GUIDE.md
  docs/conventions/NAMING_CONVENTIONS.md
  src/omniintelligence/_legacy/models/model_intelligence_config.py
  src/omniintelligence/_legacy/models/model_reducer.py
  src/omniintelligence/_legacy/nodes/intelligence_api_effect/v1_0_0/contracts/effect_contract.yaml
  src/omniintelligence/_legacy/nodes/intelligence_orchestrator/v1_0_0/contracts/subcontracts/processing.yaml
  src/omniintelligence/_legacy/nodes/intelligence_orchestrator/v1_0_0/contracts/workflows/document_ingestion.yaml
  src/omniintelligence/_legacy/nodes/intelligence_orchestrator/v1_0_0/contracts/workflows/pattern_learning.yaml
  src/omniintelligence/_legacy/nodes/intelligence_orchestrator/v1_0_0/contracts/workflows/quality_assessment.yaml
  src/omniintelligence/_legacy/nodes/intelligence_orchestrator/v1_0_0/contracts/workflows/relationship_detection.yaml
  src/omniintelligence/_legacy/nodes/intelligence_orchestrator/v1_0_0/contracts/workflows/semantic_analysis.yaml
  src/omniintelligence/_legacy/nodes/kafka_event_effect/v1_0_0/contracts/effect_contract.yaml
  src/omniintelligence/_legacy/nodes/memgraph_graph_effect/v1_0_0/contracts/effect_contract.yaml
  src/omniintelligence/_legacy/nodes/postgres_pattern_effect/v1_0_0/contracts/effect_contract.yaml
  src/omniintelligence/_legacy/nodes/qdrant_vector_effect/v1_0_0/contracts/effect_contract.yaml
  src/omniintelligence/runtime/contracts/runtime_config.yaml
  tests/unit/test_backward_compatibility.py
  tests/unit/test_model_config_validation.py
Due: pytest-smoke

refactor(OMN-456): Remove all backward compatibility code
  src/omniintelligence/tools/README.md
  src/omniintelligence/tools/__init__.py
  src/omniintelligence/tools/contract_linter.py
  tests/unit/test_backward_compatibility.py
  tests/unit/tools/test_contract_linter_cli.py
  tests/unit/tools/test_contract_linter_contracts.py
  tests/unit/tools/test_contract_linter_helpers.py
  tests/unit/tools/test_contract_linter_models.py
  tests/unit/tools/test_contract_linter_validation.py
Due: pytest-smoke, pytest-tools

fix(OMN-456): Apply ONEX naming conventions to contract linter output
  docs/CONTRACT_VALIDATION_GUIDE.md
  src/omniintelligence/tools/contract_linter.py
Due: pytest-smoke, pytest-tools

refactor(OMN-456): Remove dead code and extract magic numbers
  src/omniintelligence/tools/contract_linter.py
  tests/unit/tools/test_contract_linter_helpers.py
Due: pytest-smoke, pytest-tools

chore(OMN-456): Update TODO references to new Linear tickets
  src/omniintelligence/tools/contract_linter.py
Due: pytest-smoke, pytest-tools

feat(OMN-456): Add security hardening and logging to contract linter
  src/omniintelligence/tools/contract_linter.py
  tests/unit/tools/test_contract_linter_helpers.py
  tests/unit/tools/test_contract_linter_redaction.py
Due: pytest-smoke, pytest-tools

feat(OMN-325): Add I/O audit test for ONEX node purity enforcement
  pyproject.toml
  src/omniintelligence/audit/__init__.py
  src/omniintelligence/audit/io_audit.py
  tests/audit/__init__.py
  tests/audit/fixtures/__init__.py
  tests/audit/fixtures/io/__init__.py
  tests/audit/fixtures/io/bad_client.py
  tests/audit/fixtures/io/bad_env.py
  tests/audit/fixtures/io/bad_file.py
  tests/audit/fixtures/io/good_node.py
  tests/audit/fixtures/io/whitelisted_node.py
  tests/audit/io_audit_whitelist.yaml
  tests/audit/test_io_violations.py
Due: none

fix(OMN-325): Enhance I/O audit with security fixes and optimizations
  CLAUDE.md
  src/omniintelligence/audit/io_audit.py
  tests/audit/fixtures/io/bad_client.py
  tests/audit/fixtures/io/bad_env.py
  tests/audit/io_audit_whitelist.yaml
  tests/audit/test_io_violations.py
Due: none

feat(OMN-325): Address PR #8 review feedback for I/O audit
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  src/omniintelligence/audit/README.md
  src/omniintelligence/audit/__main__.py
  src/omniintelligence/audit/io_audit.py
  tests/audit/test_io_violations.py
Due: none

fix(OMN-325): Add whitelist validation and improve CLI output formatting
  src/omniintelligence/audit/__main__.py
  src/omniintelligence/audit/io_audit.py
  tests/audit/test_io_violations.py
Due: none

fix(OMN-325): Final PR #8 review fixes - error handling, docs, code quality
  src/omniintelligence/audit/__main__.py
  src/omniintelligence/audit/io_audit.py
  tests/audit/test_io_violations.py
Due: none

feat(OMN-325): Address all PR #8 review issues for I/O audit
  src/omniintelligence/audit/README.md
  src/omniintelligence/audit/__main__.py
  src/omniintelligence/audit/io_audit.py
  tests/audit/test_io_violations.py
Due: none

feat(OMN-325): Complete PR #8 release-ready fixes for I/O audit
  src/omniintelligence/audit/README.md
  src/omniintelligence/audit/io_audit.py
  tests/audit/fixtures/io/good_node.py
  tests/audit/test_io_violations.py
Due: none

docs(OMN-325): Add CLI exit codes and test fixtures README
  src/omniintelligence/audit/__main__.py
  tests/audit/fixtures/README.md
Due: none

feat(OMN-325): Add I/O audit test for ONEX node purity enforcement (#8)
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  CLAUDE.md
  pyproject.toml
  src/omniintelligence/audit/README.md
  src/omniintelligence/audit/__init__.py
  src/omniintelligence/audit/__main__.py
  src/omniintelligence/audit/io_audit.py
  tests/audit/__init__.py
  tests/audit/fixtures/README.md
  tests/audit/fixtures/__init__.py
  tests/audit/fixtures/io/__init__.py
  tests/audit/fixtures/io/bad_client.py
  tests/audit/fixtures/io/bad_env.py
  tests/audit/fixtures/io/bad_file.py
  tests/audit/fixtures/io/good_node.py
  tests/audit/fixtures/io/whitelisted_node.py
  tests/audit/io_audit_whitelist.yaml
  tests/audit/test_io_violations.py
Due: none

Revert "feat(OMN-325): Add I/O audit test for ONEX node purity enforcement (#8)"
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  CLAUDE.md
  pyproject.toml
  src/omniintelligence/audit/README.md
  src/omniintelligence/audit/__init__.py
  src/omniintelligence/audit/__main__.py
  src/omniintelligence/audit/io_audit.py
  tests/audit/__init__.py
  tests/audit/fixtures/README.md
  tests/audit/fixtures/__init__.py
  tests/audit/fixtures/io/__init__.py
  tests/audit/fixtures/io/bad_client.py
  tests/audit/fixtures/io/bad_env.py
  tests/audit/fixtures/io/bad_file.py
  tests/audit/fixtures/io/good_node.py
  tests/audit/fixtures/io/whitelisted_node.py
  tests/audit/io_audit_whitelist.yaml
  tests/audit/test_io_violations.py
Due: none

fix: address PR #10 review feedback and CI failures
  HANDOFF_ORCHESTRATOR_IMPLEMENTATION.md
  deployment/docker/README.md
  deployment/docker/docker-compose.nodes.yml
  pyproject.toml
  src/omniintelligence/_legacy/DEPRECATION.md
  src/omniintelligence/_legacy/__init__.py
  src/omniintelligence/_legacy/nodes/__init__.py
  src/omniintelligence/_legacy/nodes/entity_extraction_compute/README.md
  src/omniintelligence/_legacy/nodes/entity_extraction_compute/v1_0_0/compute.py
  src/omniintelligence/_legacy/nodes/intelligence_orchestrator/v1_0_0/contracts/subcontracts/processing.yaml
  src/omniintelligence/_legacy/nodes/intelligence_orchestrator/v1_0_0/contracts/workflows/quality_assessment.yaml
  src/omniintelligence/_legacy/nodes/quality_scoring_compute/v1_0_0/compute.py
  src/omniintelligence/_legacy/nodes/relationship_detection_compute/README.md
  src/omniintelligence/_legacy/nodes/relationship_detection_compute/v1_0_0/compute.py
  src/omniintelligence/models/MIGRATION.md
  src/omniintelligence/models/__init__.py
  src/omniintelligence/models/model_intelligence_input.py
  src/omniintelligence/models/model_intelligence_output.py
  src/omniintelligence/nodes/ingestion_effect/node.py
  src/omniintelligence/nodes/intelligence_adapter/ARCHITECTURE.md
  src/omniintelligence/nodes/intelligence_adapter/contract.yaml
  src/omniintelligence/nodes/intelligence_adapter/node_intelligence_adapter_effect.py
  src/omniintelligence/nodes/intelligence_api_effect/contract.yaml
  src/omniintelligence/nodes/memgraph_graph_effect/contract.yaml
  src/omniintelligence/nodes/pattern_learning_compute/node.py
  src/omniintelligence/nodes/postgres_pattern_effect/contract.yaml
  src/omniintelligence/nodes/qdrant_vector_effect/contract.yaml
  src/omniintelligence/nodes/quality_scoring_compute/contract.yaml
  src/omniintelligence/nodes/quality_scoring_compute/models/model_quality_scoring_input.py
  src/omniintelligence/nodes/vectorization_compute/models/model_vectorization_input.py
  tests/conftest.py
  tests/integration/test_orchestrator.py
  tests/integration/test_reducer_integration.py
  tests/unit/test_contract_validation.py
  tests/unit/test_event_publisher.py
  tests/unit/test_reducer.py
Due: pytest-smoke

fix: address PR #10 review feedback - formatting, ONEX tags, model validation
  src/omniintelligence/models/model_intelligence_output.py
  src/omniintelligence/nodes/context_keyword_extractor_compute/contract.yaml
  src/omniintelligence/nodes/entity_extraction_compute/contract.yaml
  src/omniintelligence/nodes/entity_extraction_compute/models/model_entity_extraction_input.py
  src/omniintelligence/nodes/execution_trace_parser_compute/contract.yaml
  src/omniintelligence/nodes/ingestion_effect/contract.yaml
  src/omniintelligence/nodes/intelligence_adapter/contract.yaml
  src/omniintelligence/nodes/intelligence_api_effect/contract.yaml
  src/omniintelligence/nodes/intelligence_orchestrator/contract.yaml
  src/omniintelligence/nodes/intelligence_reducer/contract.yaml
  src/omniintelligence/nodes/intent_classifier_compute/contract.yaml
  src/omniintelligence/nodes/intent_classifier_compute/models/model_intent_classification_output.py
  src/omniintelligence/nodes/memgraph_graph_effect/contract.yaml
  src/omniintelligence/nodes/pattern_assembler_orchestrator/contract.yaml
  src/omniintelligence/nodes/pattern_learning_compute/contract.yaml
  src/omniintelligence/nodes/pattern_matching_compute/contract.yaml
  src/omniintelligence/nodes/postgres_pattern_effect/contract.yaml
  src/omniintelligence/nodes/qdrant_vector_effect/contract.yaml
  src/omniintelligence/nodes/quality_scoring_compute/contract.yaml
  src/omniintelligence/nodes/quality_scoring_compute/models/model_quality_scoring_output.py
  src/omniintelligence/nodes/relationship_detection_compute/contract.yaml
  src/omniintelligence/nodes/semantic_analysis_compute/contract.yaml
  src/omniintelligence/nodes/semantic_analysis_compute/models/model_semantic_analysis_input.py
  src/omniintelligence/nodes/semantic_analysis_compute/models/model_semantic_analysis_output.py
  src/omniintelligence/nodes/success_criteria_matcher_compute/contract.yaml
  src/omniintelligence/nodes/vectorization_compute/contract.yaml
  src/omniintelligence/tools/contract_linter.py
Due: pytest-smoke, pytest-tools
