Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$


chore(OMN-6678): narrow intelligence dynamic types
  src/omniintelligence/model_selector/episode_emitter.py
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/handler_ast_extract.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_code_entity.py
  src/omniintelligence/nodes/node_evidence_collection_effect/handlers/handler_evidence_collection.py
  src/omniintelligence/nodes/node_memory_eval_compute/handlers/handler_memory_evaluation.py
  src/omniintelligence/nodes/node_memory_eval_compute/models/model_memory_eval_input.py
  src/omniintelligence/nodes/node_scoring_reducer_compute/models/model_evidence_bundle.py
  src/omniintelligence/nodes/node_storage_router_effect/handlers/handler_route_storage.py
  src/omniintelligence/nodes/node_storage_router_effect/models/model_storage_route_input.py
  src/omniintelligence/protocols/__init__.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

ci(OMN-11718): widen workflow triggers for dev and hotfix
  .github/workflows/ban-hardcoded-runner-ip.yml
  .github/workflows/build-and-push-migrate-image.yml
  .github/workflows/call-receipt-gate.yml
  .github/workflows/call-reject-skip.yml
  .github/workflows/check-handshake.yml
  .github/workflows/ci.yml
  .github/workflows/contract-validation.yml
  .github/workflows/docs-validate.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/security-scan.yml
  .github/workflows/stale-todo-gate.yml
  .github/workflows/todo-audit-on-merge.yml
Due: none

chore(OMN-6678): narrow intelligence dynamic types (#667)
  src/omniintelligence/model_selector/episode_emitter.py
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/handler_ast_extract.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_code_entity.py
  src/omniintelligence/nodes/node_evidence_collection_effect/handlers/handler_evidence_collection.py
  src/omniintelligence/nodes/node_memory_eval_compute/handlers/handler_memory_evaluation.py
  src/omniintelligence/nodes/node_memory_eval_compute/models/model_memory_eval_input.py
  src/omniintelligence/nodes/node_scoring_reducer_compute/models/model_evidence_bundle.py
  src/omniintelligence/nodes/node_storage_router_effect/handlers/handler_route_storage.py
  src/omniintelligence/nodes/node_storage_router_effect/models/model_storage_route_input.py
  src/omniintelligence/protocols/__init__.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

test(OMN-11621): cover ai slop validator [omniintelligence] (#665)
  tests/unit/scripts/test_check_ai_slop.py
Due: check-ai-slop

fix(OMN-11554): wire bloom eval runtime handler (#663)
  src/omniintelligence/runtime/dispatch_handlers.py
  src/omniintelligence/runtime/plugin.py
  tests/unit/runtime/test_dispatch_handlers.py
  tests/unit/runtime/test_plugin_dispatch.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(OMN-11561): delegate CI fingerprint dispatch to compute node (#662)
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_dispatch_handler_reducer_ci.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

ci(OMN-11718): widen workflow triggers for dev and hotfix (#668)
  .github/workflows/ban-hardcoded-runner-ip.yml
  .github/workflows/build-and-push-migrate-image.yml
  .github/workflows/call-receipt-gate.yml
  .github/workflows/call-reject-skip.yml
  .github/workflows/check-handshake.yml
  .github/workflows/ci.yml
  .github/workflows/contract-validation.yml
  .github/workflows/docs-validate.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/security-scan.yml
  .github/workflows/stale-todo-gate.yml
  .github/workflows/todo-audit-on-merge.yml
Due: none

fix(OMN-11568): route memory eval through compute node (#660)
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/handlers/handler_bloom_eval_effect.py
  tests/nodes/node_bloom_eval_orchestrator/test_handler_bloom_eval_effect.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(OMN-8161): wire pattern-scored.v1 producer in node_pattern_feedback_effect (#659)
  src/omniintelligence/constants.py
  src/omniintelligence/nodes/node_pattern_feedback_effect/contract.yaml
  src/omniintelligence/nodes/node_pattern_feedback_effect/handlers/handler_session_outcome.py
  tests/unit/nodes/node_pattern_feedback_effect/test_handler_session_outcome.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(OMN-11551): wire ContractEval compute into Bloom runtime (#664)
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/handlers/handler_bloom_eval_effect.py
  src/omniintelligence/nodes/node_contract_eval_compute/__init__.py
  src/omniintelligence/nodes/node_contract_eval_compute/contract.yaml
  src/omniintelligence/nodes/node_contract_eval_compute/models/__init__.py
  src/omniintelligence/nodes/node_contract_eval_compute/models/model_contract_eval_input.py
  src/omniintelligence/nodes/node_contract_eval_compute/node.py
  tests/integration/nodes/node_bloom_eval_orchestrator/test_golden_chain.py
  tests/nodes/node_bloom_eval_orchestrator/test_handler_bloom_eval_effect.py
  tests/nodes/node_contract_eval_compute/test_handlers.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(OMN-11565): wire debug store into CI tracker runtime (#661)
  src/omniintelligence/debug_intel/debug_store.repository.yaml
  src/omniintelligence/runtime/plugin.py
  tests/unit/runtime/test_plugin_dispatch.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

ci(OMN-11867): add imperative contract guard (#669)
  .github/workflows/imperative-contract-guard.yml
Due: none

feat(OMN-11936): derive cli_review default model from registry contract
  src/omniintelligence/review_pairing/cli_review.py
  tests/unit/review_pairing/test_registry_driven_defaults.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(OMN-11971): replace hardcoded model ID strings in tests with symbolic constants
  pyproject.toml
  tests/fixtures/model_constants.py
  tests/unit/models/events/test_model_llm_call_completed_event.py
  tests/unit/models/test_model_cost_projection_snapshots.py
  tests/unit/models/test_model_llm_call_completed_event.py
  tests/unit/models/test_model_savings_estimated_event.py
  tests/unit/nodes/node_pattern_feedback_effect/test_handler_dispatch_outcome.py
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_confidence_scorer.py
  tests/unit/review_pairing/test_calibration_persistence.py
  tests/unit/review_pairing/test_model_registry_loader.py
  tests/unit/runtime/test_handler_llm_cost_emitter.py
Due: check-ai-slop

test: standardize registry default adapter imports
  tests/unit/review_pairing/test_registry_driven_defaults.py
Due: check-ai-slop

test(OMN-11936): satisfy registry default import lint
  tests/unit/review_pairing/test_registry_driven_defaults.py
Due: check-ai-slop

feat(OMN-11936): derive cli_review default model from registry contract (#670)
  src/omniintelligence/review_pairing/cli_review.py
  tests/unit/review_pairing/test_registry_driven_defaults.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(OMN-11971): replace hardcoded model ID strings in omniintelligence tests with symbolic constants (#671)
  pyproject.toml
  tests/fixtures/model_constants.py
  tests/unit/models/events/test_model_llm_call_completed_event.py
  tests/unit/models/test_model_cost_projection_snapshots.py
  tests/unit/models/test_model_llm_call_completed_event.py
  tests/unit/models/test_model_savings_estimated_event.py
  tests/unit/nodes/node_pattern_feedback_effect/test_handler_dispatch_outcome.py
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_confidence_scorer.py
  tests/unit/review_pairing/test_calibration_persistence.py
  tests/unit/review_pairing/test_model_registry_loader.py
  tests/unit/runtime/test_handler_llm_cost_emitter.py
Due: check-ai-slop

feat(OMN-11577, OMN-11581): implement CiErrorClassifier + DebugRetrieval compute nodes
  src/omniintelligence/nodes/node_ci_error_classifier_compute/contract.yaml
  src/omniintelligence/nodes/node_ci_error_classifier_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_ci_error_classifier_compute/handlers/handler_classifier.py
  src/omniintelligence/nodes/node_ci_error_classifier_compute/node.py
  src/omniintelligence/nodes/node_debug_retrieval_compute/contract.yaml
  src/omniintelligence/nodes/node_debug_retrieval_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_debug_retrieval_compute/node.py
  tests/unit/nodes/node_ci_error_classifier_compute/handlers/test_handler_classifier.py
  tests/unit/nodes/node_debug_retrieval_compute/__init__.py
  tests/unit/nodes/node_debug_retrieval_compute/handlers/__init__.py
  tests/unit/nodes/node_debug_retrieval_compute/handlers/test_handler_retrieval.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(OMN-12165): Fix datetime.now() in omniintelligence handler
  src/omniintelligence/nodes/node_code_crawler_effect/handlers/handler_onextree_generator.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(OMN-12165): Fix datetime.now() in omniintelligence handler (#674)
  src/omniintelligence/nodes/node_code_crawler_effect/handlers/handler_onextree_generator.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(OMN-12167): Add contract.yaml for 4 omniintelligence nodes
  src/omniintelligence/nodes/node_anti_gaming_alerter_effect/contract.yaml
  src/omniintelligence/nodes/node_intent_graph_reducer/contract.yaml
  src/omniintelligence/nodes/node_objective_ab_framework_compute/contract.yaml
  src/omniintelligence/nodes/node_tcb_generation_compute/contract.yaml
Due: none

fix(OMN-12167): Add contract.yaml for 4 omniintelligence nodes (#675)
  src/omniintelligence/nodes/node_anti_gaming_alerter_effect/contract.yaml
  src/omniintelligence/nodes/node_intent_graph_reducer/contract.yaml
  src/omniintelligence/nodes/node_objective_ab_framework_compute/contract.yaml
  src/omniintelligence/nodes/node_tcb_generation_compute/contract.yaml
Due: none

chore(OMN-12169): Delete high-confidence dead code in omniintelligence
  src/omniintelligence/nodes/node_pattern_demotion_effect/introspection.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/protocols.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/introspection.py
  src/omniintelligence/nodes/node_pattern_storage_effect/introspection.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

chore(OMN-12169): Delete high-confidence dead code in omniintelligence (#676)
  src/omniintelligence/nodes/node_pattern_demotion_effect/introspection.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/protocols.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/introspection.py
  src/omniintelligence/nodes/node_pattern_storage_effect/introspection.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop
