Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

mypy-type-check:
  name: mypy (type checking)
  entry: uv run mypy --ignore-missing-imports --incremental
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-naming:
  name: onex-validate-naming
  entry: python scripts/validation/validate_naming.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

io-audit:
  name: io-audit (ONEX purity)
  entry: uv run python -m omniintelligence.audit.io_audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-transport-imports:
  name: validate-no-transport-imports (ARCH-002)
  entry: uv run python scripts/validate_no_transport_imports.py --exclude src/omniintelligence/runtime --exclude src/omniintelligence/api --exclude src/omniintelligence/clients
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: pytest (smoke tests)
  entry: uv run pytest tests/unit/tools/ -m unit --maxfail=3 -x --tb=short -q
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-tools:
  name: pytest (tools/utils/runtime - full)
  entry: uv run pytest tests/unit/tools/ tests/unit/test_log_sanitizer.py -v --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-ai-slop:
  name: Check for AI-slop patterns
  language: system
  entry: uv run python scripts/validation/check_ai_slop.py
  pass_filenames: true
  stages:
  - pre-commit

docs(OMN-16612): migrate omniintelligence documentation to the knowledge base and flip kb-doc-gate to strict (#877)
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/workflows/kb-doc-gate.yml
  .kb-doc-gate.yaml
  .pre-commit-config.yaml
  .secrets.baseline
  AGENT.md
  CLAUDE.md
  README.md
  deployment/database/FK_SCAN_REPORT.md
  deployment/database/README.md
  deployment/database/migrations/CODE_ENTITY_DDL_OWNERSHIP.md
  deployment/docker/README.md
  docs/CONTRACT_VALIDATION_GUIDE.md
  docs/INDEX.md
  docs/NODE_STATE_POLICY.md
  docs/architecture/CODE_PROJECTION_V2.md
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
  docs/architecture/contract-package-spec.md
  docs/assets/brand/BRAND.md
  docs/conventions/NAMING_CONVENTIONS.md
  docs/reference/CONTEXT_SERVING_LATENCY_PROVENANCE.md
  docs/reference/CONTEXT_SERVING_LATENCY_TIMINGS.md
  docs/reference/DASH_INTEGRATION_TRUTH_BOUNDARY.md
  docs/reference/EVENT_SURFACE.md
  docs/reference/NODE_INVENTORY.md
  docs/standards/STANDARD_DOC_LAYOUT.md
  pyproject.toml
  scripts/generate_node_report.py
  scripts/scan_four_node_pattern.py
  scripts/validation/validate_clean_root.py
  src/omniintelligence/models/MIGRATION.md
  src/omniintelligence/models/__init__.py
  src/omniintelligence/models/model_intelligence_input.py
  src/omniintelligence/models/model_intelligence_output.py
  src/omniintelligence/review_pairing/TOPICS.md
  src/omniintelligence/validators/README.md
  tests/unit/migrations/test_code_entity_ddl_ownership.py
Due: mypy-type-check, onex-validate-naming, migration-freeze-check, check-ai-slop

test+fix(OMN-17481): assert cursor_hook topics and permanent parse failures
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_contract_topics.py
  tests/unit/runtime/test_dispatch_handlers.py
  tests/unit/runtime/test_reshape_daemon_payload.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

chore(deps): refresh omninode sibling locks [bot]
  uv.lock
Due: none

docs(OMN-16612): remove the one fixture README no test reads
  .kb-doc-gate.yaml
  README.md
  tests/fixtures/code_projection/v2/README.md
Due: check-ai-slop

docs(OMN-16612): remove the one fixture README no test reads (#881)
  .kb-doc-gate.yaml
  README.md
  tests/fixtures/code_projection/v2/README.md
Due: check-ai-slop

fix(OMN-17786): repin hostile-reviewer model id off the retired SGLang "qwen3.8"
  src/omniintelligence/review_pairing/model_registry.yaml
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
  tests/unit/review_pairing/test_model_registry_loader.py
Due: check-ai-slop

fix(OMN-17786): repin hostile-reviewer model id off the retired SGLang "qwen3.8" (#882)
  src/omniintelligence/review_pairing/model_registry.yaml
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
  tests/unit/review_pairing/test_model_registry_loader.py
Due: check-ai-slop

docs(OMN-18000): stop naming the private knowledge base in the public README
  README.md
Due: check-ai-slop

docs(OMN-18000): stop naming the private knowledge base in the public README (#884)
  README.md
Due: check-ai-slop

feat(OMN-18016): adopt the public-repo hygiene gate in report mode
  .github/workflows/public-repo-hygiene.yml
  .public-repo-hygiene.yaml
  scripts/validation/validate_clean_root.py
Due: check-ai-slop

fix(OMN-18016): keep public hygiene config parseable
  .pre-commit-config.yaml
  .public-repo-hygiene.yaml
Due: none

ci(OMN-17993): pin ban-hardcoded-runner-ip to the widened scanner SHA, not @main
  .github/workflows/ban-hardcoded-runner-ip.yml
  tests/ci/test_ban_hardcoded_runner_ip_scope.py
Due: check-ai-slop

ci(OMN-17993): pin ban-hardcoded-runner-ip to the widened scanner SHA, not @main (#887)
  .github/workflows/ban-hardcoded-runner-ip.yml
  tests/ci/test_ban_hardcoded_runner_ip_scope.py
Due: check-ai-slop

feat(OMN-18016): adopt the public-repo hygiene gate in report mode (#885)
  .github/workflows/public-repo-hygiene.yml
  .pre-commit-config.yaml
  .public-repo-hygiene.yaml
  scripts/validation/validate_clean_root.py
Due: check-ai-slop

chore(deps, OMN-13902): refresh omninode sibling locks [bot]
  uv.lock
Due: none

fix(OMN-18310): guard disabled auto-merge
  .github/workflows/auto-merge.yml
Due: none

fix(OMN-18310): inherit companion publisher secrets
  .github/workflows/call-occ-companion-effect.yml
Due: none

docs(OMN-18310): correct publisher credential comment
  .github/workflows/call-occ-companion-effect.yml
Due: none

feat(OMN-18334): listen for a description edit on the companion-effect caller
  .github/workflows/call-occ-companion-effect.yml
  tests/test_occ_companion_effect_edited_trigger_omn_18334.py
Due: check-ai-slop

fix(OMN-18310): guard disabled auto-merge (#898)
  .github/workflows/auto-merge.yml
  .github/workflows/call-occ-companion-effect.yml
Due: none

feat(OMN-18334): listen for a description edit on the companion-effect caller (#899)
  .github/workflows/call-occ-companion-effect.yml
  tests/test_occ_companion_effect_edited_trigger_omn_18334.py
Due: check-ai-slop

fix(OMN-18409): cli_review emits a valid passed verdict for an empty PR diff
  src/omniintelligence/review_pairing/cli_review.py
  src/omniintelligence/review_pairing/models_external_review.py
  tests/unit/review_pairing/test_cli_review.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-18409): cli_review emits a valid passed verdict for an empty PR diff (#903)
  src/omniintelligence/review_pairing/cli_review.py
  src/omniintelligence/review_pairing/models_external_review.py
  tests/unit/review_pairing/test_cli_review.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

chore: add strip-ai-coauthor-trailer commit-msg hook to pre-commit config
  .pre-commit-config.yaml
Due: none

feat(OMN-18479): block review findings only on multi-model agreement
  src/omniintelligence/review_pairing/cli_review.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/model_registry_loader.py
  src/omniintelligence/review_pairing/models_external_review.py
  src/omniintelligence/review_pairing/quorum.py
  tests/unit/review_pairing/test_review_quorum.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(OMN-18479): block review findings only on multi-model agreement (#906)
  src/omniintelligence/review_pairing/cli_review.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/model_registry_loader.py
  src/omniintelligence/review_pairing/models_external_review.py
  src/omniintelligence/review_pairing/quorum.py
  tests/unit/review_pairing/test_review_quorum.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

