Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$


feat(rl): add pipeline and team exploratory observation builders and training pipelines [OMN-5572]
  src/omniintelligence/rl/builders/__init__.py
  src/omniintelligence/rl/builders/pipeline_observation_builder.py
  src/omniintelligence/rl/builders/team_observation_builder.py
  src/omniintelligence/rl/pipelines/__init__.py
  src/omniintelligence/rl/pipelines/pipeline_pipeline.py
  src/omniintelligence/rl/pipelines/team_pipeline.py
  tests/unit/rl/test_pipeline_observation_builder.py
  tests/unit/rl/test_pipeline_pipeline.py
  tests/unit/rl/test_team_observation_builder.py
  tests/unit/rl/test_team_pipeline.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(rl): unified training CLI with scheduling, manifest, and maturity classes [OMN-5576]
  configs/rl_training_manifest.yaml
  scripts/validation/validate_clean_root.py
  src/omniintelligence/rl/manifest.py
  src/omniintelligence/rl/train.py
  tests/unit/rl/test_routing_pipeline.py
  tests/unit/rl/test_unified_train_cli.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat: wire utilization scoring handler into dispatch engine [OMN-5507]
  src/omniintelligence/clients/utilization_llm_client.py
  src/omniintelligence/constants.py
  src/omniintelligence/runtime/dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat: add one-time bootstrap promotion sweep script [OMN-5502]
  scripts/bootstrap_promote_candidates.py
  src/omniintelligence/constants.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(rl): add reward shaping module with calibration gate [OMN-5564]
  src/omniintelligence/rl/__init__.py
  src/omniintelligence/rl/calibration.py
  src/omniintelligence/rl/rewards.py
  tests/unit/rl/__init__.py
  tests/unit/rl/test_rewards.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(rl): add typed observation, action, and reward contracts [OMN-5561]
  src/omniintelligence/rl/contracts/__init__.py
  src/omniintelligence/rl/contracts/actions.py
  src/omniintelligence/rl/contracts/observations.py
  src/omniintelligence/rl/contracts/rewards.py
  tests/unit/rl/test_contracts.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(rl): add episode replay buffer and PostgreSQL data source [OMN-5562]
  src/omniintelligence/rl/buffer.py
  src/omniintelligence/rl/data_sources/__init__.py
  src/omniintelligence/rl/data_sources/kafka_source.py
  src/omniintelligence/rl/data_sources/postgres_source.py
  tests/unit/rl/test_buffer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(rl): add reward shaping module with calibration gate [OMN-5564] (#399)
  src/omniintelligence/rl/__init__.py
  src/omniintelligence/rl/calibration.py
  src/omniintelligence/rl/rewards.py
  tests/unit/rl/__init__.py
  tests/unit/rl/test_rewards.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat: add one-time bootstrap promotion sweep script [OMN-5502] (#396)
  scripts/bootstrap_promote_candidates.py
  src/omniintelligence/constants.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat: add promotion-check dispatch handler wired to auto-promote [OMN-5498]
  src/omniintelligence/constants.py
  src/omniintelligence/runtime/dispatch_handler_promotion_check.py
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_dispatch_handler_promotion_check.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

test: add E2E verification script for pattern lifecycle pipeline [OMN-5509]
  scripts/verify_pattern_lifecycle_e2e.py
Due: check-ai-slop

fix: complete handler registration args and closing parens in dispatch_handlers [OMN-5498]
  src/omniintelligence/runtime/dispatch_handlers.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

test: add E2E verification script for pattern lifecycle pipeline [OMN-5509] (#397)
  scripts/verify_pattern_lifecycle_e2e.py
Due: check-ai-slop

feat(rl): observation, action, and reward contracts [OMN-5561] (#400)
  src/omniintelligence/rl/contracts/__init__.py
  src/omniintelligence/rl/contracts/actions.py
  src/omniintelligence/rl/contracts/observations.py
  src/omniintelligence/rl/contracts/rewards.py
  tests/unit/rl/test_contracts.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat: add periodic promotion-check scheduler to plugin lifecycle [OMN-5499]
  src/omniintelligence/constants.py
  src/omniintelligence/runtime/plugin.py
  src/omniintelligence/runtime/promotion_scheduler.py
  tests/unit/runtime/test_promotion_scheduler.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(types): pass str/dict to publisher.publish instead of bytes [OMN-5499]
  src/omniintelligence/runtime/promotion_scheduler.py
  tests/unit/runtime/test_promotion_scheduler.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat(rl): add routing observation builder and offline training pipeline [OMN-5565]
  src/omniintelligence/rl/buffer.py
  src/omniintelligence/rl/builders/__init__.py
  src/omniintelligence/rl/builders/routing_observation_builder.py
  src/omniintelligence/rl/contracts/__init__.py
  src/omniintelligence/rl/contracts/observations.py
  src/omniintelligence/rl/contracts/rewards.py
  src/omniintelligence/rl/data_sources/__init__.py
  src/omniintelligence/rl/data_sources/postgres_source.py
  src/omniintelligence/rl/pipelines/__init__.py
  src/omniintelligence/rl/pipelines/routing_pipeline.py
  src/omniintelligence/rl/train.py
  tests/unit/rl/test_routing_pipeline.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(rl): unified training CLI with scheduling and manifest [OMN-5576] (#407)
  configs/rl_training_manifest.yaml
  scripts/validation/validate_clean_root.py
  src/omniintelligence/rl/manifest.py
  src/omniintelligence/rl/train.py
  tests/unit/rl/test_routing_pipeline.py
  tests/unit/rl/test_unified_train_cli.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(rl): add pipeline and team exploratory observation builders and training pipelines [OMN-5572] (#406)
  src/omniintelligence/rl/builders/__init__.py
  src/omniintelligence/rl/builders/pipeline_observation_builder.py
  src/omniintelligence/rl/builders/team_observation_builder.py
  src/omniintelligence/rl/pipelines/__init__.py
  src/omniintelligence/rl/pipelines/pipeline_pipeline.py
  src/omniintelligence/rl/pipelines/team_pipeline.py
  tests/unit/rl/test_pipeline_observation_builder.py
  tests/unit/rl/test_pipeline_pipeline.py
  tests/unit/rl/test_team_observation_builder.py
  tests/unit/rl/test_team_pipeline.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat: add periodic promotion-check scheduler to plugin lifecycle [OMN-5499] (#395)
  src/omniintelligence/constants.py
  src/omniintelligence/runtime/plugin.py
  src/omniintelligence/runtime/promotion_scheduler.py
  tests/unit/runtime/test_promotion_scheduler.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat(rl): add policy-to-Bifrost config exporter with fidelity check [OMN-5567]
  src/omniintelligence/rl/export.py
  src/omniintelligence/rl/export_scenarios.py
  tests/unit/rl/test_export.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(rl): add routing observation builder and offline training pipeline [OMN-5565]
  src/omniintelligence/rl/builders/__init__.py
  src/omniintelligence/rl/pipelines/__init__.py
  src/omniintelligence/rl/train.py
  tests/unit/rl/test_routing_pipeline.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

chore: release v0.16.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-ai-slop

fix: replace stub marker with stub-ok in AI reviewer adapter [OMN-5605]
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix: replace stub marker with stub-ok in AI reviewer adapter [OMN-5605] (#409)
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix: lower bootstrap promotion thresholds to match actual pattern data [OMN-5500]
  src/omniintelligence/nodes/node_pattern_promotion_effect/handlers/handler_auto_promote.py
  tests/unit/nodes/node_pattern_promotion_effect/test_bootstrap_promotion.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix: wire pattern-stored events to projection handler [OMN-5611]
  scripts/backfill_pattern_projection.py
  scripts/validation/topic_naming_baseline.txt
  src/omniintelligence/nodes/node_pattern_projection_effect/contract.yaml
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_contract_topics.py
  tests/unit/runtime/test_dispatch_handlers.py
  tests/unit/runtime/test_plugin_dispatch.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat(omniintelligence): port AST entity extractor [OMN-5659]
  src/omniintelligence/nodes/node_ast_extraction_compute/__init__.py
  src/omniintelligence/nodes/node_ast_extraction_compute/contract.yaml
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/handler_ast_extract.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/__init__.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_code_entities_extracted_event.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_code_entity.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_code_relationship.py
  src/omniintelligence/nodes/node_ast_extraction_compute/node.py
  tests/unit/nodes/node_ast_extraction_compute/__init__.py
  tests/unit/nodes/node_ast_extraction_compute/test_ast_extract.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(omniintelligence): create Postgres schema for code entities [OMN-5661]
  deployment/database/migrations/025_code_entities.sql
  src/omniintelligence/nodes/node_ast_extraction_compute/__init__.py
  src/omniintelligence/nodes/node_ast_extraction_compute/repository/__init__.py
  src/omniintelligence/nodes/node_ast_extraction_compute/repository/repository_code_entity.py
  tests/audit/io_audit_whitelist.yaml
  tests/unit/nodes/node_ast_extraction_compute/__init__.py
  tests/unit/nodes/node_ast_extraction_compute/test_repository_code_entity.py
Due: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, check-ai-slop

feat(omniintelligence): port OnexTree generator and models [OMN-5658]
  src/omniintelligence/nodes/node_code_crawler_effect/__init__.py
  src/omniintelligence/nodes/node_code_crawler_effect/contract.yaml
  src/omniintelligence/nodes/node_code_crawler_effect/handlers/__init__.py
  src/omniintelligence/nodes/node_code_crawler_effect/handlers/handler_onextree_generator.py
  src/omniintelligence/nodes/node_code_crawler_effect/models/__init__.py
  src/omniintelligence/nodes/node_code_crawler_effect/models/model_code_file_discovered_event.py
  src/omniintelligence/nodes/node_code_crawler_effect/models/model_onextree.py
  src/omniintelligence/nodes/node_code_crawler_effect/node.py
  tests/audit/io_audit_whitelist.yaml
  tests/unit/nodes/node_code_crawler_effect/__init__.py
  tests/unit/nodes/node_code_crawler_effect/test_onextree_generator.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(omniintelligence): add LLM enrichment handler for code entities [OMN-5664]
  src/omniintelligence/runtime/dispatch_handler_code_enrichment.py
  tests/unit/runtime/test_dispatch_handler_code_enrichment.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat(omniintelligence): port code relationship detector [OMN-5660]
  src/omniintelligence/nodes/node_ast_extraction_compute/contract.yaml
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/handler_ast_extract.py
  src/omniintelligence/nodes/node_ast_extraction_compute/handlers/handler_relationship_detect.py
  tests/unit/nodes/node_ast_extraction_compute/test_relationship_detect.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(omniintelligence): add embedding generation and Qdrant storage [OMN-5665]
  src/omniintelligence/runtime/dispatch_handler_code_embedding.py
  tests/unit/runtime/test_dispatch_handler_code_embedding.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat(omniintelligence): add Memgraph type graph storage [OMN-5666]
  src/omniintelligence/runtime/dispatch_handler_graph_storage.py
  tests/unit/runtime/test_dispatch_handler_graph_storage.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat(omniintelligence): wire crawl -> extract pipeline via Kafka events [OMN-5662]
  src/omniintelligence/constants.py
  src/omniintelligence/runtime/contract_topics.py
  src/omniintelligence/runtime/dispatch_handler_code_crawl.py
  src/omniintelligence/runtime/dispatch_handler_code_extract.py
  src/omniintelligence/runtime/dispatch_handler_code_persist.py
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/audit/io_audit_whitelist.yaml
  tests/unit/runtime/test_dispatch_handler_code_pipeline.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat(omniintelligence): add batch crawl CLI script [OMN-5663]
  scripts/crawl_code_entities.py
Due: check-ai-slop
