Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

mypy-type-check:
  name: mypy (type checking)
  entry: uv run mypy --ignore-missing-imports --incremental
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-naming:
  name: onex-validate-naming
  entry: python scripts/validation/validate_naming.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

io-audit:
  name: io-audit (ONEX purity)
  entry: uv run python -m omniintelligence.audit.io_audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-transport-imports:
  name: validate-no-transport-imports (ARCH-002)
  entry: uv run python scripts/validate_no_transport_imports.py --exclude src/omniintelligence/runtime --exclude src/omniintelligence/api --exclude src/omniintelligence/clients
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: pytest (smoke tests)
  entry: uv run pytest tests/unit/tools/ -m unit --maxfail=3 -x --tb=short -q
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-tools:
  name: pytest (tools/utils/runtime - full)
  entry: uv run pytest tests/unit/tools/ tests/unit/test_log_sanitizer.py -v --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-ai-slop:
  name: Check for AI-slop patterns
  language: system
  entry: uv run python scripts/validation/check_ai_slop.py
  pass_filenames: true
  stages:
  - pre-commit

test(OMN-14200): sync model_registry loader test with qwen3-review/qwen3-review-b keys (#772)
  tests/unit/review_pairing/test_model_registry_loader.py
Due: check-ai-slop

chore(deps): refresh omninode sibling locks [bot] (OMN-13902) (#773)
  uv.lock
Due: none

fix(OMN-14176): raise qwen3-review-b timeout to fit measured throughput
  src/omniintelligence/review_pairing/model_registry.yaml
Due: none

fix(OMN-14176): suppress Qwen3 reasoning at generation time + harden think-strip
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-14176): make enable_thinking a declarative per-model registry field
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/models_external_review.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(OMN-14176): raise qwen3-review-b timeout to fit measured throughput (#774)
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/models_external_review.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

chore(deps): refresh omninode sibling locks [bot]
  uv.lock
Due: none

chore(deps): refresh omninode sibling locks [bot] (#776)
  uv.lock
Due: none

chore(OMN-13902): refresh omniintelligence omnibase-core lock to 0.46.7
  uv.lock
Due: none

feat(OMN-14350): non-canonical ratchet gate (fan-out)
  .onex_ratchets/noncanonical_class_allowlist.yaml
  .pre-commit-config.yaml
  scripts/validation/validate_clean_root.py
Due: check-ai-slop

fix(OMN-14350): CI-enforce non-canonical ratchet via dedicated workflow
  .github/workflows/noncanonical-lifecycle-gate.yml
  .pre-commit-config.yaml
Due: none

feat(OMN-14350): add noncanonical lifecycle ratchet gate
  .github/workflows/noncanonical-lifecycle-gate.yml
  .onex_ratchets/noncanonical_class_allowlist.yaml
  .pre-commit-config.yaml
  scripts/validation/validate_clean_root.py
Due: check-ai-slop

fix(OMN-14350): make the non-canonical ratchet a real CI Summary gate (needs-list)
  .github/workflows/ci.yml
  .github/workflows/noncanonical-lifecycle-gate.yml
Due: none

fix(OMN-14350): make non-canonical ratchet a required CI gate
  .github/workflows/ci.yml
  .github/workflows/noncanonical-lifecycle-gate.yml
Due: none

feat(nodes): register node_cursor_hook_event_effect under onex.nodes (B2 parity)
  CLAUDE.md
  docs/reference/NODE_INVENTORY.md
  pyproject.toml
Due: check-ai-slop

docs: one audit-inclusive node-count definition across inventory/CLAUDE/architecture
  CLAUDE.md
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
  docs/reference/NODE_INVENTORY.md
Due: check-ai-slop

chore(deps): refresh omninode sibling locks [bot] (#783)
  uv.lock
Due: none

feat(OMN-13802): register node_cursor_hook_event_effect under onex.nodes (B2 parity) (#784)
  CLAUDE.md
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
  docs/reference/NODE_INVENTORY.md
  pyproject.toml
Due: check-ai-slop

test(OMN-7911): add unit coverage for adapter_debug_store
  tests/unit/debug_intel/test_adapter_debug_store.py
Due: check-ai-slop

test(OMN-7911): add unit coverage for adapter_debug_store (#787)
  tests/unit/debug_intel/test_adapter_debug_store.py
Due: check-ai-slop

chore(deps): refresh omninode sibling locks [bot] (#789)
  uv.lock
Due: none

test(OMN-7910): cover node_pattern_extraction_compute __main__ CLI
  tests/unit/nodes/node_pattern_extraction_compute/test_main_cli.py
Due: check-ai-slop

test(OMN-7910): cover node_pattern_extraction_compute __main__ CLI (#790)
  tests/unit/nodes/node_pattern_extraction_compute/test_main_cli.py
Due: check-ai-slop

chore(deps): refresh omninode sibling locks [bot] (#793)
  uv.lock
Due: none

docs(OMN-14752): fix Effect count 30 -> 31 in four-node architecture table
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
Due: check-ai-slop

docs(OMN-14752): fix Effect count in architecture table
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
Due: check-ai-slop

docs(OMN-14752): fix architecture effect count
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
Due: check-ai-slop

ci(OMN-14588): fan out canonical handler-shape ratchet to omniintelligence
  .github/workflows/ci.yml
  scripts/ci/adequacy_receipts/.gitkeep
  scripts/ci/canonical_handler_shape_baseline.py
Due: check-ai-slop

ci(OMN-14588): fan out canonical handler-shape ratchet to omniintelligence (#798)
  .github/workflows/ci.yml
  scripts/ci/adequacy_receipts/.gitkeep
  scripts/ci/canonical_handler_shape_baseline.py
Due: check-ai-slop

chore(deps): refresh omninode sibling locks [bot] (#801)
  uv.lock
Due: none

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

