Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

mypy-type-check:
  name: mypy (type checking)
  entry: uv run mypy --ignore-missing-imports --incremental
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-naming:
  name: onex-validate-naming
  entry: python scripts/validation/validate_naming.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

io-audit:
  name: io-audit (ONEX purity)
  entry: uv run python -m omniintelligence.audit.io_audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-transport-imports:
  name: validate-no-transport-imports (ARCH-002)
  entry: uv run python scripts/validate_no_transport_imports.py --exclude src/omniintelligence/runtime --exclude src/omniintelligence/api --exclude src/omniintelligence/clients
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: pytest (smoke tests)
  entry: uv run pytest tests/unit/tools/ -m unit --maxfail=3 -x --tb=short -q
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-tools:
  name: pytest (tools/utils/runtime - full)
  entry: uv run pytest tests/unit/tools/ tests/unit/test_log_sanitizer.py -v --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-ai-slop:
  name: Check for AI-slop patterns
  language: system
  entry: uv run python scripts/validation/check_ai_slop.py
  pass_filenames: true
  stages:
  - pre-commit

chore(deps): bump omnibase_infra to 0.15.0 (#298)
  uv.lock
Due: none

chore: add no-planning-docs pre-commit hook (OMN-3619)
  .pre-commit-config.yaml
Due: none

fix(OMN-3592): convert upsert_pattern SQL from :named to $N positional syntax
  src/omniintelligence/repositories/learned_patterns.repository.yaml
  tests/unit/repositories/test_adapter_pattern_store.py
Due: check-ai-slop

fix: apply yamlfmt formatting to no-planning-docs hook entry
  .pre-commit-config.yaml
Due: none

chore: add no-planning-docs pre-commit hook (OMN-3619) (#300)
  .pre-commit-config.yaml
Due: none

fix(db): convert all :named SQL placeholders to $N positional syntax (OMN-3644)
  src/omniintelligence/repositories/learned_patterns.repository.yaml
  tests/unit/repositories/test_contract_signature_hash.py
  tests/unit/test_repository_yaml_no_named_placeholders.py
Due: check-ai-slop

style: apply ruff format to test_adapter_pattern_store
  tests/unit/repositories/test_adapter_pattern_store.py
Due: check-ai-slop

fix(OMN-3592): convert upsert_pattern SQL to asyncpg positional syntax (#301)
  src/omniintelligence/repositories/learned_patterns.repository.yaml
  tests/unit/repositories/test_adapter_pattern_store.py
Due: check-ai-slop

ci: add --strict AI-slop, dependabot github-actions [OMN-3662]
  .github/dependabot.yml
  .pre-commit-config.yaml
Due: none

fix(db): convert all :named SQL placeholders to $N positional syntax (OMN-3644) (#302)
  src/omniintelligence/repositories/learned_patterns.repository.yaml
  tests/unit/repositories/test_contract_signature_hash.py
  tests/unit/test_repository_yaml_no_named_placeholders.py
Due: check-ai-slop

fix(ci): remove --strict AI-slop flag from OMN-3662 (needs companion OMN-3669 PR)
  .pre-commit-config.yaml
Due: none

ci: CI resilience fixes [OMN-3662] (#304)
  .github/dependabot.yml
Due: none

feat: add project_scope field to learned patterns schema and models (OMN-1607)
  deployment/database/migrations/022_add_project_scope_to_learned_patterns.sql
  deployment/database/migrations/rollback/022_rollback.sql
  src/omniintelligence/models/repository/model_learned_pattern_row.py
  src/omniintelligence/models/repository/model_pattern_summary.py
  src/omniintelligence/repositories/adapter_pattern_store.py
  src/omniintelligence/repositories/learned_patterns.repository.yaml
  tests/unit/api/test_contract_query_patterns.py
  tests/unit/repositories/test_project_scope.py
Due: mypy-type-check, onex-validate-naming, migration-freeze-check, check-ai-slop

fix: wrap long YAML descriptions to pass yamlfmt line-length check (OMN-1607)
  src/omniintelligence/repositories/learned_patterns.repository.yaml
Due: none

chore: add no-env-file pre-commit hook to prevent .env commits [OMN-3705]
  .pre-commit-config.yaml
Due: none

fix: relax ONEX version bounds, raise core lower bound to >=0.23.0
  pyproject.toml
Due: none

fix: apply yamlfmt formatting and exclude uv.lock from yamlfmt
  .pre-commit-config.yaml
Due: none

OMN-3739: Remove {env}. topic prefix from CLAUDE.md, make correlation_id required
  CLAUDE.md
  src/omniintelligence/nodes/node_routing_feedback_effect/models/model_routing_feedback_payload.py
  src/omniintelligence/nodes/node_routing_feedback_effect/node_tests/conftest.py
  src/omniintelligence/nodes/node_routing_feedback_effect/node_tests/test_handler_routing_feedback.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix: relax ONEX version bounds, raise core lower bound to >=0.23.0 (#308)
  pyproject.toml
Due: none

chore: add cloud bus guard pre-commit hook (OMN-3777)
  .pre-commit-config.yaml
  scripts/check_no_cloud_bus_wrapper.sh
  src/omniintelligence/nodes/node_chunk_classifier_compute/node_tests/test_handler_chunk_classifier.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(ci): resolve yamlfmt + cloud-bus-guard pre-commit conflicts
  .pre-commit-config.yaml
  uv.lock
Due: none

chore: add cloud bus guard pre-commit hook (OMN-3777) (#310)
  .pre-commit-config.yaml
  scripts/check_no_cloud_bus_wrapper.sh
  src/omniintelligence/nodes/node_chunk_classifier_compute/node_tests/test_handler_chunk_classifier.py
  uv.lock
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

OMN-3804: pin actions/checkout@v4 and actions/setup-python@v5
  .github/workflows/ci.yaml
  .github/workflows/claude.yml
  .github/workflows/code-review-bot.yml
  .github/workflows/release-dry-run.yml
  .github/workflows/release.yml
Due: none

OMN-368: add LOCAL_OPENAI embedding provider for MLX server
  src/omniintelligence/clients/__init__.py
  src/omniintelligence/clients/embedding_client_local_openai.py
  src/omniintelligence/nodes/node_embedding_generation_effect/clients/__init__.py
  src/omniintelligence/nodes/node_embedding_generation_effect/handlers/handler_embedding_generate.py
  src/omniintelligence/nodes/node_embedding_generation_effect/models/__init__.py
  src/omniintelligence/nodes/node_embedding_generation_effect/models/enum_embedding_provider.py
  src/omniintelligence/nodes/node_embedding_generation_effect/models/model_embedding_generate_input.py
  src/omniintelligence/nodes/node_embedding_generation_effect/node_tests/test_handler_embedding_generate.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

OMN-371: add NodeStorageRouterEffect for storage coordination
  src/omniintelligence/nodes/node_storage_router_effect/__init__.py
  src/omniintelligence/nodes/node_storage_router_effect/contract.yaml
  src/omniintelligence/nodes/node_storage_router_effect/handlers/__init__.py
  src/omniintelligence/nodes/node_storage_router_effect/handlers/handler_route_storage.py
  src/omniintelligence/nodes/node_storage_router_effect/models/__init__.py
  src/omniintelligence/nodes/node_storage_router_effect/models/enum_storage_backend.py
  src/omniintelligence/nodes/node_storage_router_effect/models/enum_storage_route_status.py
  src/omniintelligence/nodes/node_storage_router_effect/models/model_storage_route_input.py
  src/omniintelligence/nodes/node_storage_router_effect/models/model_storage_route_output.py
  src/omniintelligence/nodes/node_storage_router_effect/node.py
  src/omniintelligence/nodes/node_storage_router_effect/node_tests/__init__.py
  src/omniintelligence/nodes/node_storage_router_effect/node_tests/conftest.py
  src/omniintelligence/nodes/node_storage_router_effect/node_tests/test_handler_route_storage.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

chore: apply yamlfmt formatting to contract.yaml
  src/omniintelligence/nodes/node_storage_router_effect/contract.yaml
Due: none

OMN-373: add protocol handlers for declarative effect nodes
  src/omniintelligence/nodes/node_protocol_handler_effect/__init__.py
  src/omniintelligence/nodes/node_protocol_handler_effect/contract.yaml
  src/omniintelligence/nodes/node_protocol_handler_effect/handlers/__init__.py
  src/omniintelligence/nodes/node_protocol_handler_effect/handlers/handler_bolt.py
  src/omniintelligence/nodes/node_protocol_handler_effect/handlers/handler_http_rest.py
  src/omniintelligence/nodes/node_protocol_handler_effect/handlers/handler_kafka.py
  src/omniintelligence/nodes/node_protocol_handler_effect/handlers/handler_postgres.py
  src/omniintelligence/nodes/node_protocol_handler_effect/handlers/handler_protocol.py
  src/omniintelligence/nodes/node_protocol_handler_effect/models/__init__.py
  src/omniintelligence/nodes/node_protocol_handler_effect/models/enum_handler_status.py
  src/omniintelligence/nodes/node_protocol_handler_effect/models/enum_protocol_type.py
  src/omniintelligence/nodes/node_protocol_handler_effect/models/model_protocol_handler_input.py
  src/omniintelligence/nodes/node_protocol_handler_effect/models/model_protocol_handler_output.py
  src/omniintelligence/nodes/node_protocol_handler_effect/node.py
  src/omniintelligence/nodes/node_protocol_handler_effect/node_tests/__init__.py
  src/omniintelligence/nodes/node_protocol_handler_effect/node_tests/conftest.py
  src/omniintelligence/nodes/node_protocol_handler_effect/node_tests/test_handler_protocol.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

OMN-373: move concrete handler adapters outside nodes/ for ARCH-002 compliance
  .pre-commit-config.yaml
  src/omniintelligence/adapters/__init__.py
  src/omniintelligence/adapters/adapter_bolt.py
  src/omniintelligence/adapters/adapter_http_rest.py
  src/omniintelligence/adapters/adapter_kafka.py
  src/omniintelligence/adapters/adapter_postgres.py
  src/omniintelligence/nodes/node_protocol_handler_effect/__init__.py
  src/omniintelligence/nodes/node_protocol_handler_effect/contract.yaml
  src/omniintelligence/nodes/node_protocol_handler_effect/handlers/__init__.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

refactor(intent_classifier_compute): add StrEnum for intent categories and semantic domains [OMN-1481]
  src/omniintelligence/nodes/node_intent_classifier_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_intent_classifier_compute/handlers/handler_intent_classification.py
  src/omniintelligence/nodes/node_intent_classifier_compute/handlers/handler_langextract.py
  src/omniintelligence/nodes/node_intent_classifier_compute/models/__init__.py
  src/omniintelligence/nodes/node_intent_classifier_compute/models/enum_intent_category.py
  src/omniintelligence/nodes/node_intent_classifier_compute/models/enum_semantic_domain.py
  tests/unit/nodes/node_intent_classifier_compute/test_contract_parity.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

release: omninode-intelligence v0.10.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-ai-slop

OMN-3252: standardize correlation_id to UUID in intent-classified event models
  src/omniintelligence/models/events/model_intent_event_envelopes.py
  src/omniintelligence/nodes/node_intent_classifier_compute/models/model_intent_classified_event.py
  tests/unit/nodes/node_intent_classifier_compute/test_typed_classification.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(topics): rename IntentTopic producer segment from 'intent' to 'omniintelligence' [OMN-3253]
  _golden_path_validate/node_intelligence_reducer.json
  _golden_path_validate/node_pattern_projection_effect.json
  scripts/validation/topic_naming_baseline.txt
  src/omniintelligence/models/events/__init__.py
  src/omniintelligence/models/events/model_intent_event_envelopes.py
  src/omniintelligence/nodes/node_intelligence_orchestrator/contract.yaml
  src/omniintelligence/nodes/node_intelligence_reducer/contract.yaml
  src/omniintelligence/nodes/node_intent_classifier_compute/models/model_intent_classified_event.py
  src/omniintelligence/nodes/node_intent_classifier_compute/models/model_typed_intent.py
  src/omniintelligence/nodes/node_intent_cost_forecast_compute/handlers/handler_cost_forecast.py
  src/omniintelligence/nodes/node_intent_drift_detect_compute/contract.yaml
  src/omniintelligence/nodes/node_intent_drift_detect_compute/models/model_intent_drift.py
  src/omniintelligence/nodes/node_intent_drift_detect_compute/node.py
  src/omniintelligence/nodes/node_pattern_projection_effect/contract.yaml
  src/omniintelligence/nodes/node_routing_feedback_effect/contract.yaml
  src/omniintelligence/topics.py
  tests/unit/nodes/node_intent_classifier_compute/test_typed_classification.py
  tests/unit/test_intent_topics.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

OMN-3831: replace hardcoded __version__ with importlib.metadata
  src/omniintelligence/__init__.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

OMN-3832: add validate-string-versions pre-commit hook
  .pre-commit-config.yaml
Due: none

OMN-3252: standardize correlation_id to UUID in intent-classified event models (#318)
  src/omniintelligence/models/events/model_intent_event_envelopes.py
  src/omniintelligence/nodes/node_intent_classifier_compute/models/model_intent_classified_event.py
  tests/unit/nodes/node_intent_classifier_compute/test_typed_classification.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix: apply yamlfmt line wrapping to contract YAML descriptions
  src/omniintelligence/nodes/node_intent_drift_detect_compute/contract.yaml
  src/omniintelligence/nodes/node_routing_feedback_effect/contract.yaml
Due: none

fix: apply ruff formatting to intent classifier handlers and tests
  src/omniintelligence/nodes/node_intent_classifier_compute/handlers/handler_intent_classification.py
  src/omniintelligence/nodes/node_intent_classifier_compute/handlers/handler_langextract.py
  tests/unit/nodes/node_intent_classifier_compute/test_contract_parity.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

refactor(intent_classifier_compute): add StrEnum for intent categories and semantic domains [OMN-1481] (#315)
  src/omniintelligence/nodes/node_intent_classifier_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_intent_classifier_compute/handlers/handler_intent_classification.py
  src/omniintelligence/nodes/node_intent_classifier_compute/handlers/handler_langextract.py
  src/omniintelligence/nodes/node_intent_classifier_compute/models/__init__.py
  src/omniintelligence/nodes/node_intent_classifier_compute/models/enum_intent_category.py
  src/omniintelligence/nodes/node_intent_classifier_compute/models/enum_semantic_domain.py
  tests/unit/nodes/node_intent_classifier_compute/test_contract_parity.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(bloom-eval): OMN-4017 — define EnumFailureMode and EnumEvalDomain
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/__init__.py
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/models/__init__.py
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/models/enum_eval_domain.py
  src/omniintelligence/nodes/node_bloom_eval_orchestrator/models/enum_failure_mode.py
  tests/unit/nodes/node_bloom_eval_orchestrator/__init__.py
  tests/unit/nodes/node_bloom_eval_orchestrator/test_enums.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

