Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

mypy-type-check:
  name: mypy (type checking)
  entry: uv run mypy --ignore-missing-imports --incremental
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-naming:
  name: onex-validate-naming
  entry: python scripts/validation/validate_naming.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

io-audit:
  name: io-audit (ONEX purity)
  entry: uv run python -m omniintelligence.audit.io_audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-transport-imports:
  name: validate-no-transport-imports (ARCH-002)
  entry: uv run python scripts/validate_no_transport_imports.py --exclude src/omniintelligence/runtime --exclude src/omniintelligence/api --exclude src/omniintelligence/clients
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: pytest (smoke tests)
  entry: uv run pytest tests/unit/tools/ -m unit --maxfail=3 -x --tb=short -q
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-tools:
  name: pytest (tools/utils/runtime - full)
  entry: uv run pytest tests/unit/tools/ tests/unit/test_log_sanitizer.py -v --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-ai-slop:
  name: Check for AI-slop patterns
  language: system
  entry: uv run python scripts/validation/check_ai_slop.py
  pass_filenames: true
  stages:
  - pre-commit

feat(plan-reviewer): S1-S4 strategy handlers + shared finding models [OMN-3288]
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/contract.yaml
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/handlers/strategies/__init__.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/handlers/strategies/handler_independent_merge.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/handlers/strategies/handler_panel_vote.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/handlers/strategies/handler_sequential_critique.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/handlers/strategies/handler_specialist_split.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/models/__init__.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/models/enum_plan_review_category.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/models/model_plan_review_finding.py
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_handler_independent_merge.py
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_handler_panel_vote.py
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_handler_sequential_critique.py
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_handler_specialist_split.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(plan-reviewer): use asyncio.gather for concurrent model calls [OMN-3288]
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/handlers/strategies/handler_independent_merge.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/handlers/strategies/handler_panel_vote.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/handlers/strategies/handler_specialist_split.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(plan-reviewer): S1-S4 strategy handlers [OMN-3288] (#255)
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/contract.yaml
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/handlers/strategies/__init__.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/handlers/strategies/handler_independent_merge.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/handlers/strategies/handler_panel_vote.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/handlers/strategies/handler_sequential_critique.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/handlers/strategies/handler_specialist_split.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/models/__init__.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/models/enum_plan_review_category.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/models/model_plan_review_finding.py
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_handler_independent_merge.py
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_handler_panel_vote.py
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_handler_sequential_critique.py
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_handler_specialist_split.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat(plan-reviewer): add Gemini Flash + Z.AI GLM-4 LLM client adapters [OMN-3286]
  src/omniintelligence/clients/__init__.py
  src/omniintelligence/clients/plan_reviewer_gemini_client.py
  src/omniintelligence/clients/plan_reviewer_z_ai_client.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/contract.yaml
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_plan_reviewer_gemini_client.py
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_plan_reviewer_z_ai_client.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(ci): remove AI-slop boilerplate docstring patterns in strategy handlers
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/handlers/strategies/handler_independent_merge.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/handlers/strategies/handler_panel_vote.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/handlers/strategies/handler_sequential_critique.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/handlers/strategies/handler_specialist_split.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(ci): add missing contract input/output models and allowlist secret pragmas
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/contract.yaml
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_plan_reviewer_gemini_client.py
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_plan_reviewer_z_ai_client.py
Due: check-ai-slop

feat(plan-reviewer): main handler + confidence scorer + DB write [OMN-3290]
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/__init__.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/contract.yaml
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/handlers/__init__.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/handlers/handler_confidence_scorer.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/handlers/handler_plan_reviewer_multi_compute.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/models/__init__.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/models/model_plan_reviewer_multi_input.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/models/model_plan_reviewer_multi_output.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/node.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(omniintelligence): add migration 021 for llm_routing_decisions table [OMN-3298]
  deployment/database/migrations/021_create_llm_routing_decisions.sql
  deployment/database/migrations/rollback/021_rollback.sql
Due: migration-freeze-check

feat(plan-reviewer): Phase 5 — 168 unit tests for node_plan_reviewer_multi_compute [OMN-3291]
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_confidence_scorer.py
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_handler_plan_reviewer_multi_compute.py
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_models.py
Due: check-ai-slop

feat(plan-reviewer): Phase 5 — 168 unit tests for node_plan_reviewer_multi_compute [OMN-3291] (#258)
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_confidence_scorer.py
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_handler_plan_reviewer_multi_compute.py
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_models.py
Due: check-ai-slop

fix(omniintelligence): replace named params with positional \$N in query_patterns SQL [OMN-3301]
  src/omniintelligence/repositories/learned_patterns.repository.yaml
  tests/unit/api/test_contract_query_patterns.py
  tests/unit/repositories/test_adapter_pattern_store.py
Due: check-ai-slop

fix(omniintelligence): replace named params with positional $N in query_patterns SQL [OMN-3301] (#259)
  src/omniintelligence/repositories/learned_patterns.repository.yaml
  tests/unit/api/test_contract_query_patterns.py
  tests/unit/repositories/test_adapter_pattern_store.py
Due: check-ai-slop

feat(plan-reviewer): Phase 6 — integration smoke tests all 4 strategies × real LLMs [OMN-3292]
  tests/integration/nodes/node_plan_reviewer_multi_compute/__init__.py
  tests/integration/nodes/node_plan_reviewer_multi_compute/test_smoke_plan_all_strategies.py
Due: check-ai-slop

fix(plan-reviewer): widen items type to list[Any] to satisfy mypy unreachable [OMN-3292]
  tests/integration/nodes/node_plan_reviewer_multi_compute/test_smoke_plan_all_strategies.py
Due: check-ai-slop

release: omniintelligence v0.9.0 [OMN-3301]
  pyproject.toml
  src/omniintelligence/__init__.py
  uv.lock
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(ci): correct self-hosted runner routing labels [OMN-3273]
  .github/workflows/ci.yaml
  .github/workflows/claude.yml
  .github/workflows/code-review-bot.yml
Due: none

fix(repositories): add ::uuid/::text type casts to query_patterns nullable params — PostgreSQL type inference fix [OMN-3301]
  pyproject.toml
  src/omniintelligence/__init__.py
  src/omniintelligence/repositories/learned_patterns.repository.yaml
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(omniintelligence): emit plan-review-strategy-run-completed.v1 from node_plan_reviewer_multi_compute [OMN-3323]
  src/omniintelligence/constants.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/contract.yaml
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/handlers/handler_plan_reviewer_multi_compute.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/models/__init__.py
  src/omniintelligence/nodes/node_plan_reviewer_multi_compute/models/model_plan_review_strategy_run_completed_event.py
  tests/unit/nodes/node_plan_reviewer_multi_compute/test_handler_plan_reviewer_multi_compute.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(repositories): add ::uuid/::text type casts to query_patterns nullable params — PostgreSQL type inference fix [OMN-3301] (#263)
  pyproject.toml
  src/omniintelligence/__init__.py
  src/omniintelligence/repositories/learned_patterns.repository.yaml
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(slack): route gmail intent signals to #omninode-notifications
  src/omniintelligence/nodes/node_gmail_intent_evaluator_effect/contract.yaml
  src/omniintelligence/nodes/node_gmail_intent_evaluator_effect/handlers/handler_gmail_intent_evaluate.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

test(ci): add uuid cast misuse validator for repository YAML files [OMN-3406]
  tests/unit/test_repository_yaml_type_contracts.py
  uv.lock
Due: check-ai-slop

feat(golden-path): add fixture for node_compliance_evaluate_effect [OMN-3391]
  _golden_path_validate/node_compliance_evaluate_effect.json
Due: none

chore(validation): allow _golden_path_validate directory in repo root [OMN-3391]
  scripts/validation/validate_clean_root.py
Due: check-ai-slop

feat(golden-path): add fixture for node_document_fetch_effect [OMN-3392]
  _golden_path_validate/node_document_fetch_effect.json
  scripts/validation/validate_clean_root.py
Due: check-ai-slop

feat(golden-path): add fixture for node_git_repo_crawler_effect [OMN-3393]
  _golden_path_validate/node_git_repo_crawler_effect.json
  scripts/validation/validate_clean_root.py
Due: check-ai-slop

feat(golden-path): add fixture for node_intelligence_reducer [OMN-3394]
  _golden_path_validate/node_intelligence_reducer.json
  scripts/validation/validate_clean_root.py
Due: check-ai-slop

feat(golden-path): add fixture for node_linear_crawler_effect [OMN-3395]
  _golden_path_validate/node_linear_crawler_effect.json
  scripts/validation/validate_clean_root.py
Due: check-ai-slop

feat(golden-path): add fixture for node_llm_routing_decision_effect [OMN-3396]
  _golden_path_validate/node_llm_routing_decision_effect.json
  scripts/validation/validate_clean_root.py
Due: check-ai-slop

feat(golden-path): add fixture for node_pattern_learning_effect [OMN-3397]
  _golden_path_validate/node_pattern_learning_effect.json
  scripts/validation/validate_clean_root.py
Due: check-ai-slop

feat(golden-path): add fixture for node_pattern_projection_effect [OMN-3398]
  _golden_path_validate/node_pattern_projection_effect.json
  scripts/validation/validate_clean_root.py
Due: check-ai-slop

feat(golden-path): add fixture for node_watchdog_effect [OMN-3400]
  _golden_path_validate/node_watchdog_effect.json
  scripts/validation/validate_clean_root.py
Due: check-ai-slop

fix(contract): register external publisher for cross-repo subscription in node_enforcement_feedback_effect [OMN-3376]
  src/omniintelligence/nodes/node_enforcement_feedback_effect/contract.yaml
Due: none

fix(contract): register publisher for onex.evt.intent.pattern.promoted.v1 in node_intelligence_reducer [OMN-3381]
  _golden_path_validate/node_pattern_projection_effect.json
  src/omniintelligence/nodes/node_intelligence_reducer/contract.yaml
Due: none

chore: update secrets baseline to cover golden-path fixture SHA256 hash [OMN-3376]
  .secrets.baseline
Due: none

fix(ci): update secrets baseline and fixture topic for OMN-3381
  .secrets.baseline
  _golden_path_validate/node_pattern_projection_effect.json
Due: none

fix(contract): register external publisher for cross-repo subscription in node_enforcement_feedback_effect [OMN-3376] (#283)
  .secrets.baseline
  _golden_path_validate/node_compliance_evaluate_effect.json
  src/omniintelligence/nodes/node_enforcement_feedback_effect/contract.yaml
Due: none

fix(contract): annotate external_publisher for routing-feedback cross-repo topic [OMN-3383]
  _golden_path_validate/node_routing_feedback_effect.json
  src/omniintelligence/nodes/node_routing_feedback_effect/contract.yaml
Due: none

fix(contract): register external publisher for cross-repo subscribe topic in node_llm_routing_decision_effect [OMN-3379]
  src/omniintelligence/nodes/node_llm_routing_decision_effect/contract.yaml
Due: none

fix(contract): register external publisher for cross-repo subscribe topic in node_pattern_feedback_effect [OMN-3380]
  _golden_path_validate/node_pattern_feedback_effect.json
  src/omniintelligence/nodes/node_pattern_feedback_effect/contract.yaml
Due: none

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

