Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

mypy-type-check:
  name: mypy (type checking)
  entry: uv run mypy --ignore-missing-imports --incremental
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-naming:
  name: onex-validate-naming
  entry: python scripts/validation/validate_naming.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-freeze-check:
  name: migration freeze check
  entry: ./scripts/check_migration_freeze.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

io-audit:
  name: io-audit (ONEX purity)
  entry: uv run python -m omniintelligence.audit.io_audit
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-transport-imports:
  name: validate-no-transport-imports (ARCH-002)
  entry: uv run python scripts/validate_no_transport_imports.py --exclude src/omniintelligence/runtime --exclude src/omniintelligence/api --exclude src/omniintelligence/clients
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-smoke:
  name: pytest (smoke tests)
  entry: uv run pytest tests/unit/tools/ -m unit --maxfail=3 -x --tb=short -q
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest-tools:
  name: pytest (tools/utils/runtime - full)
  entry: uv run pytest tests/unit/tools/ tests/unit/test_log_sanitizer.py -v --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-push

check-ai-slop:
  name: Check for AI-slop patterns
  language: system
  entry: uv run python scripts/validation/check_ai_slop.py
  pass_filenames: true
  stages:
  - pre-commit

fix(ci): allowlist test fixture hex string in detect-secrets [OMN-8706]
  tests/unit/runtime/test_dispatch_handler_code_entity_bridge.py
Due: check-ai-slop

fix(review-adapter): correct DeepSeek-R1 default URL + model ID [OMN-8654]
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  tests/unit/review_pairing/adapters/test_adapter_ai_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(codex-adapter): resolve codex binary via CODEX_BINARY env var + Homebrew fallback
  src/omniintelligence/review_pairing/adapters/adapter_codex_reviewer.py
  tests/unit/review_pairing/adapters/test_adapter_codex_reviewer.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

ci(handshake): drop path filter so gate runs on every PR [OMN-9049]
  .github/workflows/check-handshake.yml
Due: none

ci(handshake): drop path filter so gate runs on every PR [OMN-9049] (#594)
  .github/workflows/check-handshake.yml
Due: none

fix(ci): switch auto-merge workflow to squash method (OMN-9348)
  .github/workflows/auto-merge.yml
Due: none

fix(ci): switch auto-merge workflow to squash method (OMN-9348) (#595)
  .github/workflows/auto-merge.yml
Due: none

fix(ci): omit merge method flag for queue-enabled repo (OMN-9354)
  .github/workflows/auto-merge.yml
Due: none

fix(ci): omit merge method flag for queue-enabled repo (OMN-9354) (#596)
  .github/workflows/auto-merge.yml
Due: none

chore(ci): propagate normalization-symmetry-hook [bot] [OMN-9344]
  .pre-commit-config.yaml
Due: none

chore(ci): propagate normalization-symmetry-hook [bot] [OMN-9344] (#597)
  .pre-commit-config.yaml
Due: none

fix(ci): explicitly enqueue PR after arming auto-merge [OMN-9398]
  .github/workflows/auto-merge.yml
Due: none

fix: parallelize intelligence consumer startup
  src/omniintelligence/runtime/plugin.py
  tests/unit/runtime/test_plugin_dispatch.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat(OMN-7213): migrate hostile-reviewer MODEL_REGISTRY to YAML contract
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/model_registry_loader.py
  tests/unit/review_pairing/test_model_registry_loader.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

feat(OMN-7213): migrate hostile-reviewer MODEL_REGISTRY to YAML contract (#602)
  src/omniintelligence/review_pairing/adapters/adapter_ai_reviewer.py
  src/omniintelligence/review_pairing/model_registry.yaml
  src/omniintelligence/review_pairing/model_registry_loader.py
  src/omniintelligence/runtime/plugin.py
  tests/unit/review_pairing/test_model_registry_loader.py
  tests/unit/runtime/test_plugin_dispatch.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

refactor(omniintelligence): remove migrated node wiring
  pyproject.toml
  src/omniintelligence/nodes/node_intelligence_orchestrator/contract.yaml
  src/omniintelligence/nodes/node_intelligence_reducer/contract.yaml
  src/omniintelligence/nodes/node_quality_scoring_compute/contract.yaml
  src/omniintelligence/runtime/dispatch_handlers.py
  src/omniintelligence/runtime/message_type_registration.py
  src/omniintelligence/runtime/wiring.py
  tests/integration/runtime/test_intelligence_auto_wiring_e2e.py
  tests/unit/runtime/test_contract_topics.py
  tests/unit/runtime/test_dispatch_handler_reducer_ci.py
  tests/unit/runtime/test_message_type_registration.py
  tests/unit/test_package_installability.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

refactor(omniintelligence): remove migrated node wiring (#603)
  pyproject.toml
  src/omniintelligence/nodes/node_intelligence_orchestrator/contract.yaml
  src/omniintelligence/nodes/node_intelligence_reducer/contract.yaml
  src/omniintelligence/nodes/node_quality_scoring_compute/contract.yaml
  src/omniintelligence/runtime/dispatch_handlers.py
  src/omniintelligence/runtime/message_type_registration.py
  src/omniintelligence/runtime/wiring.py
  tests/integration/runtime/test_intelligence_auto_wiring_e2e.py
  tests/unit/runtime/test_contract_topics.py
  tests/unit/runtime/test_dispatch_handler_reducer_ci.py
  tests/unit/runtime/test_message_type_registration.py
  tests/unit/test_package_installability.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

chore(topics): add suppression markers to hardcoded topic strings (OMN-9151)
  src/omniintelligence/constants.py
  src/omniintelligence/model_selector/decision_emitter.py
  src/omniintelligence/model_selector/episode_emitter.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/models/enum_kafka_emission_status.py
  src/omniintelligence/runtime/contract_topics.py
  src/omniintelligence/runtime/contracts/runtime_config.yaml
  src/omniintelligence/runtime/model_intelligence_runtime_config.py
  src/omniintelligence/runtime/model_topic_config.py
  src/omniintelligence/runtime/promotion_scheduler.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

chore(topics): add suppression markers to hardcoded topic strings (OMN-9151) (#604)
  src/omniintelligence/constants.py
  src/omniintelligence/model_selector/decision_emitter.py
  src/omniintelligence/model_selector/episode_emitter.py
  src/omniintelligence/nodes/node_claude_hook_event_effect/models/enum_kafka_emission_status.py
  src/omniintelligence/runtime/contract_topics.py
  src/omniintelligence/runtime/contracts/runtime_config.yaml
  src/omniintelligence/runtime/model_intelligence_runtime_config.py
  src/omniintelligence/runtime/model_topic_config.py
  src/omniintelligence/runtime/promotion_scheduler.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

fix(runtime): align promotion dispatch aliases [OMN-9650]
  src/omniintelligence/runtime/dispatch_handler_promotion_check.py
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_dispatch_handler_promotion_check.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(runtime): align promotion dispatch aliases [OMN-9650] (#605)
  src/omniintelligence/runtime/dispatch_handler_promotion_check.py
  src/omniintelligence/runtime/dispatch_handlers.py
  tests/unit/runtime/test_dispatch_handler_promotion_check.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(OMN-9688): fix subscription rollback leak and update dispatch snapshot counts
  src/omniintelligence/runtime/plugin.py
  tests/unit/runtime/test_plugin_dispatch.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(OMN-9688): fix subscription rollback leak and update dispatch snapshot counts (#606)
  src/omniintelligence/runtime/plugin.py
  tests/unit/runtime/test_plugin_dispatch.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix(OMN-9535+9536): fix publish_topic_naming and bare topic violations
  src/omniintelligence/nodes/node_evidence_collection_effect/contract.yaml
  src/omniintelligence/nodes/node_routing_feedback_effect/contract.yaml
Due: none

fix(OMN-9694): update stale snapshot counts 37→38 routes, 28→29 handlers
  src/omniintelligence/repositories/learned_patterns.repository.yaml
  tests/unit/runtime/test_plugin_dispatch.py
Due: check-ai-slop

fix(OMN-9694): update stale snapshot counts 37→38 routes, 28→29 handlers (#608)
  src/omniintelligence/repositories/learned_patterns.repository.yaml
  tests/unit/runtime/test_plugin_dispatch.py
Due: check-ai-slop

fix: triage skipped tests in omniintelligence (OMN-6687)
  tests/integration/nodes/node_evidence_collection_effect/test_evidence_collection_integration.py
  tests/unit/tools/test_contract_linter_contracts.py
Due: pytest-smoke, pytest-tools, check-ai-slop

fix(OMN-9535+9536): fix publish_topic_naming and bare topic violations (#607)
  src/omniintelligence/nodes/node_evidence_collection_effect/contract.yaml
  src/omniintelligence/nodes/node_routing_feedback_effect/contract.yaml
Due: none

fix: triage skipped tests in omniintelligence (OMN-6687) (#609)
  tests/integration/nodes/node_evidence_collection_effect/test_evidence_collection_integration.py
  tests/unit/tools/test_contract_linter_contracts.py
Due: pytest-smoke, pytest-tools, check-ai-slop

fix(OMN-8157): add routing.feedback deprecated drain to contract and tests
  src/omniintelligence/nodes/node_routing_feedback_effect/contract.yaml
  src/omniintelligence/nodes/node_routing_feedback_effect/node_tests/test_handler_legacy_drain.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(OMN-8157): add routing.feedback deprecated drain to contract and tests (#610)
  src/omniintelligence/nodes/node_routing_feedback_effect/contract.yaml
  src/omniintelligence/nodes/node_routing_feedback_effect/node_tests/test_handler_legacy_drain.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

test(OMN-8175): add routing feedback dispatch golden chain test
  tests/test_golden_chain_routing_feedback.py
Due: check-ai-slop

test(OMN-8175): add routing feedback dispatch golden chain test (#611)
  tests/test_golden_chain_routing_feedback.py
Due: check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

