Repository OmniNode-ai/omniintelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, onex-validate-naming, migration-freeze-check, io-audit, validate-no-transport-imports, pytest-smoke, pytest-tools, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^src/omniintelligence/.*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  onex-validate-naming: any of: ^src/omniintelligence/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  migration-freeze-check: any of: ^(deployment/database/migrations/|\.migration_freeze), but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$

  io-audit: any of: ^(src/omniintelligence/nodes/|src/omniintelligence/audit/) and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  validate-no-transport-imports: any of: ^src/omniintelligence/nodes/ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-smoke: any of: ^(src/omniintelligence/tools/|tests/unit/tools/).*\.py$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  pytest-tools: any of: ^(src/omniintelligence/(tools|utils|runtime)/.*\.py|tests/unit/tools/.*\.py|tests/unit/test_log_sanitizer\.py)$ and \.py$ and not ((?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$
)
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$, but not: (?x)^(
  # Tier 1: Archival/dead code - never process
  # Legacy code preserved for migration reference
  _legacy/.*|
  src/omniintelligence/_legacy/.*|
  # Original omniarchon source - read-only reference
  migration_sources/.*|
  # Git internals - not user code
  \.git/.*
)$


fix(crawl): use OMNI_HOME env var for repo paths, remove hardcoded paths [OMN-7232]
  src/omniintelligence/nodes/node_code_crawler_effect/contract.yaml
  src/omniintelligence/nodes/node_code_crawler_effect/handlers/handler_crawl_files.py
  src/omniintelligence/nodes/node_code_crawler_effect/handlers/handler_onextree_generator.py
  src/omniintelligence/runtime/dispatch_handler_code_extract.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

fix: resolve ruff format, lint, and EXE001 violations [OMN-7232]
  scripts/backfill_episodes.py
  scripts/backfill_pattern_projection.py
  scripts/bootstrap_promote_candidates.py
  scripts/check_no_untyped_metadata.py
  scripts/crawl_code_entities.py
  scripts/infer_contracts.py
  scripts/migration/apply_migrations.py
  scripts/seed_learned_patterns.py
  scripts/seed_patterns_from_families.py
  scripts/validate_no_env_fallbacks.py
  scripts/validation/check_ai_slop.py
  scripts/validation/lint_topic_names.py
  scripts/validation/validate_clean_root.py
  scripts/validation/validate_naming.py
  scripts/verify_pattern_lifecycle_e2e.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_code_file_discovered_event.py
  src/omniintelligence/runtime/dispatch_handler_code_extract.py
  tests/unit/nodes/node_code_crawler_effect/test_onextree_generator.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

feat(intelligence): embed source content in crawl events [OMN-7232] (#532)
  scripts/backfill_episodes.py
  scripts/backfill_pattern_projection.py
  scripts/bootstrap_promote_candidates.py
  scripts/check_no_untyped_metadata.py
  scripts/crawl_code_entities.py
  scripts/infer_contracts.py
  scripts/migration/apply_migrations.py
  scripts/seed_learned_patterns.py
  scripts/seed_patterns_from_families.py
  scripts/validate_no_env_fallbacks.py
  scripts/validation/check_ai_slop.py
  scripts/validation/lint_topic_names.py
  scripts/validation/validate_clean_root.py
  scripts/validation/validate_naming.py
  scripts/verify_pattern_lifecycle_e2e.py
  src/omniintelligence/nodes/node_ast_extraction_compute/models/model_code_file_discovered_event.py
  src/omniintelligence/nodes/node_code_crawler_effect/contract.yaml
  src/omniintelligence/nodes/node_code_crawler_effect/handlers/handler_crawl_files.py
  src/omniintelligence/nodes/node_code_crawler_effect/handlers/handler_onextree_generator.py
  src/omniintelligence/nodes/node_code_crawler_effect/models/model_code_file_discovered_event.py
  src/omniintelligence/runtime/dispatch_handler_code_extract.py
  tests/unit/nodes/node_ast_extraction_compute/test_event_models.py
  tests/unit/nodes/node_code_crawler_effect/test_model_code_file_discovered_event.py
  tests/unit/nodes/node_code_crawler_effect/test_onextree_generator.py
  tests/unit/runtime/test_dispatch_handler_code_extract.py
  tests/unit/runtime/test_dispatch_handler_code_pipeline.py
  tests/unit/runtime/test_dispatch_handler_extract_routing.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, pytest-tools, check-ai-slop

fix(api): use correct column name 'status' in retention cleanup SQL [OMN-7234]
  src/omniintelligence/api/retention_cleanup.py
  tests/unit/api/test_retention_cleanup.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix(api): use correct column name 'status' in retention cleanup SQL [OMN-7234] (#533)
  src/omniintelligence/api/retention_cleanup.py
  tests/unit/api/test_retention_cleanup.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

fix: set is_current=TRUE for version-1 patterns and lifecycle transitions
  scripts/backfill_is_current.sql
  src/omniintelligence/nodes/node_pattern_lifecycle_effect/handlers/handler_transition.py
  src/omniintelligence/nodes/node_pattern_lifecycle_effect/node_tests/conftest.py
  src/omniintelligence/repositories/learned_patterns.repository.yaml
  tests/unit/test_pattern_pipeline_is_current_fix.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix(ci): ruff format + import sort on test file
  tests/unit/test_pattern_pipeline_is_current_fix.py
Due: check-ai-slop

fix: set is_current=TRUE for version-1 patterns and lifecycle transitions (#534)
  scripts/backfill_is_current.sql
  src/omniintelligence/nodes/node_pattern_lifecycle_effect/handlers/handler_transition.py
  src/omniintelligence/nodes/node_pattern_lifecycle_effect/node_tests/conftest.py
  src/omniintelligence/repositories/learned_patterns.repository.yaml
  tests/unit/test_pattern_pipeline_is_current_fix.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix: remove is_current filter from pattern read queries, insert with TRUE
  src/omniintelligence/nodes/node_pattern_demotion_effect/handlers/handler_demotion.py
  src/omniintelligence/nodes/node_pattern_promotion_effect/handlers/handler_auto_promote.py
  src/omniintelligence/nodes/node_pattern_promotion_effect/handlers/handler_promotion.py
  src/omniintelligence/repositories/learned_patterns.repository.yaml
  tests/unit/test_pattern_pipeline_is_current_fix.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix: stop writing is_current in normal insert paths, rely on DB default
  src/omniintelligence/repositories/learned_patterns.repository.yaml
  tests/unit/test_pattern_pipeline_is_current_fix.py
Due: check-ai-slop

fix: remove is_current filter from pattern read queries (#535)
  src/omniintelligence/nodes/node_pattern_demotion_effect/handlers/handler_demotion.py
  src/omniintelligence/nodes/node_pattern_promotion_effect/handlers/handler_auto_promote.py
  src/omniintelligence/nodes/node_pattern_promotion_effect/handlers/handler_promotion.py
  src/omniintelligence/repositories/learned_patterns.repository.yaml
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat: wire ChangeFrame data from STOP payload into objective evaluation [OMN-7378]
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  tests/unit/nodes/node_claude_hook_event_effect/test_handle_stop.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat: wire ChangeFrame data from STOP payload into objective evaluation [OMN-7378] (#536)
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  tests/unit/nodes/node_claude_hook_event_effect/test_handle_stop.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix: update is_current test assertions after PR #535 removal [OMN-7040]
  tests/unit/test_pattern_pipeline_is_current_fix.py
Due: check-ai-slop

fix: update is_current test assertions after PR #535 removal [OMN-7040] (#537)
  tests/unit/test_pattern_pipeline_is_current_fix.py
Due: check-ai-slop

release: omniintelligence v0.23.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-ai-slop

fix: add coverage.json to .gitignore
  .gitignore
Due: none

docs: remove stale 192.168.86.200 reference from CLAUDE.md
  CLAUDE.md
Due: check-ai-slop

chore: fix pre-existing mypy errors and clean project root
  src/omniintelligence/adapters/adapter_kafka.py
  src/omniintelligence/decision_store/__main__.py
  src/omniintelligence/nodes/node_context_item_writer_effect/node_tests/test_handler_context_item_writer.py
  src/omniintelligence/nodes/node_navigation_retriever_effect/node_tests/test_handler_navigation_retrieve.py
  src/omniintelligence/nodes/node_pattern_extraction_compute/handlers/handler_store_node_families.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

fix: add session_id dedup to pattern learning emission [OMN-7608]
  src/omniintelligence/nodes/node_claude_hook_event_effect/handlers/handler_claude_event.py
  tests/unit/nodes/node_claude_hook_event_effect/test_handle_stop.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

chore: remove stale TODOs for completed tickets
  src/omniintelligence/nodes/node_intent_classifier_compute/contract.yaml
  src/omniintelligence/nodes/node_pattern_extraction_compute/contract.yaml
  src/omniintelligence/nodes/node_pattern_storage_effect/handlers/handler_promote_pattern.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

chore: remove stale TODOs for completed tickets (#549)
  src/omniintelligence/nodes/node_intent_classifier_compute/contract.yaml
  src/omniintelligence/nodes/node_pattern_extraction_compute/contract.yaml
  src/omniintelligence/nodes/node_pattern_storage_effect/handlers/handler_promote_pattern.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop

feat: backfill golden_path on pattern, routing, and evaluation seam contracts [OMN-7732]
  src/omniintelligence/nodes/node_evidence_collection_effect/contract.yaml
  src/omniintelligence/nodes/node_llm_routing_decision_effect/contract.yaml
  src/omniintelligence/nodes/node_pattern_storage_effect/contract.yaml
Due: none

feat: backfill golden_path on pattern, routing, and evaluation seam contracts [OMN-7732] (#550)
  src/omniintelligence/nodes/node_evidence_collection_effect/contract.yaml
  src/omniintelligence/nodes/node_llm_routing_decision_effect/contract.yaml
  src/omniintelligence/nodes/node_pattern_storage_effect/contract.yaml
Due: none

fix: lint import sorting in engine.py [OMN-7793]
  src/omniintelligence/review_pairing/engine/engine.py
Due: mypy-type-check, onex-validate-naming, check-ai-slop

style: apply ruff format to calibration integration test
  tests/integration/review_pairing/test_calibration_integration.py
Due: check-ai-slop

fix: sort imports in review_pairing test files
  tests/unit/review_pairing/engine/test_engine.py
  tests/unit/review_pairing/reducer/test_reducer.py
  tests/unit/review_pairing/test_models.py
  tests/unit/review_pairing/verifier/test_verifier.py
Due: check-ai-slop

fix: include pattern_signature in backfill projection payload
  scripts/backfill_pattern_projection.py
Due: check-ai-slop

fix: include pattern_signature in backfill projection payload (#552)
  scripts/backfill_pattern_projection.py
Due: check-ai-slop

feat: add standalone promotion check script for alpha readiness (OMN-7810)
  scripts/run_promotion_check.py
Due: check-ai-slop

fix: update secrets baseline for promotion check script false positive
  .secrets.baseline
Due: none

feat: standalone promotion check script for alpha readiness [OMN-7810] (#553)
  .secrets.baseline
  scripts/run_promotion_check.py
Due: check-ai-slop

feat: enable event_bus on node_ast_extraction_compute [OMN-7652]
  src/omniintelligence/nodes/node_ast_extraction_compute/contract.yaml
  src/omniintelligence/runtime/contract_topics.py
  tests/unit/runtime/test_contract_topics.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

feat: enable event_bus on node_ast_extraction_compute [OMN-7652] (#554)
  src/omniintelligence/nodes/node_ast_extraction_compute/contract.yaml
  src/omniintelligence/runtime/contract_topics.py
  tests/unit/runtime/test_contract_topics.py
Due: mypy-type-check, onex-validate-naming, pytest-tools, check-ai-slop

fix: add is_current to upsert_pattern INSERT column list
  src/omniintelligence/repositories/learned_patterns.repository.yaml
Due: none

feat(OMN-8144): wire quality-score trigger in node_pattern_feedback_effect
  src/omniintelligence/constants.py
  src/omniintelligence/nodes/node_pattern_feedback_effect/contract.yaml
  src/omniintelligence/nodes/node_pattern_feedback_effect/handlers/handler_session_outcome.py
  tests/unit/nodes/node_pattern_feedback_effect/test_handler_session_outcome.py
Due: mypy-type-check, onex-validate-naming, io-audit, validate-no-transport-imports, check-ai-slop
